[2013-01-14 21:29] electrical opened #1 "Provide a way to deploy jar file instead of a package"
Some people rather have the jar file deployed instead of a package.
Find a way to deploy the jar file and init file

[2013-01-25 02:29] electrical opened #2 "Create a way to automatically collect hosts for unicast cluster"
For an ES cluster with Unicast the nodes need to be defined in the configuration.
Instead of manually configuring that, it would be nice to have an automated way to do that.

[2013-02-12 19:18] electrical opened #3 "Manage templates in ES"
Possibility to manage Templates.

Adding from json file
Replacing from json file
Remove template from ES

[2013-02-13 16:14] electrical opened #4 "Add default java packages with possibility to be overwritten."
Currently i assume the user takes care of the java installation.
To make it more user friendly add the installation of java for the OS with possibility to override that.

[2013-02-14 23:56] #4 closed, assigned to nobody

[2013-02-14 23:56] #1 closed, assigned to nobody

[2013-02-20 05:46] furlongm opened #6 "service provider init required on ubuntu when using elasticsearch installed from deb"
otherwise start/stop/status does not work.

diff -wurN ../testing/elasticsearch/manifests/service.pp ../development/elasticsearch/manifests/service.pp
--- ../testing/elasticsearch/manifests/service.pp       2013-02-16 14:07:41.000000000 +1100
+++ ../development/elasticsearch/manifests/service.pp   2013-02-19 18:05:08.762583248 +1100
@@ -80,6 +80,7 @@
     hasstatus  => $elasticsearch::params::serv

[2013-02-28 21:28] electrical opened #8 "Setting a value to false is commented out."
Reported on IRC:

[10:09.54] <surfichris> Electrical: quick question about puppet-elasticsearch. what's the reasoning behind－ commenting out lines if the value is false?
[10:11.30] <Electrical> surfichris: hi. in which part?
[10:12.18] <surfichris> specifically this: https://github.com/electrical/puppet-elasticsearch/blob/master/templates/etc/ elasticsearch/elasticsearch.yml.erb#L6
[10:13.00] <sur

[2013-03-01 20:55] #3 closed, assigned to nobody

[2013-03-02 13:55] electrical opened #9 "config template does not full recursive print out the config hash"
in the config file it currently assumes it only has 2 levels.
Need to refactor it to do recursively print the hash.

[2013-03-03 11:58] #8 closed, assigned to nobody

[2013-03-03 20:49] #9 closed, assigned to nobody

[2013-03-03 23:15] electrical opened #11 "Allow shorter keys in the config hash"
Currently the config hash needs to be completely written out like

{ 'cluster' => { 'name' => 'somename', 'routing' => { 'allocation' => { 'awareness' => { 'attributes' => 'rack' } } } } }

Would be nice if we can rewrite that to:

{ 'cluster' => { 'name' => 'somename', 'routing.allocation.awareness.attributes' => 'rack' } }

[2013-03-05 17:21] #11 closed, assigned to nobody

[2013-03-06 11:35] electrical opened #12 "Provide define to install plugins"
want to automate the installation of plugins.

http://www.elasticsearch.org/guide/reference/modules/plugins.html

[2013-03-12 06:25] #6 closed, assigned to nobody

[2013-03-14 12:15] electrical opened #13 "In some cases /etc/elasticsearch dir doesn't exists"
Reported on IRC

err: /Stage[main]/Elasticsearch::Config/File[/etc/elasticsearch/elasticsearch.yml]/ensure: change from absent to file failed: Could not set 'file on ensure: No such file or－
directory - /etc/elasticsearch/elasticsearch.yml.puppettmp_6029 at /etc/puppet/modules/elasticsearch/manifests/config.pp:42

Solution: Make sure we manage the existence of that directory just in case.

[2013-03-14 15:07] #13 closed, assigned to nobody

[2013-03-18 14:08] rtoma opened #15 "spec/fixtures/modules/boilerplate"
File "spec/fixtures/modules/boilerplate" is a symlink to your homedir: /home/richard/puppet/modules/shared/elasticsearch. Could you maybe share (or remove) this file?

[2013-03-22 06:27] #15 closed, assigned to nobody

[2013-04-24 15:39] mbornoz opened #22 "Input validation for the init file parameters"
Following the discussion of this PR:
https://github.com/electrical/puppet-elasticsearch/issues/21

Set of variables should be based on:
https://github.com/elasticsearch/elasticsearch/blob/master/src/deb/default/elasticsearch
https://github.com/elasticsearch/elasticsearch/blob/master/src/rpm/sysconfig/elasticsearch

From what I know, there is no official RPM provided by elasticsearch and therefore

[2013-05-22 00:51] joejulian opened #28 "README is incorrect"
The readme suggests the class can be implemented without parameters, yet the config parameter is required.

[2013-05-23 10:11] #28 closed, assigned to nobody

[2013-05-24 19:26] electrical opened #33 "Correct template variables"
Template variables are currently specified as 'name' but need to be '@name'

[2013-06-13 03:23] blalor opened #34 "logrotate support needed"
`/var/log/elasticsearch/${cluster.name}*.log` needs to be rotated via logrotate.

[2013-06-13 13:22] blalor opened #35 "Please push new release"
I need the fix for #32. :-)

[2013-06-14 12:23] #33 closed, assigned to nobody

[2013-06-14 12:24] #35 closed, assigned to nobody

[2013-07-02 18:59] mikehaertl opened #39 "Latest version of elasticsearch can't be installed"
I've installed your package under Vagrant and tried to install elasticsearch `0.90.2` on a precise64 box with a configuration like this:

[code]

During `vagrant provision` i get this error:

[code]

I have to admit that i'm quite new to puppet, so maybe i miss a basic step. But isn't the main idea that the module should take care of the complete installation process and add apt repos if neccessar

[2013-07-02 20:22] #39 closed, assigned to nobody

[2013-07-18 05:15] deanmalmgren opened #44 "dpkg provider is not versionable"
Specifying the `version` does not work with the dpkg provider ([it is not versionable](http://docs.puppetlabs.com/references/latest/type.html#package)) on Ubuntu/Debian systems. This:

[code]

results in this:

[2013-07-29 19:26] joejulian opened #45 "Puppet 3.2 requires the qualification or path of executables"
Error: Failed to apply catalog: Validation of Exec[mkdir_templates] failed: 'mkdir -p /etc/elasticsearch/templates_import' is not qualified and no path was specified. Please qualify the command or specify a path. at /etc/puppet/modules/elasticsearch/manifests/config.pp:57

[2013-08-02 13:31] #12 closed, assigned to nobody

[2013-08-02 13:32] #22 closed, assigned to nobody

[2013-08-02 13:39] #44 closed, assigned to nobody

[2013-08-13 12:19] #45 closed, assigned to nobody

[2013-08-16 12:41] sw-irou opened #49 "config.pp -> mkdir_templates should have a path"
It'd be good to have a path set in mkdir_templates to avoid errors if there aren't default paths specified elsewhere.

I think the following line should sort it:
path    => ['/sbin', '/usr/sbin', '/bin', '/usr/bin'],

[2013-08-19 09:25] #49 closed, assigned to nobody

[2013-08-23 12:27] acidChrist opened #50 "Could not apply complete catalogue"
I have found the issue where really don't know how move forward. I have read the issue https://github.com/electrical/puppet-elasticsearch/issues/39 which helped me a lot but look at this please:

err: Could not apply complete catalog: Found 1 dependency cycle:
(File[/etc/default/elasticsearch] => Class[Elasticsearch::Service] => Class[Elasticsearch::Package] => File[/tmp/elasticsearch-0.90.3.deb]

[2013-08-29 14:31] Nikerabbit opened #51 "Installing on Ubuntu 10.04 fails"
I tried to use this module, but it fails with this error:
Error: /Stage[main]/Elasticsearch::Service/Service[elasticsearch]: Could not evaluate: Could not find init script for 'elasticsearch'

My puppet version is 3.2.4.

[2013-09-05 13:37] jeffthomassen opened #52 "Dependency Cycle Error"
When testing  I noticed that the following setting caused a dependency error.

 $ensure = 'absent'

Error: Could not apply complete catalog: Found 1 dependency cycle:
(File[/etc/elasticsearch/elasticsearch.yml] => Class[Elasticsearch::Service] => File[/etc/sysconfig/elasticsearch] => Class[Elasticsearch::Service] => Class[Elasticsearch::Package] => Package[elasticsearch] => Class[Elasticsearch::Pa

[2013-09-05 15:19] Rockstar04 opened #53 "Tag next release"
Are there any issues blocking a new release? Currently v 0.1.2 is failing completely with puppet version 3.2.4 on Ubuntu.

[2013-09-05 15:31] #53 closed, assigned to nobody

[2013-09-06 08:48] #52 closed, assigned to nobody

[2013-09-06 08:48] #51 closed, assigned to nobody

[2013-09-06 08:49] #50 closed, assigned to nobody

[2013-10-08 07:37] electrical opened #54 "[Discussion] Logging define to manage the logging.yml file"
Im planning to create a define to manage the logging.yml file.
Any idea's about it are welcome.

[2013-10-16 21:12] nettles-jarrod opened #55 "Module does not install on CentOS"
Tried provisioning a blank Vagrant box (CentOS 6.2 x64) and get the following error:

[code]

This makes sense, since when I try simply running "yum install elasticsearch" inside the VM it returns "Nothing to do."

Any tips for proceeding with CentOS?

[2013-10-25 12:19] ctrlaltdel opened #56 "elasticsearch.yml content overwritten"
[code]

[2013-10-25 12:40] #55 closed, assigned to nobody

[2013-11-08 16:31] snobear opened #59 "data directory setting ignored"
I'm trying to set the data directory path, but it seems to be ignored.  Here's my current settings:

**/etc/elasticsearch/elasticsearch.yml**

[code]

when I try to start elasticsearch:

[code]

You can see it's referencing the default /usr/share/elasticsearch and not my custom setting.

I'm running CentOS 6.4.   The init script references `$DATA_DIR`.  I'm not sure if this needs to be set at the

[2013-11-12 20:15] #59 closed, assigned to nobody

[2013-11-13 13:54] electrical opened #60 "Working on a rewrite of the module"
Currently im working on a re-write of the module to support future needs better.

See the tree https://github.com/elasticsearch/puppet-elasticsearch/tree/rewrite

[2013-11-19 15:24] #60 closed, assigned to nobody

[2013-11-19 15:24] #56 closed, assigned to nobody

[2013-11-20 08:48] #34 closed, assigned to nobody

[2013-11-27 09:17] electrical opened #62 "[Discussion] multi-instance support"
Im thinking of adding multi instance support to this module when people have hardware that are strong enough to run more then 1 instance.

Any specific functions that would need to be in there?

[2013-11-28 17:00] electrical opened #63 "Use merge function from stdlib to overwrite settings for the defaults file set in the params.pp"
Currently there is sort of a default hash set in the params.pp for the init defaults file.
most people will want to overwrite only a few of those and not all of them.

By using the [merge](https://github.com/puppetlabs/puppetlabs-stdlib#merge) function from puppetlabs-stdlib we can merge the 2 hashes and overwrite the defaults with the things people specify.

[2013-12-04 11:38] #63 closed, assigned to nobody

[2013-12-09 12:40] bodgit opened #65 "Jetty plugin install fails on subsequent runs"
I'm trying to install the Jetty plugin for Elasticsearch, so I have the following in my manifests, (as per the example):

[code]

This seems to work fine on the first run to install the plugin, but on subsequent runs I get the following error:

[code]

I'm using Elasticsearch 0.90.7 via the vendor RPM.

[2013-12-09 16:08] #65 closed, assigned to nobody

[2014-01-16 01:07] kpears201 opened #69 "Upgrading to a new elasticsearch version does not restart the service"
In package.pp, the package resource should notify the service or the new version will not take effect.

Steps to reproduce:
1. Set version to 0.90.9 on the elasticsearch class
2. Run puppet to install and start elasticsearch
3. Change the version to 0.90.10 on the elasticsearch class
4. Rerun puppet. Notice that the package version gets changed to 0.90.10
5. Do a GET on _cluster/nodes/. Observe th

[2014-01-21 16:05] thoas opened #70 "Provider must have features 'versionable' to set"
Based on this issue #44 with the 0.2.0 version I'm getting the following error

[code]

With the following configuration:

[code]

[2014-01-21 17:55] #70 closed, assigned to nobody

[2014-01-31 19:34] pippobaudos opened #73 "Problem using init_defaults with Fedora"
Hi,
I have used the module under ubuntu without any problem, using most of the features. Today, under Fedora, I have realized that there are some problems with the  init_defaults parameter:

Under ubuntu this configuration is OK:
class { 'elasticsearch':
   package_url => 'https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-0.90.10.deb',
   init_defaults => { 'ES_USER' =>

[2014-02-06 18:01] #73 closed, assigned to nobody

[2014-02-06 18:18] electrical opened #75 "Add force option to template define"
The force option will allow you to replace the template in elasticsearch even if the json file it self hasn't been replaced.
Any use for this?

[2014-02-06 18:27] electrical opened #76 "Make sure template insert exec resource fails when the json file is wrong and ES returns an error."
Currently when the json file structure is wrong the exec resource doesn't fail so people think the run was okay.
See if we can improve that.

[2014-02-11 11:31] #75 closed, assigned to nobody

[2014-02-11 14:18] #76 closed, assigned to nobody

[2014-02-11 16:39] #69 closed, assigned to nobody

[2014-02-12 09:52] mfournier opened #79 "install curator"
Would it be an idea to install curator alongside elasticsearch ? Probably as an option, disabled by default. Not sure if this would belong here or in the puppet-logstash module, actually.

The point is that most people using elasticsearch with logstash probably need & want curator, so I think it makes sense to make its installation and configuration part of the same bundle.

I just wanted to have

[2014-02-12 18:29] mrbanzai opened #80 "Default user / group not written to /etc/sysconfig/elasticsearch"
Currently, it appears that `/etc/sysconfig/elasticsearch` is only written out with the values passed in for `init_defaults`, meaning that user and group are not defined if not provided explicitly (such as when using the defaults).  This seems to cause the initscript to fail starting the service, as `$ES_USER` is not defined prior to the call to `daemon`.

This causes the following message when att

[2014-02-17 21:24] seang-es opened #81 "Two nodes running on host after clean install on Ubuntu 12"
After removing the existing installation and installing a new one using puppet, I sometimes get two nodes running after the install completes.  The pid file matches the second node, not the first.  From the debug logs of the puppet agent, it looks like after the initial start, the pidfile is not created or is incorrect, and the '/etc/init.d/elasticsearch status' check fails, which seems to trigger

[2014-02-18 17:31] electrical opened #82 "Add OpenSuse support"
Want to add OpenSuse support to the modules.
- Add service/systemd define for handing the service stuff
- Add facter variables to params.pp
- Make sure we manage all files. ( https://github.com/elasticsearch/elasticsearch/tree/master/src/rpm/systemd )
- Add OpenSuse Rspec testing
- Add Opensuse to beaker testing
- Add Repo support for Zypper ( see https://en.opensuse.org/User:Tsu2/elasticsearch_lo

[2014-02-20 10:53] #81 closed, assigned to nobody

[2014-02-20 11:26] #79 closed, assigned to nobody

[2014-02-21 01:38] rumcho opened #86 "Change default port 9200"
Hello, all,
## I'm deploying an elasticsearch service. However, I would like to change the default port 9200 that kibana is connecting to a different value. I saw this in the README but it doesn't address my needs:

[code]
##

The file that needs changed is /etc/elasticsearch/elasticsearch.yml and the "http.port = xyz" added to it.
Does the recipe come with the capability to change the default por

[2014-02-21 14:28] electrical opened #88 "Need to add more testing"
## Rspec tests

None planned yet
## System tests
- When using a remote package via package_url
  - http source
    - Run twice for idom check
    - Check if package is installed correctly
  - local file source
    - Run twice for idom check
    - Check if package is installed correctly
  - puppet source
    - Run twice for idom check
    - Check if package is installed correctly

[2014-02-21 14:28] #86 closed, assigned to nobody

[2014-02-24 17:40] electrical opened #94 "Add support for other OS's / distro's"
This issue can work as a wishlist for adding support for other OS's / distro's.
- Slackware
- OSX
- BSD

[2014-02-25 11:05] #82 closed, assigned to nobody

[2014-02-28 10:22] #88 closed, assigned to nobody

[2014-03-04 12:01] electrical opened #99 "Add support for supplying other repositories"
At the moment when using the repo management it only allows to use our official repo's.
Could come handy at some point for people to supply their own repo servers ( for large setups for example )

[2014-03-17 11:04] #80 closed, assigned to nobody

[2014-03-26 13:07] dblessing opened #105 "init_defaults doesn't work properly with java opts values"
One of the configs that can be set in the elasticsearch defaults file is ES_JAVA_OPTS. There are 2 issues in this module that cause settings this variable to fail.

First, I think there need to be quotes around the value in the set command - i.e. "set ES_JAVA_OPTS "values here". Right now there are no quotes.

Second, even with quotes it appears the shellvars lens doesn't like the java opts value

[2014-03-26 18:13] jsnod opened #107 "Plugins installed with wrong permissions"
I just attempted to install Marvel with the following:

[code]

It installed the plugin files into the proper place (/usr/share/elasticsearch/plugins), however, everything gets created and owned by the root user, so ES is unable to load the plugin.  In fact, ES won't start up at all with the following:

[code]

I'm able to fix this by manually running the following:

[code]

This allows the ES use

[2014-03-28 16:52] #107 closed, assigned to nobody

[2014-03-28 16:52] #105 closed, assigned to nobody

[2014-04-03 11:38] bodgit opened #113 "Plugin directory is not created before plugins are installed"
The plugin directory is not required before plugins are installed so the first Puppet run doesn't always work:

[code]

Subsequent runs work. Possibly with the change to installing plugins as the Elasticsearch user the plugin directory can't be created automatically now.

[2014-04-07 10:54] #113 closed, assigned to nobody

[2014-04-10 18:42] benben opened #115 "using init_defaults introduces augeas module as dependency"
If I'm doing something like

[code]

Then `puppet apply` fails for my saying that it doesnt find a provider for `augeas` because this module uses it internally to set these config values. Either we put this in the README or add the module [camptocamp/augeas](https://forge.puppetlabs.com/camptocamp/augeas) to the dependencies. What do you think?

:sparkling_heart:

[2014-04-23 08:57] glennjacobs opened #117 "Missing config hash"
I'm getting this error when trying to use the Elasticsearch module.

[code]

I'm using CentoOS and haven't a clue what to do to remove this error. Can anyone help?

[2014-04-23 21:39] cwneal opened #118 "Hash value for config variable not accepted via Puppet Enterprise"
Hi.

_Excellent_ module!  My only issue is that using Puppet Enterprise, I was not able to get the config hash to be accepted.  Puppet runs always fail telling me that the value is a string, not a hash.

I asked PuppetLabs, and they said it was a bug in the module, hence this entry.

I worked around it by updating the default value for the config variable, but it would be nice to not need the work

[2014-04-24 15:03] jpedro-barbosa opened #119 "Fails to load plugins"
$ puppet module list
/home/ubuntu/.puppet/modules
├── elasticsearch-elasticsearch (v0.3.1)
└── puppetlabs-stdlib (v4.1.0)

$ cat test.pp
node default {

  elasticsearch::plugin{ 'elasticsearch-jetty':
    module_dir => 'jetty',
    url        => 'https://oss-es-plugins.s3.amazonaws.com/elasticsearch-jetty/elasticsearch-jetty-0.90.0.zip'
  }

}

$ puppet apply test.pp
Warning: Scope(Elasticsearch::

[2014-05-10 13:00] djui opened #126 "Can't install elasticsearch python binding"
Can't install `elasticsearch` python binding using

[code]

as Puppet complaints about:

[code]

[2014-05-11 12:10] #126 closed, assigned to nobody

[2014-05-16 17:16] cwneal opened #129 "changing datadir not working?"
Hi. :)

I'm supplying a value for the datadir variable, but not seeing it reflected anywhere in either elasticsearch.yml, or in /etc/sysconfig/elasticsearch.  Seems pretty straightforward, so not sure what I could be doing wrong?

The directory does get created, it just doesn't seem to be passed to the running process anywhere.

Thanks!

[2014-05-16 17:54] cwneal opened #130 "configuring unicast?"
Hi.

I'm trying to configure unicast via the config hash, but nodes do not ever detect a master.  Here is my config hash:

  $config = {
    'node' => { 'name' => $node_name },
    'discovery' => { 'zen' => { 'minimum_master_nodes' => '2', 'ping' => { 'multicast' => 'false', 'unicast' => 'ip-10-0-0-45:9200,ip-10-0-0-41:9200' } } },
    'gateway' => { 'recover_after_nodes' => '2' },
    'cluster' =

[2014-05-19 19:00] rumcho opened #131 "if condition in puppet recipe"
Hello, Richard,
I am pulling logs from different log files in tomcat - one is an tomcat access log and the other logs java stack trace data.
## To separate the two streams I am using an if statement in my filter, e.g.:
## if [type] == "java_stack_trace" {

How do I implement the if statement using the puppet-elasticsearch recipe?

[2014-05-20 15:51] #131 closed, assigned to nobody

[2014-05-22 14:53] #118 closed, assigned to nobody

[2014-05-22 14:54] #117 closed, assigned to nobody

[2014-05-22 14:54] #115 closed, assigned to nobody

[2014-05-22 15:17] #130 closed, assigned to nobody

[2014-05-29 13:29] #129 closed, assigned to nobody

[2014-06-02 13:10] #119 closed, assigned to nobody

[2014-06-03 23:06] ejsarge-gr opened #136 "Service is not restarted when elasticsearch version updated"
Steps:
1. Use the module to install elasticsearch at v 1.1.0.
2. Ensure the elasticsearch is started, `curl localhost:9200` should return 1.1.0.
3. Use the module to install elasticsearch at v1.2.1.

Expected results:
`curl localhost:9200` should return v1.2.1

Actual results:
`curl localhost:9200` returns v1.1.0

I found this behaviour surprising. I would have expected the package to notify the s

[2014-06-10 17:17] electrical opened #138 "System tests"
With the new multi instance feature just around the doorstep I've made a full list of the current system tests I have.
Like to discuss them and see if I missed anything obviously.

[code]

[2014-06-12 13:05] efontana opened #139 "During early bootstrapping of a new system wget and curl shouldn't require certs"
I'm spinning up several new VMs and the certs are not yet in place.  adding

--no-check-certificate (wget) and -k (curl) clears this up, i've got a pull request ready.

[2014-06-17 14:56] jurgenweber opened #141 "migrating from before 'instances' to now"
I upgraded the module, b ut now it supports instances..... previous version was "5edf7f40f486bde2293c7140cafe7ecbea548b4c".

the error I received was from my plugin installation and it requires the 'instances' parameter.

this is broken from the elastic search class call which does not define an instance. What is the best way to migrate between the two versions without using functionality or havin

[2014-06-25 08:25] #62 closed, assigned to nobody

[2014-06-26 19:47] jezdez opened #143 "ruby-augeas depdency missing"
In the official Vagrant Ubuntu 12.04 box this leads to this hard to debug error:

[code]

Adding this to our manifest fixed it but this should better be in this module instead:

[code]

[2014-07-01 22:48] djui opened #145 "Bug in python client/bindings for elasticsearch pip package"
When trying to use the `elasticsearch` pip package I get:

[code]

I think the last fix bda8bc2234d32788f75c679f153876133f00d871 did not help.

[2014-07-02 12:27] #139 closed, assigned to nobody

[2014-07-03 11:16] electrical opened #146 "Puppet versions"
Hi all,

I would like to see which puppet versions people use so i can decide if its useful to keep supporting older versions.
As it stands now there are some bugs in older versions ( especially pre 3.2 ) which make it harder to maintain the modules.

Cheers.

[2014-07-07 16:22] richtmat opened #147 "Invalid resource type anchor on ubuntu trusty / vagrant"
I want to set up an vagrant/trusty box and after installing the module I get this error while provisioning.

Please let me know if I can assist here any further.

==> default: Error: Puppet::Parser::AST::Resource failed with error ArgumentError: Invalid resource type anchor at /tmp/vagrant-puppet-3/modules-0/elasticsearch/manifests/init.pp:205 on node vagrant-ubuntu-trusty-64
==> default: Wrapped

[2014-07-08 06:05] #147 closed, assigned to nobody

[2014-07-16 09:07] electrical opened #150 "Modifications to the module we can make"
Hi all,

Now Puppet pre 3.2 support is dropped ( see this [blog](http://www.elasticsearch.org/blog/streamlining-maintenance-puppet-modules/) ) i wonder what cool improvements we can make to the module.

Input and PR's are very welcome.

[2014-07-20 12:13] #146 closed, assigned to nobody

[2014-07-24 08:32] FergusNelson opened #152 "Allow installation of plugins from behind a proxy"
The elasticsearch plugin command does not use environment proxy settings for retrieving the plugins. However it does support command line args for proxy settings.

/usr/share/elasticsearch/bin/plugin -DproxyPort=$proxy_port -DproxyHost=$proxy_host

The plugin resource should expose these parameters explicitly. As a work around i have overridden the $plugintool parameter

$plugintool = "/usr/share/

[2014-07-30 09:08] igoraj opened #155 "Concept of instances"
We recently migrated from a very old version to 0.4.0 which introduces concept of instances. From other Issues and documentation it's not entirely clear if in order to setup an elasticsearch service one must define at least one instance or not?

class { '::elasticsearch': }
does all the magic, except the service is not running after puppet run. it has to be manually started with "service elasticse

[2014-07-30 10:04] #155 closed, assigned to nobody

[2014-07-30 22:10] #141 closed, assigned to nobody

[2014-07-30 22:11] #2 closed, assigned to nobody

[2014-07-30 22:11] #136 closed, assigned to nobody

[2014-07-30 22:12] #99 closed, assigned to nobody

[2014-07-31 08:28] electrical opened #159 "Add some useful facts about ES to expose with facter"
The idea is to expose some usable facts with facter regarding Elasticsearch.

Idea's are welcome.

[2014-07-31 08:54] alex-harvey-z3q opened #160 "Missing Darwin case for config files in params.pp"
As part of my team's CI/CD process, puppet catalogs are compiled from developer workstations, and some of us use Mac OS X.

The following error is seen-

`"elasticsearch" provides no config directory default value for "Darwin" at dist/modules/elasticsearch/manifests/params.pp:107 on node logview`

I would like to submit a PR to provide fake Darwin values pending proper Darwin support being added,

[2014-08-05 22:56] kurtado opened #165 "Allow management of packages with identical names"
Currently, it is not possible to manage two packages (with separate providers) in the same manifest. For example, it is not possible to manage Elasticsearch (the search engine) and Elasticsearch (the ruby client binding for Elasticsearch (the search engine)).

[code]

This will throw an error similar to this:

[code]

[2014-08-11 10:18] fredfaure opened #166 "ensure & status params for elasticsearch::instance don't work"
Hi !

I tried to change a node and puppet resource's name for an instance.

Here is my first conf:

[code]

I tried to change the conf this way:

[code]

But the old node "kibana-01" still sticked.
So I wanted to tell explicitely to delete the "kibana-01" node and puppet resource:

[code]

This conf triggered this error:

[code]

So I tried only to disable the node:

[code]

But this one did nothi

[2014-08-11 19:50] #166 closed, assigned to nobody

[2014-08-11 21:12] #138 closed, assigned to nobody

[2014-08-12 19:12] hopperd opened #168 "Instances configurable on init class"
We try and use hiera for all our configurations and it would be nice to be able to configure all the instances as well with hiera.  Like adding the following:

Param:

[code]

Code:

[code]

Would allow us to keep instance configurations in hiera.

[2014-08-13 00:13] #168 closed, assigned to nobody

[2014-08-18 06:38] faxm0dem opened #173 "instance: ensure => absent creates dependency cycle"
I just tried to exclude a node from the cluster by using the foilowing option in hiera:

[code]

Apparently this results in a dependency cycle:

[code]

[2014-08-22 16:29] pbaumgarten opened #176 "Elasticsearch does not start on CentOS 6"
WIth CentOS 6 running in a vm with puppet installed from epel and the elasticsearch installed from the forge, version 0.4.0, when $status = 'enabled' elasticsearch does not start, but when I run 'service elasticsearch start' as root then elasticsearch starts up. For whatever reason puppet is not or can not start elasticsearch

[2014-09-01 13:16] #173 closed, assigned to nobody

[2014-09-02 05:26] cyberhuman opened #180 "Module tries to install already installed plugins"
Hi,

I have added several plugins to my ES configuration in puppet, and after the initial installation it hangs for 60 seconds for each already installed plugin. From the output I can see that the module tries to install already installed plugins six times before actually giving up. I also have noticed that the only plugins with this behaviour are 'elasticsearch-analysis-' ones (four plugins in to

[2014-09-04 14:45] neoice opened #181 "possible Service $name collision"
https://github.com/elasticsearch/puppet-elasticsearch/blob/master/manifests/service/init.pp#L178

the `elasticsearch::instance` `$name` gets passed into this `Service` declaration.

code like this:

[code]

will create two different declarations of `Service['logstash']`, resulting in a "duplicate resource" error.

a simple fix would be to namespace the `Service` name, maybe something like `"elasti

[2014-09-07 00:20] lsh-0 opened #182 "instance won't start on Ubuntu 14.04"
I'm running a box attempting to configure elasticsearch, kibana and logstash.

I'm trying to determine if the elasticsearch instance is running, but it doesn't appear to be:

    vagrant@env1:~$ sudo service elasticsearch status
     * elasticsearch is not running
    vagrant@env1:~$ sudo service elasticsearch start
     * Starting Elasticsearch Server

[2014-09-08 16:47] #176 closed, assigned to nobody

[2014-09-10 04:29] robottaway opened #183 "Failure in instances manifest"
Hi I am using the latest 0.4.0 version of this plugin. When I try and use the simplest configuration it fails, for example, given the manifest

[code]

fails as so:

[code]

while this manifest works:

[code]

but this one does not producing the same failure output as above:

[code]

[2014-09-11 00:10] #183 closed, assigned to nobody

[2014-10-01 10:40] mfournier opened #185 "$datadir should default to somewhere on /var instead of /usr"
When using `elasticsearch::instance`, I noticed ES stores it's data in `/usr/share/elasticsearch/data`, which is a bit unexpected.

https://github.com/elasticsearch/puppet-elasticsearch/blob/master/manifests/params.pp#L104 was changed in 72c4c76c7bcd9. Was this maybe unintended as this commit seems to just refactor tests ?

[2014-10-01 10:46] mfournier opened #186 "elasticsearch::instance doesn't handle conflicting parameters"
The following code snippet doesn't fail, but randomly switches ES datadir from `/foo` to `/bar` and back :
[code]

I believe it should either fail or discard one of the 2.

[2014-10-03 07:40] erikvanoosten opened #187 "Remove dependency on Augeas"
As can be read here: http://m0dlx.com/blog/Puppet__could_not_find_a_default_provider_for_augeas.html it is quite difficult to get the correct combination of augeaus and its bindings.

Please remove the code dependency on Augeas to prevent these problems completely.

[2014-10-03 13:06] daks opened #188 "Init_defaults not changing any configuration file"
I'm using version 0.4.0 of this module, on Debian 7 with Puppet 3.4 (3.7 on server).
I'm trying to set ES_HEAP_SIZE using init_defaults array in the main class or in the instance one. None works, /etc/init.d/elasticsearch\* or /etc/default/elasticsearch do not change.

My code looks like

[code]

Any idea why this do not work?

[2014-10-06 07:41] #188 closed, assigned to nobody

[2014-10-06 15:26] mmarseglia opened #189 "Error: false is not a string. when repo_version is not set"
repo_version is initialized to false.
 $manage_repo           = false,
  $repo_version          = false,
  $logging_file          = undef,

init.pp line 258 tests if repo_version is a string
  if ($manage_repo == true) {
    validate_string($repo_version)
  }

if repo_version is not set then puppet reports error: Error: false is not a string.  It looks to be a FalseClass at elasticsearch/manifests

[2014-10-06 21:00] mmarseglia opened #190 "elasticsearch removes init.d script, sysconfig defaults"
Hi,

  I don't understand the purpose of this:
https://github.com/elasticsearch/puppet-elasticsearch/commit/06a5d1f456a30524a58b6fed69b6fabed6da4671

  I installed elasticsearch using the manage_repo option.  Elasticsearch installs OK but the init.d startup script, sysconfig file and other configuration files are removed.

  Why does this module remove those items provided by the package?  How am

[2014-10-06 21:02] #190 closed, assigned to nobody

[2014-10-08 00:52] reamer77 opened #191 "Module options in Hiera not working as anticipated"
Trying to put Elasticsearch options into Hiera to configure nodes, but values I'm populating do not seem to be loading.

CentOS 6
Puppet Enterprise 3.3.2

In my node's Hiera yaml, I have the entry

elasticsearch::init_defaults_file: 'puppet:///modules/elasticsearch/etc/sysconfig/elasticsearch'

However, the /etc/sysconfig/elasticsearch file on the node is still the stock file, and there aren't any

[2014-10-08 14:48] #191 closed, assigned to nobody

[2014-10-12 20:56] pgibler opened #192 "Elasticsearch does not install service correctly in CentOS (EnvironmentFile configuration setting improperly set)"
I noticed that my elasticsearch wasn't loading. Right now, it appears to me that the EnvironmentFile value that gets inserted does not properly get the $name value. But that's just a guess - I haven't been able to figure out the issue on its own, as it appears the library was correctly written to add the $name value into the EnvironmentFile setting. Any help would be massively appreciated.

I'm in

[2014-10-29 17:43] shanemadden opened #193 "Need mechanism for managing maxBackupIndex for the dailyRollingFile logs in logging.yml"
Let me know if I'm missing something here, but it doesn't look like there's any way to manage the `maxBackupIndex` attribute for the files set in the `logging.yml` - it doesn't seem like there's any mechanism for setting that via the logging config hash, since it needs to be defined in the blocks for the individual files?

I've accomplished this in our local version of the module by adding a `$log

[2014-10-30 13:46] reamer77 opened #194 "Setting a separate WORK_DIR per elasticsearch instance"
We are running multiple elasticsearch instances on our nodes.  Is it possible to define a separate WORK_DIR for each instance so they won't be clobbering each other?

Thanks!

[2014-10-30 14:24] #194 closed, assigned to nobody

[2014-11-03 20:45] reamer77 opened #195 "Question about setting status to "unmanaged""
I want to be able to manage the Elasticsearch configuration files via Puppet, but not have Puppet notify the Elasticsearch services when the configuration changes.  I will be having scripts that manage the cluster of Elasticsearch services.

Looking through services.pp, it looks like there is a status that can be defined as "unmanaged".  However, if I run this scenario,

1) Deploy Elasticsearch no

[2014-11-06 15:23] amoswood opened #196 "Template absent fix and accept content instead of only file"
When working with the elasticsearch::template class, there is one bug that I found and one improvement that I would like to make.

For the bug, when specifying an existing template to be "absent", the template is not removed from the server or the template directory.  This would be a simple change to ensure that the Exec["delete_template_${name}"] gets called to delete it from the server and a dif

[2014-11-08 08:07] aamerik opened #198 "Error 400 on SERVER: false is not a string."
This is the error I get when 'manage_repo => true':

[code]

Thank you

[2014-11-08 09:32] #198 closed, assigned to nobody

[2014-11-13 20:56] #195 closed, assigned to nobody

[2014-11-13 21:04] reamer77 opened #199 "Setting statuses on individual ElasticSearch instances"
I have a master instance and a data instance.  I'd like the master instance to start on boot, and the data instance to be started later (preferably by a cluster management script).  I was trying

  elasticsearch::instance { 'es-master':
    status => 'enabled'
  }

  elasticsearch::instance { 'es-0':
    status => 'running'
  }

However, it looks like the "status" value set in ::elasticsearch does

[2014-11-20 12:37] Vincent-- opened #200 "Init_defaults not changing any configuration file (bis)"
Here is my puppet file :

    class { 'elasticsearch':
        java_install  => true,
        package_url   => 'https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.2.1.deb',
        init_defaults => {
          'ES_USER'      => 'elasticsearch',
          'ES_GROUP'     => 'elasticsearch',
          'ES_HEAP_SIZE' => '128m',
       }

    service { 'elasticsearch':

[2014-11-21 15:49] #54 closed, assigned to nobody

[2014-11-21 15:49] #187 closed, assigned to nobody

[2014-11-21 15:49] #143 closed, assigned to nobody

[2014-11-21 15:52] #165 closed, assigned to nobody

[2014-12-03 13:08] edwardsmit opened #201 "Repository based install won't chown relevant directories."
I'm installing elasticsearch via repository, setting elasticsearch_user and elasticsearch_group and also ES_USER and ES_GROUP, all set to the same value.
However, the log-directory, the data-directory, the config directory, the var/run/elasticsearch directory all are owned by elasticsearch:elasticsearch. This has the effect that elasticsearch won't start.
My current workaround is chown-ing all the

[2014-12-05 20:40] electrical opened #202 "update link to plugins"
Currently the plugins part links to http://www.elasticsearch.org/guide/plugins/ which is broken.

[2014-12-05 20:42] electrical opened #203 "refactor plugin installation validation"
At the moment we use the module_dir option to check if the plugin exists.
With newer versions of ES the plugin binary has the --list option so we can check it.

[2014-12-08 12:28] electrical opened #205 "Rename variables to not be using the reserved variables"
https://github.com/elasticsearch/puppet-elasticsearch/blob/master/manifests/instance.pp#L260-L261

[2014-12-12 05:01] chriswhite199 opened #206 "/var/run/elasticsearch folder isn't chown'd"
When configuring a different es user / group through the elasticsearch_user and elasticsearch_group params, the pid folder isn't chown'd to the new user:group, which prevents the instance from starting as a service.

### Config:

    class { 'elasticsearch':
      package_url => 'puppet:///modules/elasticsearch/elasticsearch-1.1.1.noarch.rpm',
      config => {
        'node' => {
          'name'

[2014-12-16 11:06] arioch opened #207 "Can't seem to run on CentOS 7"
My Hiera config looks like this (relevant parts only):

[code]

After a puppet agent run:

[code]

When running elasticsearch manually:

[code]

I must be missing something but I can't put my finger on it.
Any suggestions how to proceed?

[2014-12-16 14:47] #207 closed, assigned to nobody

[2014-12-30 21:09] chad-upton opened #212 "augeas requirement not listed in puppet forge"
Hey guys, pretty self explanatory but:

In init.pp and systemd.pp it has augeas methods but augeas isn't listed as a dependency and I see no provider for it.

Easy enough to resolve, but wanted to make sure it wasn't over looked.

Thanks for the outstanding module!

[2015-01-04 18:00] #196 closed

[2015-01-04 18:01] electrical opened #217 "Add tests for PR #197"
#197 added extra functionality, need to add a test to ensure we don't break it later.

[2015-01-05 17:35] SteveDevOps opened #221 "puppet newbie -- testing and not seeing config changes"
I'm finally getting communications happening and able to invoke a manifest specifying elasticsearch install. However my config param aren't showing up in the default .yml. What am I missing? -- I'm testing on centos 7 vms, running PE 3.7.

My custom manifest:

[code]

[2015-01-05 17:41] electrical commented on #221
Hi,

You will need to define an instance as specified in https://github.com/elasticsearch/puppet-elasticsearch#instances
Hope it helps.

[2015-01-06 16:43] SteveDevOps commented on #221
Thanks.. ok got that in place, and accepted by agent. Now I'm confused on how to access the "instance" via url. I have the default service off, I found the extra instance service on my centos vm,  and I'm re-specifying http.port as 9200 under my config => for instance.

[2015-01-06 16:50] electrical commented on #221
Hi,

You should be able to access it via the same IP and port as you would do with the default instance.

[2015-01-06 16:55] SteveDevOps commented on #221
electrical -- I get nothing.. If I switch back to using default elasticsearch service it works but obviously doesn't have my puppet-specified config.

[code]

[code]

[2015-01-06 17:00] SteveDevOps commented on #221
my updated manifest from puppetmaster:

[code]

[2015-01-06 17:00] electrical commented on #221
strange it didn't add the service to the list. i assumed it would..
did you see any errors with the puppet runs?

Must admit i haven't done any testing yet on Centos7.

[2015-01-06 17:05] SteveDevOps commented on #221
hmm..the instance isn't logging anything new in /var/log/elasticsearch.log (only default instance is) -- do I also need that specified in config?

[2015-01-06 17:06] electrical commented on #221
Logging should be added as well and automatically ( default its the cluster name )

[2015-01-06 17:11] SteveDevOps commented on #221
weird.. I only have defaults:

[code]

so in a nutshell the module can't affect default instance config? only new instance?

[2015-01-06 17:18] electrical commented on #221
That's correct.
The default instance that comes with the package is not used at all.
With the next release i will be removing the files so people don't get confused :-)

[2015-01-06 17:19] SteveDevOps commented on #221
k. Is there anything else I'm missing in my ### MANAGED BY PUPPET ###
 .yml above?

[2015-01-06 17:31] electrical commented on #221
file looks good. don't see anything wrong with it by the looks of it.
It could be that by default we use the sysv style init script and not systemd one.

[2015-01-06 17:41] SteveDevOps commented on #221
despite that, centos7 still shows it under old chkconfig --list and I was thinking would be compatible.. I've also tried re-specifying path.logs in instance config, no luck yet :( so close!

[2015-01-06 17:46] SteveDevOps commented on #221
ahh found issue in messages and not sure why yet..

[code]

[2015-01-06 18:16] electrical commented on #221
Ah, that is my fault. With the current version i don't chown every directory related to ES yet. will be fixed in next release.

[2015-01-06 18:19] SteveDevOps commented on #221
making progress, I fixed by getting rid of my
[code]
declaration.. so it uses default elasticsearch user for now.. this caused a chown on everything

I can now call up new instance head plugin -- but it's blank I don't have any nodes showing.. hmm. cluster health: not connected.

[2015-01-06 18:36] SteveDevOps commented on #221
houston we have liftoff on centos 7 ;)  -- two other config issues.. I had pulled gateway settings (expected nodes up, etc) from our existing production config and got rid of that. Also I still have a custom data path set and permissioned for that other user I had made 'esadmin' -- woohoo.. we have a working head plugin ;)

[2015-01-06 18:41] electrical commented on #221
Great to hear! i'll get the rights issue fixed as soon as possible. i hope to do a new release this month ( allot of changes and some bug fixes )

[2015-01-07 21:26] TJM opened #223 "Set Open File Limit"
According to GrayLog2: https://www.graylog2.org/resources/documentation/setup/elasticsearch
... and elastic search docs: http://www.elasticsearch.org/tutorials/too-many-open-files/

The number of open files should be raised for elasticsearch. The module should take care of that by default if its required for operation.

EDIT: on RedHat based OS, it does appear to have that default of 65536 on Open

[2015-01-08 11:30] electrical commented on #212
@chad-upton sorry you are running into this issue.
When using the puppetlabs repo's ( which most people do in prod environments ) augeas is automatically installed indeed.
I'm not sure if there is a nice way to manage the dependency.

[2015-01-08 13:15] electrical commented on #186
@mfournier finally had the time to build a fix for this including some tests.
Will be fixed with the next release. sorry it took so long.

[2015-01-08 16:36] SteveDevOps commented on #201
I ran into this as well. My fix, since I was just setting up a "proof of concept" environment, was to use default elasticsearch user by not specifying.

[2015-01-08 16:41] electrical commented on #201
I'm working on fixing this issue right now. Hope to do a release soon-ish.

[2015-01-08 17:20] #186 closed

[2015-01-08 17:21] electrical commented on #186
This should be fixed now. you can try out the master repo or wait for a release.
again, thank you for reporting it.

[2015-01-08 23:28] electrical opened #226 "Plugins, instances and configs"
At the moment plugins are shared between instances.
This allows us to install multiple instances of Elasticsearch and just have a single copy of the plugin on the system.
This is done because i always had the assumption that one would use the same plugins for each instance on the same server.
Obviously assumptions can be wrong so i want to start this discussion.
Also we are now getting plugins tha

[2015-01-08 23:29] jordansissel commented on #226
@c-a-m @uboness Any thoughts here?

[2015-01-08 23:58] c-a-m commented on #226
The files we use in shield are users, user-roles, roles, syskey, role_mappings.  We want them all to be the same on all nodes.  But... the keystore we needs to be different.  They will have to be configured per node.

[2015-01-09 08:11] uboness commented on #226
@electrical this sounds scary (sharing the plugins on all instances)... I'd do that only if you also share the elasticsearch jars between all instance (not sure how the puppet is managing the multiple instances). If each ES instance has its own ES jar, then I'd also have each instance have its plugin jar (when each instance has its own es jar, it means that instances can be of different versions,

[2015-01-09 08:12] uboness commented on #226
what about scenarios where you want multiple instances belonging to different clusters on the same machine (just wondering)... does that mean ppl won't be able to use our puppet modules?

[2015-01-09 12:13] electrical commented on #226
@uboness The Puppet module does the following with multi instances:

1. Install a single package via rpm/deb
2. Create separate config files and init scripts per instance.

This ensures that all the instances have the same version of ES running but they can be part of different clusters depending on the configuration.
This is the only reason its possible to shared the plugins between instances.

[2015-01-09 12:15] #201 closed

[2015-01-09 12:16] electrical commented on #221
Hi,

I've just merged a fix into the master branch which should solve the rights issues.

Cheers.

[2015-01-09 12:16] electrical commented on #206
Hi,

I've just merged a fix into the master branch which should solve the rights issues.

Cheers.

[2015-01-09 12:19] electrical commented on #223
Hi,

With Elasticsearch we handle this in the init scripts like [here](https://github.com/elasticsearch/elasticsearch/blob/master/src/rpm/init.d/elasticsearch#L74-L76) which can be set via the init_defaults hash.
Hope this clarifies it for you?

[2015-01-09 13:27] uboness commented on #226
ok, got it... so effectively we're already sharing the es jars between the different instances. In that case (as I stated above) it makes sense to share the plugin jars as well. that said, since you already have different configuration for each instance, then I'd just follow the same pattern for plugins and have each instance have its own plugin configs as well.

[2015-01-09 16:48] TJM commented on #223
I agree that it is customizable via the init_defaults hash, and I *do* appreciate that. My point was that it is the default for:

* Debian: https://github.com/elasticsearch/puppet-elasticsearch/blob/master/templates/etc/init.d/elasticsearch.Debian.erb#L73
* SuSE: https://github.com/elasticsearch/puppet-elasticsearch/blob/master/templates/etc/init.d/elasticsearch.OpenSuSE.erb#L13

But not for RHEL/

[2015-01-09 18:39] SteveDevOps opened #227 "Whups, is it possible to uninstall / rollback ?"
In my test env, I have run a manifest for a specific node. In my manifest I'm running the main elasticsearch class - to ge tthe core install -- but specifying repo_version, a single instance with associated config, and 3 plugins. I tried to downgrade the repo from 1.4 to 1.1.1. This failed with errors, and I ended up putting it back to 1.4, and re-running agent to fix the install. I'm testing on c

[2015-01-09 18:47] SteveDevOps commented on #221
Fantastic, thx electrical!

[2015-01-09 18:54] electrical commented on #227
Hi,

Downgrading packages is not easy because the package managers them selves don't always allow it.
You can however uninstall the whole software by setting ensure => 'absent' in the main class.
The only downside of that is that we might also delete all your data ( not 100% sure about this one )

[2015-01-09 18:54] #221 closed

[2015-01-09 20:26] SteveDevOps commented on #227
I can report this worked for me If i unwind it backwards..
set plugins to absent,
set instance to absent,
and then main class to absent.

That removed everything successfully on centos7.. just left emply folders and subfolders.

[2015-01-09 21:26] electrical commented on #227
Ah, you are completely right indeed.

https://github.com/elasticsearch/puppet-elasticsearch/blob/master/manifests/config.pp#L120

At the moment i don't delete much unless its specified in other parts ( like the instances stuff or plugins )
I should add removal of everything in there so you only need to set the main class to remove everything.
I'll put it on my todo list to make it remove more so w

[2015-01-13 12:55] amitgilad3 opened #230 "cant install aws plugin"
Hi ,
i am trying to install the aws plugin for my elasticsearch and i get the following error

Error: Failed to apply catalog: Could not find dependent Elasticsearch::Service[elasticsearch-ddna83ab1gx88h8] for Exec[install_plugin_elasticsearch/elasticsearch-cloud-aws/2.4.1] at /etc/puppet/modules/elasticsearch/manifests/plugin.pp:96

this is my puppet code:

class { 'elasticsearch':
  package_url

[2015-01-14 18:13] yasirbam commented on #182
I am having the same issue after deciding to restart elasticsearch that has been running for a couple of months! now I am not able to start it.
the start up service silently prints OK, when I run Sudo service elasticsearch start, but nothing in the logs
something must have upgraded while ES was running!

[2015-01-15 00:22] bflad opened #232 "Set ES_CLASSPATH for Elasticsearch Startup?"
Hi There,

Thanks for the module! The multi-instance support has been a lifesaver recently.

We're currently using the official elasticsearch/elasticsearch-repository-hdfs/2.0.2-light plugin to support HDFS snapshots. In our environment we use Cloudera Distribution Hadoop, so we need to supply these jars on startup into the Elasticsearch Java classpath. The way to do this seems to be to set the `E

[2015-01-15 13:51] electrical commented on #232
Hi @bflad
First of all thank you very much for the very detailed description of your issue.

The Augeas function indeed doesn't support what you tried to do as its very specific for Key=value pairs as they are in the defaults files.

I always assumed that any plugin that has Jars in there will be automatically loaded when installed using the plugin tool.
I just installed the plugin on a test VM an

[2015-01-15 14:17] electrical commented on #230
Hi,

in this case you don't have an instance defined. since by default we don't create a default one you will need to specify one.
See https://github.com/elasticsearch/puppet-elasticsearch#instances for more information.
You also won't need specify the relation / sequence using the `->` since we handle that internally in the module already.

Also the module_dir is the directory that gets created b

[2015-01-16 13:13] electrical commented on #145
I've been digging into this issue a bit more and there seems to be no decent solution.
There is however a ticket at PuppetLabs to fix this issue in Puppet 4.x ( https://tickets.puppetlabs.com/browse/PUP-1073 )

[2015-01-16 13:16] electrical commented on #145
I'm afraid that until that is solved this will remain an issue with all previous puppet versions.

[2015-01-16 13:16] #145 closed

[2015-01-17 13:36] electrical commented on #206
Testing showed this issue to be fixed in the master branch.
Closing the issue for now, could you open a new one if its not fixed? Thanks!

[2015-01-17 13:36] #206 closed

[2015-01-17 13:39] electrical commented on #223
Good point, I'll see if i can improve on it.

[2015-01-17 14:22] #217 closed

[2015-01-17 17:55] TJM commented on #223
Thank you, sir!

[2015-01-17 18:52] electrical commented on #223
@TJM i have the following in mind to solve this.
I can set a default value in the Puppet module to 65k which gets put into the defaults file but can be overwritten by the init_defaults hash when more then 65k is required.
Does that sound okay to you?

[2015-01-17 21:10] electrical commented on #181
Hi,

Sorry for all the delays.
In the last couple days i've been working on all the issues and PR's and other improvements.
I'm currently working on a PR to solve this specific issue by renaming all the `$name` vars for the service to `elasticsearch-instance-$name` which should solve this issue.

[2015-01-18 06:54] TJM commented on #223
Yea, I think that is inline with what the other OS's mentioned above are doing.

[2015-01-18 17:58] electrical commented on #181
PR https://github.com/elasticsearch/puppet-elasticsearch/pull/240 should solve this issue.

[2015-01-19 17:28] bflad commented on #232
Ah yes, because while the plugin itself can install and load on startup, its functionality when actually calling the snapshot is based on the underlying Hadoop jars being loaded.

Note the missing classes when calling snapshot using `elasticsearch/elasticsearch-repository-hdfs/2.0.2-light` (requires including your own Hadoop jars on classpath):
[code]

Versus running `elasticsearch/elasticsearch-r

[2015-01-19 19:26] electrical commented on #232
@bflad thank you so much for your extensive answer.
It makes more sense to me now.
I only tested out the normal one :-)

So i think the best solution would be to support in the defaults file a setting called ES_CLASSPATH and have it exported in the init scripts.
This way you can set it via the init_defaults hash.
I'll try to put some pressure behind it to have it integrated in the official init sc

[2015-01-19 22:03] bflad commented on #232
Awesome, thanks @electrical. Sounds great. Feel free to piggyback https://github.com/elasticsearch/elasticsearch/issues/9303. I tried to save you some trouble and PR #241 for discussion.

Aside: When is the next planned release? There's some goodies in master that'd I'd love to be able to depend against in the forge module.

[2015-01-19 22:24] #232 closed

[2015-01-19 22:25] electrical commented on #232
Thank you so much for the PR. just merged it.
I'm planning to do a 0.9 release within 2 weeks and after that do a 1.0 release.

[2015-01-20 20:28] mmarseglia opened #242 "puppet sets binary /usr/share/elasticsearch/bin/elasticsearch to mode 0644"
Hi,

  We're using latest and it appears puppet sets the binary /usr/share/elasticsearch/bin/elasticsearch to mode 0644.

  In the elasticsearch init script
`exec="/usr/share/elasticsearch/bin/elasticsearch"`

  Further down the init script checks to see if exec is executable and if not, fails.
`start() {
    checkJava
    [ -x $exec ] || exit 5`

  When I change the file mode myself, I see puppet

[2015-01-20 21:55] electrical commented on #242
Hi is this with the latest release or master brarch ?

[2015-01-20 22:00] mmarseglia commented on #242
master

[2015-01-20 22:01] electrical commented on #242
Strange my acceptance runs never failed.
I'll double check it on my end and if needed I'll add something to force the bin dir to 755.

Thanks for reporting this.

[2015-01-20 22:05] mmarseglia commented on #242
We installed elasticsearch version 0.90.13.  Would that make a difference?

[2015-01-20 22:07] electrical commented on #242
Don't think it should. I may have overlooked something. I'll check tomorrow and reply back on the issue.

[2015-01-20 23:15] electrical commented on #242
Hi, could you re-check master?
I'm not setting the mode explicitly.
Of course i could force the bin dir files to be 755 but i don't see the same log in my tests.

[2015-01-21 12:16] lairsdragon opened #243 "Puppet run fails on File resource for data directory"
I have the following snippet in my manifest for elasticsearch deployment and get an error about the File resource on the regular puppet runs. The first setup run works as expected.

From my understanding the error comes from the `recurse => true` attribute since the File resource traverses the data directory and some files/dirs changes while the traversal is running. Why is the recurse attribute n

[2015-01-21 12:48] electrical commented on #243
Hi,

the recurse attribute is for ensuring all files belong to the right user if a custom user is given.
Could you remove the explicit order '->' it shouldn't be required as the module already takes care of that internally.

[2015-01-21 12:52] CharlieR-o-o-t commented on #242
I think that problem comes here
config.pp
[code]
It's better to set right explicitly. Because, if we have something like this at our manifest
[code]
Rights will be overridden and elasticsearch will fail to start. It's critical to have X bit here.

[2015-01-21 13:31] lairsdragon commented on #243
OK, I understand the reason for using recurse, but sadly the this leads to the mentioned error nearly for every puppet run. For the setup phase I see a good reason for this but not for the runtime phase. If the files below my data dir have the wrong user, I have a general problem in the setup which could not be fixed by changing all user id of all files below the data directory...

I have also rem

[2015-01-21 13:40] electrical commented on #243
Very weird you are seeing this issue as i haven't seen this with any of my tests.
It is possible that with the recurse option it first finds all possible files and then does the changes and then in the meantime elasticsearch it self has done something with the files ( merge it into other segments for example )
Not using recurse means that if you would be switching users the data dir won't be chang

[2015-01-21 13:45] lairsdragon commented on #243
Maybe for the purpose of being sure that the right user is owning the files a exec 'chmod -R' would be more feasible in this case..

[2015-01-21 13:47] electrical commented on #242
Ahh okay, now i understand where it comes from.
I'll see if i can make sure the bin directory files will be forced to 755

[2015-01-21 16:06] lairsdragon commented on #243
I've testet the whole setup with 3.7.3puppetlabs1 from the puppet repo and I was not able to reproduce this problem. Since puppet 2 moves slowly to deprecation, I like to close this issue..

[2015-01-21 16:13] lairsdragon commented on #243
Tried it also with puppet 3.7.3 and problem persists.

[code]

[2015-01-21 17:24] electrical commented on #243
Okay. I think its a race condition for the 2 stages that recurse works.
First it finds all the files and dirs it needs to manage. then it creates the resources to change them.
It seems that in the time between the discovery and changes some files got changed.
I'll remove the recurse option so we atleast manage the main data dir.

[2015-01-21 18:59] CharlieR-o-o-t commented on #242
sorry, it's critical for me.
I have submitted pull request, could you look ?
https://github.com/elasticsearch/puppet-elasticsearch/pull/244

[2015-01-22 14:42] electrical commented on #242
I've just merged a PR that fixes this issue. can you validate?

[2015-01-22 16:21] eljohn1014 opened #246 "elastic search instance creation"
I am trying to create a elastic search instance called es-01, when it is created I have 2 services running, one with cluster name "elasticsearch" and another with the correct name, the "elasticsearch" cluster does not have the right configurations so it is not working. in order to fix this I have manually kill the incorrect process and restarted the elasticsearch-es-01 process to get it to pick up

[2015-01-22 16:29] electrical commented on #246
Hi,

There should be no default instance since that would be weird magical stuff happening that users don't expect.
However the original init script does still exist after the package installation.
In the master branch I already fixed this by simply removing the original package files to avoid confusion.
Does this answer you question?

[2015-01-22 18:19] eljohn1014 commented on #246
I don't have it pinned to any specific version so it should be grabbing the latest, in the init.d folder I am only seeing elasticsearch-es-01, but when I look at the processes I see two processes running, one with default config path in /etc/elasticsearch and one in /etc/elasticsearch/es-01 (where the config actually is) is there a place this first one could be coming from besides the elasticsearc

[2015-01-22 18:27] electrical commented on #246
Can you tell me which ES version you are installing? I can remember there were versions that would automatically start ES at installation time.

[2015-01-22 18:29] eljohn1014 commented on #246
we are using 0.90.13-1

[2015-01-22 18:43] eljohn1014 commented on #246
we are also calling class{'::elasticsearch' :...} and ::elasticsearch::instance { 'es-01' :...}, should only one of these be called?

[2015-01-22 18:46] electrical commented on #246
Ah. 0.90 versions indeed started the init script after installation. that's why you have 2 instances running.
You're puppet code is fine, you indeed need the main class and the instance define.
I think its best to upgrade to 1.4.x :-)

[2015-01-22 18:47] eljohn1014 commented on #246
we are unfortunately pinned to 9.0 will we have to just manually turn it off then?

[2015-01-22 18:48] electrical commented on #246
I'm afraid so yeah. since we delete the init file inside the module you can't do a service call anymore to disable it.

[2015-01-22 19:26] bendiu commented on #182
Try /etc/init.d/elasticsearch start

[2015-01-23 15:58] eljohn1014 commented on #246
Is there a setting we can set on the original class or instance such as turning it off right away or changing the port so that there wont be any problems with this?

[2015-01-26 16:46] electrical commented on #243
@lairsdragon could you try out a possible fix with PR https://github.com/elasticsearch/puppet-elasticsearch/pull/247 ?

[2015-01-26 19:56] gingaz opened #248 "instance settings do not override class settings"
Hi Everyone,

the following example creates two disabled elasticsearch services. However, I would like to have "test-elasticsearch' running and 'elasticsearch' - stopped.
[code]

The workaround is:
[code]
Cheers,
Gin

[2015-01-26 20:01] gingaz opened #249 "config parameter works only for instance types, but not the class"
Hi,

This does nothing:
[code]

Whereas this works
[code]

Can you please confirm this?
That is the only reason why I am using es instances - to put settings into effect.

Thanks,
Gin

[2015-01-26 20:22] electrical commented on #248
Hi,

The 'elasticsearch' instance will be removed in the next release and not managed.
if you use 0.90.x I'm afraid there is no nice solution since 0.90.x packages automatically start up ES after installation.

[2015-01-26 20:23] electrical commented on #249
Hi,

Since the module supports multiple instances its mandatory to define atleast one.
Please see https://github.com/elasticsearch/puppet-elasticsearch#instances for more information.

[2015-01-26 20:24] electrical commented on #246
With the new release that's coming we remove the files and assume its not started by default. ( the 'elasticsearch' one )
This puppet module assumes you have 1.0 or up.

0.90.x is also EOL.

[2015-01-26 20:24] #246 closed

[2015-01-26 21:17] electrical commented on #243
did some local testing.
The PR allows the module to manage the data directory it self but not the files within the data dir.
That should solve your issue.
Will merge this tomorrow unless you find an issue with this.

[2015-01-26 21:19] #230 closed

[2015-01-26 21:29] gingaz commented on #249
I thought I can set "global" elasticsearch configuration in the class and then make it fine grain in instances.

Thanks.

[2015-01-26 21:29] gingaz commented on #248
Thanks for clarifying.

[2015-01-26 21:33] electrical commented on #249
Hi,
The config variable from the main class should be passed on to the instances functions indeed.
You will still need to define an instance though.

[2015-01-26 21:39] #248 closed

[2015-01-26 21:40] electrical commented on #223
Solved with https://github.com/elasticsearch/puppet-elasticsearch/pull/250

[2015-01-26 21:40] #223 closed

[2015-01-26 21:41] gingaz commented on #249
Go it. Thanks :)

[2015-01-26 21:41] #200 closed

[2015-01-26 21:47] electrical commented on #150
Hiera support is almost done via PR https://github.com/elasticsearch/puppet-elasticsearch/pull/179

@erik-stephens i'm currently looking at your proposed change and see it makes sense to implement it.

[2015-01-26 21:51] #249 closed

[2015-01-26 21:51] electrical commented on #159
This has been merged in and will be included in the next release.

[2015-01-26 21:51] #159 closed

[2015-01-26 21:52] electrical commented on #181
This has been solved with merging #240

[2015-01-26 21:52] #181 closed

[2015-01-26 21:53] #182 closed

[2015-01-26 22:00] #205 closed

[2015-01-26 22:14] electrical commented on #189
With https://github.com/elasticsearch/puppet-elasticsearch/pull/252 I've added a more human friendly error message.

[2015-01-26 22:14] #189 closed

[2015-01-26 22:40] erik-stephens commented on #150
@electrical Maybe just `$instances` and ditch x_instances?  I *think* will be more idiomatic puppet.  Assuming only need to support puppet >= 3, then elasticsearch::instances will be automatically looked up and applied to that variable.  That's how I'm currently using your module now and works perfect for me.  I wrote my comment before knowing about automatic parameter lookup.  I don't see the nee

[2015-01-26 23:46] electrical commented on #150
The `hiera_hash` function allows to merge instances from multiple hiera files that may be present in the lookup.
For example one could have a default instance ( data instance ) for all nodes and some of them have a separate master instance next to it.
These 2 instances could then be configured into 2 separate hiera files.
I'm not sure if they would want to happen automatically?

[2015-01-26 23:53] erik-stephens commented on #150
Ah, I forgot that automatic param lookup is priority only, not merged.  Feel free to ignore my original comment - it was an attempt to help make it a bit simpler.

[2015-01-27 00:10] electrical commented on #150
@erik-stephens no worries. I appreciate all input and idea's :-)

[2015-01-27 11:14] faxm0dem commented on #159
excellent, thanks!

[2015-01-29 09:32] ctrlaltdel commented on #185
+1

BTW, it will also cause troubles to folks upgrading from previous versions of this module.

[2015-01-30 10:06] #242 closed

[2015-01-30 10:43] electrical commented on #199
Hi,

I've done a test by setting the status to `enabled` on the main class and to `running` and then evaluated the actual settings for the service and it appears to work as expected.
It sets the service to running but without enabling it.

[2015-01-30 12:33] electrical commented on #193
Hi,

A feature has been added so you can create your own logging.yml template.
You can also use a plain logging.yml file.
the logging_config hash should be improved indeed but is not on my todo list at the moment.

Cheers.

[2015-01-30 12:33] #193 closed

[2015-01-30 12:57] electrical commented on #192
Just a heads up. Im now working on solving this issue and making it support centos7 better.

[2015-01-30 19:41] reamer77 commented on #199
OK thanks!

[2015-01-30 19:41] #199 closed

[2015-02-01 15:42] electrical commented on #202
Updated on master branch

[2015-02-01 15:42] #202 closed

[2015-02-01 16:11] electrical commented on #192
Hi,

Centos7 Support ( mainly systemd support ) has been improved via https://github.com/elasticsearch/puppet-elasticsearch/pull/258

[2015-02-01 16:18] electrical commented on #150
Hi all,

I'm going to close this issue as most or all improvements have been implemented and will be released soon.
I'll open a new one at some point to look forward towards Puppet 4.0 and what we can do there.
Thank you very much for the involvement!

[2015-02-01 16:18] #150 closed

[2015-02-04 13:38] derjohn opened #262 "ES_HEAP_SIZE should have an override / be a variable in the initscript erb."
Currently there is no way to give the ES more than 1G HEAP. There is no placeholder in the init script.

[2015-02-04 13:50] electrical commented on #262
Hi,

You can define the ES_HEAP_SIZE in the defaults file which gets exported by the init script and then picked up by ES it self.

[2015-02-05 07:10] lrafagnin commented on #182
I had a similar issue, selinux was blocking it from running on the background
You can test this by running on the foreground, should work ./elasticsearch -f
Next step is checking /var/log/secure

[2015-02-06 10:54] talisto commented on #243
I just hit this same issue (or a similar issue), even on the 0.9.0 version.  The error I was getting (repeatedly) was:
[code]
I removed the `recurse => true` parameter from the `file { $elasticsearch::params::homedir: }` resource in `config.pp` which resolved the issue.

[2015-02-06 11:29] electrical commented on #243
@talisto that is worrying, i had hoped that the 0.9.0 release would have solved it by setting explicit recurse to false on the other parts.
I'll re-open this issue an chase it.

[2015-02-06 14:07] electrical commented on #243
@talisto I've created PR https://github.com/elasticsearch/puppet-elasticsearch/pull/263
Would you be able to test it out and see if this fixes your issue?

[2015-02-09 14:56] derjohn commented on #262
Thx!

[2015-02-09 14:56] #262 closed

[2015-02-09 21:43] talisto commented on #243
Ok, I've applied your PR and it seems to be all good (my puppet agent applies the manifest just fine), however the problem occurred intermittently, so I can't say that it is definitively fixed.  I'm assuming it is though!

[2015-02-10 01:46] kjhosein opened #266 "Hiera query for multiple datadirs generates incorrect mkdir command"
Hello - I'm trying to add multiple datadirs into an `elasticsearch::instance {}` by pulling in an array from Hiera like this:

`es.pp`:
[code]
And in Hiera, I have:

    es_datadirs:
      - /data/elasticsearch/disk1
      - /data/elasticsearch/disk2

However, this throws an error: `creates must be a fully qualified path`. When I dig into the catalog that's generated on the agent machine, I see th

[2015-02-10 17:56] erik-stephens opened #267 "Default ES_HEAP_SIZE as a function of total memory"
Would it be useful to others to to define this default as a function of total memory?  Something like the following is what I typically do but as I move more of my configuration to hiera, this kind of math is not possible:

    $default_heap_size = floor($::memorysize_mb / 2)
    $instance_init_defaults_main = {..., 'ES_HEAP_SIZE' => "${default_heap_size}M"}

[2015-02-12 15:13] jvehent commented on #267
I second this. I cannot find a way to set the HEAP_SIZE through this module on ubuntu. A parameter would be useful.

[2015-02-12 15:33] erik-stephens commented on #267
@jvehent You can define it via the [instance's `init_defaults` parameter](https://github.com/elasticsearch/puppet-elasticsearch/blob/12724599a99fe84bc7cc892d4076182d69ee97c9/manifests/instance.pp#L61).  Hope that helps.

[2015-02-13 12:33] DocEmmetBrown opened #268 "install repo on debian failed :"
Hi,

I tried to setup a clean install on a debian wheezy, with the repos.

In the machine manifest I wrote :

[code]

but I get this weird error from my apt module :

`Error: Could not retrieve catalog from remote server: Error 400 on SERVER: validate_re(): "" does not match ["always", "daily", "weekly", "reluctantly"] at /etc/puppet/modules/apt/manifests/init.pp:66 on node <mynode>`

installing t

[2015-02-13 16:30] ajlanghorn commented on #267
We'd find it very useful to be able to set the HEAP_SIZE on Ubuntu using a heap_size param. @jvehent, @erik-stephens - have either of you started a branch? I'd be happy to contribute.

[2015-02-13 16:47] erik-stephens commented on #267
@ajlanghorn Have you tried setting it via `init_defaults`?  It *should* work on Ubuntu as well.  I'm waiting for feedback from the maintainer(s) to confirm that it is a good idea before submitting a PR.

[2015-02-13 16:49] ajlanghorn commented on #267
@erik-stephens Yes, we do exactly that, and I can confirm it works fine for us on 12.04 LTS.

[2015-02-13 16:56] erik-stephens commented on #267
@ajlanghorn Cool.  When you say "using a heap_size param", what does that look like?  Is it a percentage?

[2015-02-13 16:59] ajlanghorn commented on #267
@erik-stephens Yes, pretty much. We set the total heap size allocation to be a percentage of the total RAM on the machine. Elasticsearch have some documentation on best practice guidelines to use for your heap size, and from memory, they suggest using 50% of your available RAM at most. If I can find a link, I'll fire it your way.

[2015-02-16 11:39] electrical commented on #268
I'll do some local testing, perhaps i missed something along the way since i test against a bit older version.

[2015-02-16 11:42] electrical commented on #267
Hi guys.

The 50% of avail memory is correct but we also advise not to use more then 31GB of heap.
Adding all this kind of automatic calculations might confuse people on the long run so i'm not sure yet If this is something i would like to implement but i do appreciate the thought and discussion.

[2015-02-16 11:44] electrical commented on #266
Hmm, good question, i haven't tried it in this way yet to be very honest.
Not sure if it would make a difference but you could try to use `hiera_array` ?

[2015-02-16 11:45] electrical commented on #243
@talisto sorry for not getting back sooner, been on holiday.
I've merged the PR and will do a release this week.
thanks for testing!

[2015-02-16 13:43] electrical commented on #268
I've done a local test with the module and latest puppetlabs-apt module and didn't run into any issues so far.
Do you have any other calls to the apt module in your manifests?

[2015-02-16 14:59] electrical commented on #192
I'm closing this issue.
SystemD improvements have been released with version 0.9.0

[2015-02-16 14:59] #192 closed

[2015-02-16 15:19] electrical opened #269 "Plugin installations and upgrades"
Trying to collect all the different plugin related issues into a single issue so we can have a single place of thought on the subject.

Related issues/PR's:

https://github.com/elasticsearch/puppet-elasticsearch/issues/203
https://github.com/elasticsearch/puppet-elasticsearch/issues/180
https://github.com/elasticsearch/puppet-elasticsearch/pull/101
https://github.com/elasticsearch/puppet-elasticse

[2015-02-17 13:36] electrical commented on #267
Hi guys,

gave this some more thought and decided not to implement such an option.
Mainly because it would be 'magic' and can fail in some cases where it might select the wrong amount of memory ( and then cause all kind of weirdness )
As a solution you can always build some kind of wrapper or role class that can define the memory to the ES class in the way you want it.

thank you though for the id

[2015-02-17 14:07] electrical commented on #266
With the hiera tests that i can do i use the auto binding and that seems to work fine.
I haven't been able to try out the `hiera` call it self as rspec-puppet doesn't allow it nor have i been able to reproduce it further.
You can ignore my comment about `hiera_array` as the functionality is different then I initially though.

[2015-02-17 14:08] #243 closed

[2015-02-17 14:12] philipwigg commented on #266
```datadir       => "$_es_datadirs",```

I think by quoting ```$_es_datadirs``` you are implicitly converting it to a string which might be where you're going wrong.

Try taking out the quotes?

[2015-02-17 14:46] erik-stephens commented on #267
No problem and thanks for the consideration.  People look to Puppet modules to provide opinionated defaults based on best practices.  Allow me to try to clarify/summarize what is being proposed since I don't see it as magical or implicit.  I propose adding a new parameter `heap_size_percent`.  By default, it is undef which keeps the behavior as it is now.  If it is defined, then we do something li

[2015-02-17 15:10] electrical commented on #267
Hi @erik-stephens thank you for the clarification.
My main concern is that we might end up with several settings for defining the heap space size.
Also the 50% rule for example states that it shouldn't be more then 31GB, so we will need to check for that as well.
What should we do when we are over the 31GB? fail the whole run or just log a warning?
And indeed conflicting settings, which one will r

[2015-02-17 15:44] electrical commented on #266
@philipwigg good catch, that will most likely be the culprit. It indeed forces it to be a string if i remember correctly.

[2015-02-17 22:17] cristi1979 opened #270 "travis fails"
In order to make travis pass for ruby 1.8.7, you need to change the rspec dependency to version 2:

from:
    gem 'rspec-puppet', :git => 'https://github.com/electrical/rspec-puppet.git', :branch => 'rspec3'
to:
    gem 'rspec-puppet', '~> 2.0'

Or give up on testing on ruby 1.8.7

[2015-02-17 22:27] electrical commented on #270
Yeah. I noticed it was failing the other day.
I think i'll give up on Travis completely since i run all our tests via our Jenkins setup anyway as well ( including PR testing )
See http://build-eu-00.elasticsearch.org/view/Puppet/ for more details.

[2015-02-18 09:08] DocEmmetBrown commented on #268
Hi, sorry for the delay, I had to double check my manifests ;)

I'm using 'wdijkerman-zabbix' module, which uses apt module, but that's all ;) and didn't have any issues using this module with others modules or manifests...

[2015-02-18 16:04] electrical commented on #268
No worries.
Its very weird its having these issues.
I've done some tests with different puppetlabs-apt versions and have  seen no issues like this.
The repo part of the module pretty much only calls the apt::source part anyway so its weird it would fail at all.

[2015-02-19 12:50] halfninja commented on #270
Looks like you can include badges from Jenkins, if you wanted to replace the Travis one in the readme.

http://build-eu-00.elasticsearch.org/view/Puppet/job/Puppet_Elasticsearch_Acceptance_Extra/badge/icon

![puppet-elasticsearch Acceptance Extra](http://build-eu-00.elasticsearch.org/view/Puppet/job/Puppet_Elasticsearch_Acceptance_Extra/badge/icon)

[2015-02-23 19:39] gonrada opened #274 "Managed repository proxy support"
Would it be possible to have the module support setting the yumrepo proxy setttings when installing the repo?  The yumrepo type does support proxy setttings. [docs.puppetlabs.com](https://docs.puppetlabs.com/references/latest/type.html#yumrepo)

Thanks

[2015-02-23 21:19] electrical commented on #274
Thanks for the request. I'll have a further look at this next week as I'll be traveling this week.

[2015-02-24 09:52] Spredzy opened #275 "Create a connection validator resource"
Some Puppet modules (mongodb[1], puppetdb[2]) do provide a X_conn_validator resource, where X is the name of the service to check. This make it possible to "suspend" (while validating) the puppet run, until the service is actually up and running.

Elasticsearch bootstrap is not instantaneous, hence currently, it is possible to apply resources that depends on the Elasticsearch instance to be up and

[2015-02-24 15:50] derjohn opened #277 "elasticsearch::instance / ensure => absent will fail in second puppetrun."
If you set a  elasticsearch::instance to ensure => absent, it will remove it correctly but will in the second puppet run complain, that it cannot remove it because it is not there :-/

rgds,
j.

[2015-02-24 20:00] electrical commented on #277
Hi,

Thank you very much for reporting it.
Would you be able to pastebin/gist the output of the second run so i can see which parts of it fail?
Thanks!

[2015-02-25 05:28] mattyindustries opened #278 "Manage log directory location"
I've recently upgraded from version 0.4.0 to version 0.9.1.

One of the changes in this upgrade is the file resource for the Elasticsearch log directory /var/log/elasticsearch.

In my implementation I change my log directory to be /app/elasticsearch/log in the elasticsearch config file and seperately to this module I change /var/log/elasticsearch to symlink to /app/elasticsearch/log.

There isn't

[2015-02-26 17:27] AlBlanc opened #280 "Path settings issue"
Hello,

I am facing issues with this puppet module. I want to specify some path into the configuration but none of these are followed. A default elasticsearch configuration file is generated (at /etc/elasticsearch/elasticsearch.yml)  and another one following my rules at (/etc/elasticsearch/01/elasticsearch.yml). But it looks like elasticsearch is using only the default one.

The agent is running

[2015-02-26 17:33] AlBlanc commented on #280
It looks like init.d script is overriding the configuration file.

https://github.com/elasticsearch/puppet-elasticsearch/blob/master/templates/etc/init.d/elasticsearch.Debian.erb

[2015-02-26 17:41] AlBlanc commented on #280
Works fine after moving /etc/elasticsearch/01/elasticsearch.yml to /etc/elasticsearch/elasticsearch.yml and removing default parameters into init.d script.

But i can't use this module. Hope this will be fixed soon

[2015-02-27 07:05] maaand opened #281 "syntax error on line 35, col 77: `$'"
I'd posted this on stackoverflow too..  and narrowed this down to "es_facts.rb"
https://stackoverflow.com/questions/28656462/puppet-syntax-error-on-line-41-col-55-t

[code]

[2015-02-27 08:54] electrical commented on #281
Thank you for the report. I'll have a look at this soon and see if I can find the issue

[2015-03-01 21:14] kjhosein commented on #266
@philipwigg - that worked! Thank you both.

[2015-03-01 21:14] #266 closed

[2015-03-02 09:16] electrical commented on #266
@kjhosein glad to hear it worked!

[2015-03-02 11:06] daks opened #282 "upgrading module from 0.4.0 to 0.9.1 causes cycle dependency error"
Hello,

I tried to upgrade this module from version 0.4.0 to 0.9.1. It causes a cycle dependency error

    (Exec[download_package_elasticsearch] => Class[Elasticsearch::Package] => Class[Elasticsearch::Config] => File[/opt/elasticsearch] => File[/opt/elasticsearch/swdl] => Exec[download_package_elasticsearch])

My associated code didn't change.
It is composed of a common 'profile' definition *(mo

[2015-03-02 14:22] electrical commented on #281
Hi, i've been doing several tests but have not been able to reproduce this.
Also `ruby -c` says the syntax is good.
I'll try to do some more debugging on this.
Can you check if the file copied over is fully correct?

[2015-03-02 14:26] electrical commented on #282
I do have a system test that installs the package via the package_url and never seen this dependency cycle.
Can you confirm the upgrade of the module is successful?

[2015-03-02 14:33] electrical commented on #282
Ah wait, i think i see the issue. you have selected `/opt/elasticsearch` for the data directory but we manage `/opt/elasticsearch/swdl` separately but `/opt/elasticsearch` is automatically selected as a dependency causing the dependency cycle.

Must admit i have never tested for this use case.
You could try to set the `package_dir` to something else then `/opt/elasticsearch/swdl` or change the dat

[2015-03-02 14:47] daks commented on #282
in fact, changing package_dir to be outside datadir solved my problem. Strange edge case :)

[2015-03-02 14:49] electrical commented on #282
Must admit i haven't thought about this situation.
Perhaps i need to move the default pkg dir to something else, or find an other solution for this.
Any idea's are welcome :-)

[2015-03-02 23:08] jkroepke opened #283 "Add syslog logger support"
Hi,

I want to use syslog with elasticsearch. syslog can be configure like here:
https://github.com/elasticsearch/elasticsearch/issues/527#issuecomment-553427

Best Regards
Jan

[2015-03-04 16:12] mfournier opened #284 "0.9.1: Undefined variable "instance_datadir_config" at /etc/puppet/environments/staging3/modules/elasticsearch/manifests/instance.pp:239"
Removing the "path" section from the config hash passed to `elasticsearch::instance` makes the error go away. Here's what it contained:
[code]

[2015-03-04 16:27] electrical commented on #284
Thank you for reporting this. I found the issue and will push a fix for this tomorrow.
The issue is that i've no 'else' part at https://github.com/elasticsearch/puppet-elasticsearch/blob/master/manifests/instance.pp#L183-L185

[2015-03-05 11:29] mfournier commented on #284
Yes, I figured that out :) Thanks for fixing this so quickly ? Any ETA for a 0.9.2 ?

For the record, I'm working around this by starting logstash with `'LS_JAVA_OPTS' => '"-Des.path.home=/usr/share/elasticsearch"'` (I'm sharing the elasticsearch config with logstash so that it's embedded client can automatically benefit from the same settings).

[2015-03-05 14:39] electrical commented on #274
Sorry for the delay on this. I've been looking at all the repo management parts and it seems that its only easy to implement for yumrepo but not for apt or zypprepo.
Because of this I'm slightly reluctant to implement this.

the puppetlabs-apt module only allows for global proxy and zypprepo none at all directly ( possibly in the config it self )
I also see that yum supports a global proxy config

[2015-03-05 14:41] electrical commented on #267
Hi guys.

I will be closing the issue. Gave it more thought in the last few days and decided not to implement this due to several reasons.
Thank you though for the contribution!

[2015-03-05 14:41] #267 closed

[2015-03-05 14:43] electrical commented on #268
Hi,

I haven't been able to reproduce this issue at all with different puppet versions / puppetlabs-apt versions.

[2015-03-05 14:52] ajlanghorn commented on #267
@electrical Are those reasons those you outlined above, or are there others? If there are others, could you just put them in this PR for completeness? Thanks!

[2015-03-05 14:52] electrical commented on #284
I'm going to try to do a release tomorrow, otherwise I'll be doing that while I'm in SF at Elasticon.

[2015-03-05 15:03] DocEmmetBrown commented on #268
Hi, thanx for your time.

I guess my puppet setup must have something weird somewhere preventing this call to apt module...

I'll keep you posted if I find the source of the issue !

Thanx again !

[2015-03-05 15:33] psychonaut opened #285 "There's no way to set LimitMEMLOCK when use systemd as service provider"
... or at least it's not documented.

With commented #LimitMEMLOCK=infinity entry there is default setting for memory lock limits (on centos7 it is 65536 bytes.

[2015-03-05 15:38] electrical commented on #267
@ajlanghorn only the reasons i've mentioned above indeed.

[2015-03-05 15:45] electrical commented on #285
Ah, very good one. I'll have a better look at this issue next week and see if i can implement a solution.
Any idea's are most welcome.

[2015-03-05 15:47] psychonaut commented on #285
I just did quick&dirty change in template. But I think it could be done by using augeas with systemd lens:
http://augeas.net/docs/references/lenses/files/systemd-aug.html

[2015-03-05 16:07] electrical commented on #285
Ah cool. will take a look at that augeas lens and see how i can implement a best solution.
Thanks!

[2015-03-05 16:41] dforste opened #286 "Specifying JAVA_HOME in init defaults is not exported in init.d script"
Specifying JAVA_HOME in init defaults is not exported in RedHat init.d script.
Add a line to check for definition of JAVA_HOME and export it after sourcing the defaults file.

[2015-03-05 18:11] dforste commented on #286
I suggest the following fix.
[code]
This ensures JAVA_HOME is already defined.

[2015-03-05 22:07] dforste commented on #286
Fixed in Pull Request #287

[2015-03-06 11:35] electrical commented on #286
Hi,

Is there anything that requires this? Haven't had any issues so far without this. ( just trying to understand it )

[2015-03-06 11:47] electrical commented on #284
I'm currently working on a fix including a test to catch it for the future.

[2015-03-06 11:53] electrical commented on #284
@mfournier https://github.com/elasticsearch/puppet-elasticsearch/pull/289 should fix this issue.
Will be merging it today and trying to do a release today.

[2015-03-06 11:58] #284 closed

[2015-03-06 12:02] electrical commented on #280
Hi,

the /etc/elasticsearch/elasticsearch.yml file is not used at all any more since we support multiple instances.
All relevant config files should be in the /etc/elasticsearch/01 directory in your case.
Also the correct ini script is elasticsearch-01 then.

[2015-03-06 12:03] electrical commented on #275
The first patchset hasb een merged.
Feel free to send a PR for the second one.
Cheers.

[2015-03-06 12:24] electrical commented on #283
Hi,

You can supply your own logging.yml file to the module to manage those kind of things.

[2015-03-06 13:17] electrical commented on #285
I'll be bringing out a release today without a fix for this as i would like to fix this correctly with a bit more time.
But i'll make sure this gets fixed in the next release ( hopefully next week )

[2015-03-06 13:38] electrical commented on #284
I've released 0.9.2 just a few minutes ago. Hope this completely solves your issue.

[2015-03-18 15:40] dforste commented on #286
There is no issue when a system java is available in $PATH. The issue occurs when java is not installed in $PATH and the which java command returns a JAVA version. If you try setting up JAVA_HOME without java in the path the init script fails to export JAVA_HOME for use in the elasticsearch user environment. This leaves elasticsearch lost as to where either JAVA_HOME or JAVA is.  Sorry for the del

[2015-03-19 10:19] hadrouj opened #293 ""Error: No matching Packages to list" when installing 1.4.2 on centos 7"
Hi,
When I try to install ES version 1.4.2 on CentOs 7, I get the following error:

[code]
I'm using a vagrant box: https://vagrantcloud.com/puppetlabs/boxes/centos-7.0-64-puppet/versions/1.0.0/providers/virtualbox.box

The puppet manifest:

[code]

[2015-03-20 21:01] bastelfreak opened #295 "User/Group setting ignored"
We use the following profile:
[code]

unfortunatly elasticsearch ignores the user/group setting for the instance and starts it as root. we are using it on centos7

[2015-03-20 21:02] electrical commented on #293
Hi this is because you didn't enable the repo management.  Please check the documentation for this.

[2015-03-20 21:09] bastelfreak commented on #295
to clarify the issue, the "User= " and "Group= " setting in the systemd service file is empty

[2015-03-23 17:56] electrical commented on #295
Could you try with https://github.com/elastic/puppet-elasticsearch/pull/296 applied to see if it fixes the issue?

[2015-03-24 08:06] bastelfreak commented on #295
works perfectly:
[code]

[2015-03-24 08:16] bastelfreak commented on #295
This leads to another error, elasticsearch isn't able to start:

[code]
[code]

[code]

[2015-03-24 08:24] bastelfreak commented on #295
First issue: elasticsearch can't write to its logfile
```chown elasticsearch:elasticsearch /var/log/elasticsearch/es-01/elasticsearch_cluster_1.log```

and it can't access his data:
```chown elasticsearch:elasticsearch /usr/share/elasticsearch/data/es-01/elasticsearch_cluster_1 -R```

After that, everthing works fine:
[code]

[2015-03-24 10:51] electrical commented on #295
Thank you for testing. the rights issue was expected yeah since everything was owned by root.
I'll merge the PR and do a release within a few hours.
Thanks!

[2015-03-24 14:20] electrical commented on #295
Released as 0.9.3

Again hanks for reporting it!

[2015-03-24 14:20] #295 closed

[2015-03-24 14:21] electrical commented on #268
@DocEmmetBrown did you manage to find anything about it?

[2015-03-25 04:08] afx114 opened #300 "Add the ability to create and populate the config/scripts directory"
Now that dynamic scripting has been disabled as of ES v1.4.3, many people (including myself) are probably migrating their scripts to be disk-based.  This requires the placement of `.groovy` files into the `config/scripts` directory on *every single data node* in a cluster.  There doesn't seem to be a way to automate this using this puppet module, but it would be nice to be able to manage these scr

[2015-03-25 07:48] electrical commented on #300
Thank you very much for the feature request.
you've raised a very valid point and I'll try to make a solution for this with the next release.

[2015-03-25 09:12] DocEmmetBrown commented on #268
Hi,
no, I couldn't find any explanation for this behaviour... :disappointed:

[2015-03-25 09:42] philipwigg commented on #268
Can you search all your manifests and see if somewhere you are setting the $apt_update_frequency parameter in the apt class, and possibly leaving it undefined?

Maybe in Hiera data even?

That is what the error is complaining about.

Strangely the 'Usage' section for the puppet-apt module at https://github.com/puppetlabs/puppetlabs-apt#usage has an example where $apt_update_frequency is set to be

[2015-03-25 12:44] coreone opened #301 "Restart on upgrade"
I have been using this module for a while, and it's great!  The one thing I did notice, however, is that if you set the package to autoupgrade, it will upgrade just fine, but the service won't restart as a part of that upgrade.  I think there needs to be a notify inside the package.pp, probably something along the lines of:

[code]
Normally I would do a pull request for something like this, but I

[2015-03-25 13:31] electrical commented on #301
Hi,

In most cases people will want to do a controlled restart of the cluster to ensure that shards don't reallocate for example.
That's the main reason why i haven't implemented a notify to the service.
We potentially could make it optional.

[2015-03-25 14:15] DocEmmetBrown commented on #268
Hi Philip,

I searched recursively for this parameter in all my /etc/puppet folder, and no luck :
It's only defined at its default value in the module definition :
  $apt_update_frequency = 'reluctantly',
and I never set its value in any of my manifests...

[2015-03-29 03:13] flopex commented on #286
I can reproduce this same issue under CentOS 6.6 x64. Both PATH and JAVA_HOME are being ignored by use in "/sbin/service elasticsearch-instance start", however, it works fine with the use of "/etc/init.d/elasticsearch-instance start". This is due to the fact that service ignores all environment variables except for PATH, TERM and LANG. check_java should use PATH if the method of managing the servi

[2015-03-29 08:32] electrical commented on #286
Hi guys,

Thank you very much for the details.
I think this is something that should be solved upstream then just only in the puppet module.
Would one of you mind sending a PR to the elasticsearch repo as well so we do solve this permanently?

For the time being i'll merge the PR in the puppet module.

Thanks!

[2015-03-31 14:55] tocomo opened #304 "missing init script"
Why is there no init script  when installing 1.4.4 under ubuntu?

[2015-03-31 14:56] electrical commented on #304
@tocomo could you please elaborate?
What file are you expecting where?
And can you also gist/pastebin your puppet code?

[2015-04-01 06:05] mikey- commented on #226
do you think there should be a default value for instances? maybe 'elasticsearch'? for those who only run one instance?

[2015-04-01 08:33] electrical commented on #226
@mikey- having a 'magical' instance being setup independent of other defined instances is something that people won't expect, that's why I've decided not to do that.
There is also no decent way to detect if someone has defined an instance or not.
So by default there will be no instance running.

[2015-04-01 09:05] Yaskier commented on #304
I think that @tocomo is talking about init.d start/stop scripts, that I also find missing.

[2015-04-01 09:08] electrical commented on #304
@tocomo @Yaskier If no instances are specified using the `elasticsearch::instance` define there will be no init scripts placed indeed.
Please check the documentation regarding instances at https://github.com/elastic/puppet-elasticsearch#instances

[2015-04-01 12:41] electrical commented on #300
Hi,

I just started working on this feature by scoping the feature and design.
Since the module supports multi instance we would need to have the scripts on all the instances per server.
Would it make sense ( if possible ) to have the scripts in a single directory that is available for all the instances on that server?
Also do you know how to register these scripts or how to call them in a query ?

[2015-04-01 12:42] #293 closed

[2015-04-01 12:42] electrical commented on #293
No reply after 10+ days, closing

[2015-04-01 12:50] electrical commented on #282
Hi

Just to give an update on this.
I haven't been able to come up with a solution for this so far.
I think this is such an edge case we can ignore it for now unless it comes up again.
What are your thoughts about it?

[2015-04-01 12:51] electrical commented on #212
Hi,

Augeas is now reported under the requirements at https://github.com/elastic/puppet-elasticsearch#requirements

Closing

[2015-04-01 12:51] #212 closed

[2015-04-01 12:53] electrical opened #305 "When setting to absent, make sure we clean everything out"
Follow up from https://github.com/elastic/puppet-elasticsearch/issues/227
At the moment we don't clean enough yet and should look into this.

[2015-04-01 12:53] #227 closed

[2015-04-01 12:53] electrical commented on #227
Following up via #305

[2015-04-01 12:54] electrical commented on #274
Closing this as no feedback has been given.

[2015-04-01 12:54] #274 closed

[2015-04-01 12:56] electrical opened #306 "Disable travis and add Jenkins build badges"
Follow up from https://github.com/elastic/puppet-elasticsearch/issues/270

todo:

- [ ] Disable travis on this repo
- [ ] Add Jenkins build badges

[2015-04-01 12:57] electrical commented on #270
Following up via #306

[2015-04-01 12:57] #270 closed

[2015-04-01 13:00] electrical commented on #283
Closing as no feedback has been given for 3 weeks.

[2015-04-01 13:00] #283 closed

[2015-04-01 13:01] electrical commented on #280
Closing due to lack of feedback.

[2015-04-01 13:01] #280 closed

[2015-04-01 13:27] electrical commented on #277
Hi,

I've done several tests with the latest release and didnt see this issue.
Could you verify?

[2015-04-01 13:31] electrical commented on #281
Closing due to lack of feedback.

[2015-04-01 13:31] #281 closed

[2015-04-01 14:26] afx114 commented on #300
The scripts need to be in a specific directory: `config/scripts` so I suppose if there is one `config` dir for each instance, then the scripts would need to be in each `config/scripts` for each instance.

I imagine this would work exactly the way templates do now.  In fact, I was thinking you could basically just copy the template code and rename a few things and it would work for scripts out of t

[2015-04-01 14:42] electrical commented on #300
Thanks for the info.
Did have a chat with the ES guys as well and at the moment it can't be changed indeed so i created https://github.com/elastic/elasticsearch/issues/10369 to get it changed ( hopefully )

As a temp solution i could let the main class create a scripts directory and let each instance define create a symlink from its own scripts dir to the central one.

What do you think?

[2015-04-01 14:44] electrical commented on #300
Seems https://github.com/elastic/elasticsearch/issues/6766 already exists for this change :-)

[2015-04-01 15:03] afx114 commented on #300
I think the symlink workaround is a fine temp solution.

[2015-04-01 15:52] electrical commented on #300
@afx114 I've created https://github.com/elastic/puppet-elasticsearch/pull/309 for it.
Could you have a look when you have the time?

Cheers.

[2015-04-01 22:30] mikey- commented on #226
makes perfect sense. Thanks! <3

[2015-04-02 04:40] mikey- commented on #226
Actually, I have to ask, what would the instance name be for `class { 'elasticsearch' : }` ? or is that what you meant by "having a 'magical' instance being setup independent of other defined instances is something that people won't expect, that's why I've decided not to do that."? If it that's what you meant, I would have totally disagree and say that's exactly what people expect (also that's wha

[2015-04-02 07:34] electrical commented on #226
Very good and valid questions, It seems that i have to improve the README.
When calling the ES class with `class { 'elasticsearch': }` it does the following:
 1. Install the package
 2. Create required extra directories
 3. Remove init scripting supplied by the package install

You can either define an instance via the `$instances` variable ( hash; mainly used via hiera ) of the elasticsearch clas

[2015-04-02 07:42] mikey- commented on #226
Yep yep yep super clear now (: Thanks again ^_^

[2015-04-02 17:18] afx114 commented on #300
I think that looks pretty good (added comment to the PR).  I will try and run some tests this or next week to see how it all works.

[2015-04-07 14:21] electrical commented on #268
@DocEmmetBrown have you been able to track this down further?
I haven't been able to reproduce this at all with any of my local testing.

[2015-04-07 14:22] electrical commented on #277
Closing due to lack of response. Please open a new issue if this is still a problem. Thank you.

[2015-04-07 14:22] #277 closed

[2015-04-07 19:14] ranguard commented on #269
Hi, I just got stuck on `java.lang.NoClassDefFoundError: Lorg/elasticsearch/indices/InternalIndicesService` eventually worked out that marvel needed upgrading.

This was after I upgraded from ES 1.4.4 to ES 1.5.0

I wonder if one option is to have a flag allowing reinstall of  all plugins when ES is upgraded as this seems likely to be the point that there may be issues.

Just an idea - thanks for

[2015-04-08 13:11] electrical commented on #269
@ranguard that will be an extremely hard thing to do.
Especially if plugins are pinned to a certain version, which i assume people do since specific versions of the plugins work with certain ES versions.
I'll keep it in mind though if a solution comes to mind.

[2015-04-08 13:13] jmkgreen opened #311 "Plugin fails after initial install"
elasticsearch::plugin{'royrusso/elasticsearch-HQ':
      module_dir => 'hq',
      instances  => 'es-01'
    }

Works fine the first run. After that we get errors:

    Notice: /Stage[main]/Main/Node[elasticsearch..int.example.com]/Elasticsearch::Plugin[royrusso/elasticsearch-HQ]/Exec[install_plugin_royrusso/elasticsearch-HQ]/returns: -> Installing royrusso/elasticsearch-HQ...
    Notice: /Stage[m

[2015-04-08 13:17] electrical commented on #311
I did a quick check and it seems that the module_dir should be 'HQ'.
I'm very sorry for the lack of documentation around it ( still trying to improve that )

The module_dir setting is the directory where the plugin is installed in so we can validate if the plugin is actually installed or not. ( by checking if the directory exists )
Since the directory is in capital letters and you supplied lowerca

[2015-04-08 13:19] jmkgreen commented on #311
I thought that `module_dir` was supposed to tell puppet where to install the module, not where the module installs itself into :-)

[2015-04-08 13:21] electrical commented on #311
Sorry for the confusion about it, i really need to improve the documentation around it and find something to improve it.

[2015-04-08 13:25] jmkgreen commented on #311
Just sent a pull request to at least get the field clarified.

[2015-04-14 09:37] electrical opened #315 "Pinning elasticsearch package"
Pinning the package to a certain version ( optional ) allows to add more security when someone by accident or purposely does an apt-get upgrade / yum update.
This ensures that Elasticsearch package is not upgraded to a newer version and only is done when we really want that.

Any feedback is welcome.

[2015-04-15 20:44] electrical opened #319 "Revert Long apt key to short one"
using the long key causes several issues on older Puppet Enterprise versions which don't handle the long key very well.
Since i guarantee it to work with those versions i'll have to revert to the short key.
For puppetlabs-apt 1.8 users it will just moan about it but will continue to work.
When I can drop support for those PE versions and use newer versions of the apt module in those i can move bac

[2015-04-17 16:07] damnski commented on #226
Howdy,

The "instances" documentation needs to be plural in the example of the README.md (regarding hash merging, 'mainly via hiera').  I got jammed up on this until I reviewed the manifest/init.pp code itself.  I was following the README.md using `elasticsearch::instance` in the hiera/YAML, but you need to use `elasticsearch::instances`.

Can you please change the README.md https://github.com/ela

[2015-04-20 12:44] muelli commented on #152
It doesn't seem to work for me.
How is that supposed to work for proxies requiring authentication?  What values should I put for `proxy_host` and `proxy_port`?

[2015-04-20 12:51] electrical commented on #152
@muelli i think you could do something like this for the auth part: `proxy_host = 'user:pass@host'`

[2015-04-24 13:49] claussni opened #322 "Installation broken for puppetlabs-apt 2.0.0"
The repo installation doesn't work with the recent `puppetlabs-apt 2.0.0`. The error is:
[code]
Here is the module list:
[code]
It works again by forcing version 1.8.0 of `puppetlabs-apt`.

[This commit](https://github.com/puppetlabs/puppetlabs-apt/commit/0f3bdcdf5a44315197ded803401b52dfcce38ebe) in puppetlabs-apt seems to break it.

[2015-04-24 14:24] electrical commented on #322
I noticed the same issue today with the spec tests indeed.
Next release will force to be below 2.0 so it won't break it for the time being.

[2015-04-29 14:47] ladshada opened #325 "Why I can't use custom facts?"
Hi!

In this document I have read about custom facts.
https://www.elastic.co/blog/elasticsearch-puppet-module-0-9-0-released

But I don't see any of this facts in my facter.

facter -p | grep elasticsearch
elasticsearch_ports => 9200

How can I see elasticsearch_9200_cluster_name and other facts?

[2015-04-29 15:18] philipwigg commented on #325
Can you show us your Puppet manifest?

[2015-04-29 15:30] ladshada commented on #325
Sure.

node 'test' {
class { 'elasticsearch':
	manage_repo		=>	true,
	repo_version	=>	'1.5',
	version			=>	'1.5.1-1',
	datadir			=> '/opt/elasticsearch/data',
	config	=>	{
		'discovery.zen.ping.multicast.enabled'			=> 'false',
		'index.number_of_shards'						=> '16',
		'index.number_of_replicas'						=> '1',
		'bootstrap.mlockall'							=> 'true',
		'threadpool.bulk.type'							=> 'fixed',
		'thre

[2015-04-29 16:39] philipwigg commented on #325
Hmmm.. that is strange.

If I apply your manifest to a Vagrant machine running Ubuntu I get the following output (I had to change the version since it couldn't find 1.5.1 in the apt repo for some reason):-

[code]

Have you restarted your Puppet master after you've upgraded the module? This is necessary to pick up new custom facts.

If you've done that, is it possible to search for es_facts.rb on

[2015-04-29 17:19] ladshada commented on #325
Yes, I have restarted puppet master and the content of my es_facts.rb is the same to puppet-elasticsearch/lib/facter/es_facts.rb in Github.

I checked out that this issue I can see only in CentOS 7.1. On my servers with CentOS 7.0 custom facts work.

CentOS 7.1
ruby --version
ruby 2.0.0p598 (2014-11-13) [x86_64-linux]

CentOS 7.0
ruby --version
ruby 2.0.0p353 (2013-11-22) [x86_64-linux]

Is this a

[2015-04-29 17:20] philipwigg commented on #325
Actually...upon closer inspection. Do you have the Shield plug in enforcing basic auth on your Elasticsearch endpoints?

The custom fact relies on being able make an HTTP request to localhost on the ES port to get all of the information in the facts (except the port fact, which you do see).

[2015-04-29 17:22] ladshada commented on #325
Yes, I have Shield plugin with basic auth.
So, with Shield this custom facts don't work?

[2015-04-29 17:31] philipwigg commented on #325
From looking at the code, it seems like this would be the case I'm afraid.

I will see if I can think of a workaround.

Maybe  @electrical can help too?

[2015-04-29 17:35] philipwigg commented on #325
@ladshada - out of interest, is Shield a difference between your 7.0 and 7.1 nodes?

[2015-04-29 17:40] ladshada commented on #325
Yes. Nodes on the 7.1 are test nodes, and on the 7.0 are production nodes.

[2015-04-30 15:40] electrical commented on #325
Hi guys,

This is indeed a problem when shield is installed since the custom facts do a curl request to the http port without auth.
I'm thinking of adding support for a auth file where a simple user/pass string is added and use that for the authentication.

[2015-04-30 15:41] electrical commented on #325
As addition the template insert action won't work either since we don't provide a username / password for that either.
So i'm thinking of adding a http_user and http_pass option to the module and let the rest use those values for any http related actions.

[2015-04-30 15:57] philipwigg commented on #325
Do you mean you would put a file on the filesystem and let the custom fact read that? That would work, I'm not sure about the security implications.

Or you could just insist that they configure Shield to allow anonymous users to have access to whatever the fact needs?

http://www.elastic.co/guide/en/shield/current/authentication.html#anonymous-access

I'm not very knowledgable about Shield I'm af

[2015-04-30 16:03] electrical commented on #325
@philipwigg yeah, its not a great solution.
Anonymous access is something i can take a look at

[2015-04-30 16:06] philipwigg commented on #325
@electrical It's not an easy one...

PD. see you at DoxLon tonight!

[2015-04-30 16:07] electrical commented on #325
@philipwigg ah cool. nice to finally meet you :-)

[2015-04-30 16:29] ladshada commented on #325
I think, I can write my own facts, that can parse elasticsearch.yaml and take information about cluster from there. I am experienced in bash :)

[2015-05-03 14:25] alejandrobednarik-olx commented on #322
I already made a pull request to fix this issue.

[2015-05-04 05:33] rthijssen opened #327 "Unable to launch ES service"
The module works great until it tries to launch the elasticsearch instance that has been defined in the puppet file.

My puppet config:
[code]

When trying to run this on a fresh Debian (8 Jessie) machine - but also happened on Debian 7 machines - I get the following error:
[code]

I'm using puppet in a Vagrant box so the message might be slightly different for someone who is using puppet directly

[2015-05-04 06:05] claussni commented on #322
For the sake of documentation: https://github.com/elastic/puppet-elasticsearch/pull/326

[2015-05-04 15:52] #311 closed

[2015-05-05 13:50] electrical commented on #268
Closing issue after 28 days without an update. If its still an issue please open a new one.

[2015-05-05 13:50] #268 closed

[2015-05-05 13:51] electrical commented on #185
The version that had this change has been out so long i doubt it will cause any more issues.
I think it will cause more hurt if i would change it again.
Closing it for now, can always revisit in the future.

[2015-05-05 13:51] #185 closed

[2015-05-05 13:52] electrical commented on #278
I did review the PR you sent https://github.com/elastic/puppet-elasticsearch/pull/288 but no reply was sent after initial review.
Will close that PR and put on my todo list to add this feature.

[2015-05-05 13:53] electrical commented on #282
Closing as no alternative solution could be thought up, considering this as an edge case.
Might review in the future.

[2015-05-05 13:53] #282 closed

[2015-05-05 13:54] electrical commented on #322
I've done a documentation update stating apt < 2.0 is required.
Closing this issue.

[2015-05-05 13:54] #322 closed

[2015-05-05 13:54] #319 closed

[2015-05-05 13:54] electrical commented on #319
This was reverted.

[2015-05-05 13:54] electrical commented on #304
Closing issue due to inactivity.

[2015-05-05 13:54] #304 closed

[2015-05-05 13:55] electrical commented on #301
Due to the operational nature of ES i've decided against restarting the service with package upgrade.

[2015-05-05 13:55] #301 closed

[2015-05-07 16:37] alyssondaniel commented on #182
Ubuntu 15.04

$ /usr/share/elasticsearch/bin/elasticsearch

out: AccessDeniedException[/usr/share/elasticsearch/data]

$ sudo mkdir /usr/share/elasticsearch/data

$ sudo chown elasticsearch.elasticsearch /usr/share/elasticsearch/data -R

[2015-05-07 16:44] electrical commented on #182
@alyssondaniel please create a new issue and give a bit more details like which version of the module you are using and your puppet parts.

[2015-05-07 16:46] alyssondaniel commented on #182
ok

[2015-05-09 08:45] electrical commented on #327
Hi,

Support for debian 8 is coming. Debian 7 should work fine as my own tests are running nicely with it so that's weird.
In Debian 7 we still use the old init script, in debian 8 we are moving to systemd.

[2015-05-11 00:52] rthijssen commented on #327
Cool got it.

I must have missed something. Service just launched fine on Debian 7. Apologies.

[2015-05-11 00:52] #327 closed

[2015-05-11 08:07] electrical commented on #327
No worries, can happen :-)

[2015-05-11 23:45] joshuar commented on #315
What's the difference between adding code for pinning or removing the ability to specify `ensure => latest` and the autoupgrade functionality?

[2015-05-12 10:34] electrical commented on #315
@joshuar Pinning a package allows us to secure the version on the system. If someone decides to manually run a package upgrade ( apt-get upgrade / yum update ) we are sure that Elasticsearch does not get upgraded by accident.
This only works when we specify a version.

Auto upgrade and ensure latest are different ways of upgrading a package, even if we removed those someone with shell access could

[2015-05-12 14:06] electrical opened #332 "Anchor[elasticsearch::end] is hanging around"
The end anchor is doing nothing much at the moment.
Need to take it in use or remove it.

[2015-05-12 20:32] TravellingGuy opened #333 "elasticsearch module not compatible with new puppetlabs/apt module"
The latest puppetlabs/apt module (v. 2.0.0) has had a major refactor.

When the elasticsearch module is configured to manage the repo (manage_repo => true), puppet agent fails with an error:

[2015-05-12 22:09] philipwigg commented on #333
Hi, this is a duplicate of #322.

Basically you need to use the apt module < 2.0 and the next release will enforce that.

The module can't support apt 2.0 yet because it breaks compatibility with older PE versions.

[2015-05-12 22:16] TravellingGuy commented on #333
Thanks. I can live with the incompatibility for the time being.

Incidentally, I did do a search for the problem before posting my new issue, but I neglected to search Closed issues. Doh.

[2015-05-12 22:16] #333 closed

[2015-05-13 19:48] cdenneen opened #335 "instance init_defaults 0.9.5 bug"
The following works:
[code]
The following doesn't write out the /etc/sysconfig/elasticsearch-vagrant_elasticsearch file and errors on puppet run:
[code]

Error is
[code]

[2015-05-13 20:10] electrical commented on #335
Hi,

Could you change your ES_JAVA_OPTS line into the following:
`'ES_JAVA_OPTS'  => '"$JAVA_OPTS -Djava.net.preferIPv4Stack=true"'`

The problem in this case is that the value has spaces.
the single quotes purely ensure its a string passed on to augeas but within augeas it messes up because it doesn't realize its a complete value for the ES_JAVA_OPTS key.

[2015-05-14 15:59] dforste commented on #286
I created a PR to the upstream. https://github.com/elastic/elasticsearch/pull/11166 Do I need to duplicate this issue upstream? Or can it simply be merged?

[2015-05-14 19:22] cdenneen commented on #335
@electrical that was it... thanks!

[2015-05-14 19:22] #335 closed

[2015-05-18 14:05] muelli commented on #152
hm. that doesn't seem to work for me :-(
Also, https://github.com/elastic/elasticsearch/commit/cf7ebfcebf50ad596bf5d6f373da94f01500daf9 mentions `-Dhttp.proxyHost`, not `-Dproxy_host`. But it remains to be seem if there is a working parameter for authenticated proxies. So far, I haven't managed to get it working.

Why can the plugin installer not simply take the environment variable? I've filed a

[2015-05-18 17:53] jlintz commented on #269
Yea I just got bit by the lack of being able to upgrade a plugin.  It would be great if it detected a version that it could remove and re-install and if there's no version maybe just throw an error?

[2015-05-21 11:30] faxm0dem opened #336 "restart_on_change should have a different default"
I think `elasticsearch::restart_on_change = false` should be the default value, as long as there is no [elasticsearch rolling restart API call](/elastic/elasticsearch/issues/9046). Indeed, using puppet to manage multiple cluster nodes could have catastrophic consequences with this parameter set to `true`.

[2015-05-22 09:27] electrical commented on #325
Current solution i'm thinking about is not the most clean one but should work.

1. Place a file ( yaml ) in /etc/puppet ( or other correct dir depending on puppet version ) with username / password for the custom facts. Make sure only the puppet user can read it.
2. Let the custom fact read that file for the authentication when using shield.
3. The same values can be used in other http actions lik

[2015-05-22 09:28] #300 closed

[2015-05-24 12:27] electrical commented on #315
#331 implemented Package pinning for most distro's. Still need to add it for OpenSuse/Sles

[2015-05-26 09:07] electrical commented on #285
Sorry for the delay.
https://github.com/elastic/puppet-elasticsearch/pull/313 implemented a feature so you can set the 2 options you mentioned.
Hope this is enough for your use case?

[2015-05-26 09:20] electrical commented on #336
I tend to agree with this since automatic restarts on config changes is something we wouldn't want.
Feel free to send a PR otherwise i'll make the change my self.

[2015-05-26 13:07] psychonaut commented on #285
Looks like it. Do you know when it will be released?

[2015-05-26 13:13] electrical commented on #285
I'm planning to do a release this week. Doing some cleaning up and getting things into shape for the release.

[2015-05-26 13:15] psychonaut commented on #285
W dni wto 26 maj, 2015 o 15∶13 użytkownik Richard Pijnenburg
<notifications@github.com> napisał:

Thnx.

  eloy

[2015-05-27 10:22] electrical opened #343 "Automatic plugin name abstraction"
With the current implementation we find out if a plugin is installed or not by passing the directory where it is installed.
Right now that directory name has to be passed on manually to the define which causes a lot of confusion and its just very ugly.

Since the naming is fairly consistent we should be able to write a parser that takes the full plugin name as value and do some magic to extract th

[2015-05-28 08:48] electrical commented on #332
Removed the darn thing since it had no further use.

[2015-05-28 08:48] #332 closed

[2015-05-28 08:48] electrical commented on #315
OpenSuse/SLES will be solved in next version.

[2015-05-28 08:48] #315 closed

[2015-05-28 09:07] electrical commented on #285
Release is done. https://twitter.com/Richardp82/status/603849063524671488

[2015-05-28 09:07] #285 closed

[2015-05-28 09:20] electrical commented on #180
Just a quick update on this. I've done some digging and filed #343 with some idea's to solve this permanently in a good way.

[2015-05-28 09:20] electrical commented on #203
Just a quick update on this. I've done some digging and filed #343 with some idea's to solve this permanently in a good way.

[2015-05-28 09:21] electrical commented on #269
Plugin upgrades has been implemented.
Not automated like @ranguard hoped it would but atleast you can change the version number and will upgrade it automatically.

In #343 I filed a solution to get rid of the module_dir hack.

[2015-05-28 09:40] philipwigg commented on #343
Could maybe have a custom function that duplicates the code here?

https://github.com/elastic/elasticsearch/blob/master/src/main/java/org/elasticsearch/plugins/PluginManager.java#L622

[2015-05-28 10:06] electrical commented on #343
That part does the the opposite of what i want to do and i need mine to be more generic i think.
From any plugin naming convention i have to extract the most likely plugin dir name.
as an example:

`elasticsearch/elasticsearch-cloud-aws/1.4.3` would have directory `cloud-aws`
`lmenezes/elasticsearch-kopf` into `kopf`

And there are most likely more different options.
So at the moment i'm thinking

[2015-05-28 10:14] philipwigg commented on #343
Ah my reading of that ```parse``` method was that it was taking a plugin full name like ```elasticsearch/elasticsearch-cloud-aws/1.4.3``` and returning a PluginHandle object with ```name``` set to what you're looking for, i.e. ```cloud-aws```.

[2015-05-28 13:23] electrical commented on #343
@philipwigg I've been reading the code wrong you were completely right.
I copied over the same logic and works like a charm :-)

[2015-05-28 13:39] philipwigg commented on #343
Ah good to hear :+1:

[2015-05-28 13:39] philipwigg commented on #343
Will it cope with plugins that are just fetched via a URL?

[2015-05-28 13:41] electrical commented on #343
that's a whole different beast that i will have to think about :-)
Still thinking what to do with that one.

[2015-05-28 13:44] philipwigg commented on #343
Yeah not easy :-) The plugin manager must deal with the same problem in some way too I guess.

[2015-05-28 13:46] electrical commented on #343
It actually doesn't, it relies on the user giving the right name and uses that for the resulting directory :-)

[2015-05-28 13:49] electrical commented on #343
So i could use the resource name for the resulting directory name, or do some very cool logic based on the file name they download?

[2015-05-28 13:55] philipwigg commented on #343
I guess resource name seems easiest since you would want them to be able to supply that as a parameter anyway?

Does it deal with '_site' plugins? Seems like that's a thing too.

[2015-05-28 13:56] electrical commented on #343
yeah indeed, could leave that up to the user.
site plugins is something the plugin manager handles it self, i don't have to take that in account.

[2015-05-28 13:59] philipwigg commented on #343
Ah cool, good stuff.

[2015-05-28 14:32] electrical commented on #343
Could you take a look at https://github.com/elastic/puppet-elasticsearch/pull/346 ?

[2015-05-30 18:42] zobelhelas opened #349 "0.9.6 on Debian 8 results in /var/run/elasticsearch/ being 0555"
Next time elasticsearch tries to start it tries to write it's pidfile to /var/run/elasticsearch/ it fails due to 'Permission denied'.

FileNotFoundException[/var/run/elasticsearch/elasticsearch-es-01.pid (Permission denied)]

[2015-05-30 21:16] electrical commented on #349
Must admit i haven't seen this error in my acceptance testing before.
Could you copy the puppet code you used so I can try an recreate this ?

sent from my phone
On 30 May 2015 19:42, "Martin Zobel-Helas" <notifications@github.com> wrote:

[2015-05-30 22:05] zobelhelas commented on #349
[code]

[2015-06-01 10:03] bastelfreak opened #350 "Unable to install a plugin with v0.9.6"
I've the following manifest:
[code]

Which results in this error message:
[code]

Puppet ads -url to the exec but without a string, this shouldnt happen (see plugins.pp line 100-105). I don't know how validate_string() works, it looks like a whitespace god inserted (two whitespaces between -url and returned)?

[code]

let me know if you need further information.

[2015-06-01 10:40] #343 closed

[2015-06-01 10:41] electrical commented on #203
Solved with merging #343

[2015-06-01 10:41] #203 closed

[2015-06-01 10:42] electrical commented on #180
Solved with #343

[2015-06-01 10:42] #180 closed

[2015-06-01 10:45] electrical commented on #269
#213 was merged to support upgrades
#232 was merged to get rid of the module_dir hack.

Automatic upgrading based on the ES version is not supported and is fairly impossible so far.
Perhaps at some point we can revisit that but at the moment there is no system in place that will allow us doing that.

[2015-06-01 10:46] #269 closed

[2015-06-01 10:56] ranguard commented on #269
@electrical Thanks for your work on this

[2015-06-01 12:15] electrical commented on #350
Unable to reproduce so far but I will improve the validation part which is incorrect.

[2015-06-01 13:53] psychonaut opened #351 "missing dependency from yum module"
With 0.9.6 update module no longer works:

[code]

I probably have to add yum module for dependency but it's not mentioned which one should be used. After short investigation [https://forge.puppetlabs.com/ceritsc/yum] is probably missing one but this should be mentioned at least in README file.

[2015-06-01 13:56] electrical commented on #351
Hi,

I completely forgot about adding that one. my fault. Will make sure its added in the next release.

[2015-06-01 14:33] electrical opened #352 "Make puppetlabs-apt and ceritsc-yum mandatory plugins"
With 0.9.6 we added Package pinning feature and enabled it by default.
Because of this they are now mandatory plugins since it won't work out of the box without them.

[2015-06-01 16:07] electrical commented on #350
Been able to reproduce this with 3.8.x and future parser enabled.
#353 should fix this.

[2015-06-02 07:20] bastelfreak commented on #350
Bugfix is working fine now. Tested on Puppet 3.8.1 with future parser.

[2015-06-02 07:53] electrical commented on #350
Closing issue. Will be included with next release ( hopefully next week )

[2015-06-02 07:53] #350 closed

[2015-06-02 08:12] electrical opened #354 "Add spec tests for package pinning"
Still need to add some tests for package pinning feature which is enabled by default.

[2015-06-04 11:45] electrical commented on #352
Related to #351

[2015-06-05 15:14] #351 closed

[2015-06-05 15:14] #352 closed

[2015-06-08 00:11] amosshapira opened #358 "puppetlabs-apt 2.0.0 replaced apt::source's "key_source" parameter"
As of puppetlabs-apt 2.0.0, the "key_source" parameter to apt::source was deprecated in favour of "key => { source => ... }"

ref: https://github.com/puppetlabs/puppetlabs-apt/blame/master/CHANGELOG.md#L70

[2015-06-08 01:37] amosshapira commented on #358
I see the metadata.json have been updated with the correct dependency three days ago, but Modulefile haven't and it seems that puppet-librarian (which is what I use to import external modules) reads it instead of metadata.json.

Perhaps it's time to either drop Modulefile completely or update it with the right version dependency?

[2015-06-08 03:42] AAlvz commented on #349
I haven't found the main issue but here is a quick [vagrant test environment](https://github.com/AAlvz/vagrants/tree/349-pe-es_pidfile/elasticsearch) I made in case someone finds the time to dig into this. =)
I find strange that the `elasticsearch-es-01` service disappears after reboot...

Here's another error I found that probably mess something up:

The template comes from `elasticsearch/templat

[2015-06-08 08:09] electrical commented on #358
@amosshapira thank you for the heads up, I should remove it indeed. Does puppet-librarian also read the metadata.json file if the Modulefile is not there?

[2015-06-08 08:23] amosshapira commented on #358
The docs says it does (http://librarian-puppet.com/), but I'm not sure how to test it with a local change.

[2015-06-08 08:25] electrical commented on #358
Ah cool. Will remove the Modulefile and keep the metadata.json file for the next release.

For the apt 2.0 support i'm not planning to support it for now due  to different reasons.
There are some closed issues / PR's already about it :-)

[2015-06-08 08:34] electrical opened #359 "Remove old Modulefile"
Modulefile was replaced by metadata.json file a while ago and now its time to kill it.

[2015-06-08 08:44] amosshapira commented on #358
Thanks. I don't mind about sticking to the latest and greatest apt module version but I foresee dependency problems in a few months if this won't be addressed by then.

For now I just set the dependency explicitly in my Puppetfile (librarian-puppet's configuration file) so there is a trivial work-around.

[2015-06-08 08:44] #358 closed

[2015-06-09 15:49] #359 closed

[2015-06-10 08:54] bastelfreak opened #362 "default behavior on centos7 breaks unit file"
if the init_defaults param for an instance resource doesn't  have a MAX_LOCKED_MEMORY key, the LimitMEMLOCK= varaible in the unit file will be empty, resulting in these error messages:
[code]

the unit file:
[code]

my profile:
[code]

the variable $memlock defaults to undef in the systemd.pp at line 163, this should be changed to infinity or any suitable int?

[2015-06-10 09:28] electrical opened #363 "split out restart_on_change into more granular options"
restart_on_change is to generic and should be expanded.
The basis of these options will also be that we choose the most safest possible defaults since ES is very sensitive to random restarts.

Currently thinking of the following options:

## Module generic options

- restart_on_change ( Default: false )
Master control for all other options.

- restart_package_change ( Default: false )
This set to

[2015-06-10 09:29] rfwekker opened #364 "Centos 6.6 package pinning failed : Invalid resource type yum::versionlock"
Centos 6.6
Puppet v3.7.3 (Puppet Enterprise 3.7.1)
yum-plugin-versionlock is installed on the puppet server and puppet client

node "epclient5.connexys.nl" {
  class { 'elasticsearch':
     version => '1.4.4',
     repo_version => '1.4',
     manage_repo  => true,
}
}

Error: Could not retrieve catalog from remote server: Error 400 on SERVER:
Puppet::Parser::AST::Resource failed with error Argumen

[2015-06-10 09:31] electrical commented on #364
Hi,
This is my fault. sorry. It requires a module that handles the version locking and i forgot to include it as a default required dependency.
https://github.com/elastic/puppet-elasticsearch/pull/357 solved it by adding it to the metadata.json file.
If you download the module ( ceritsc/yum ) it should be solved.

[2015-06-10 09:58] electrical opened #365 "Move package pinning out of the repo class"
Currently package pining lives in the repo class and can only be used if you use the repo functionality.
It can happen that people have other ways of managing repo's but still want to use the package pinning feature.

[2015-06-10 10:27] rfwekker commented on #364
installed ceritsc-yum on puppet server
puppet module install  ceritsc-yum
set pinning value
package_pin => true

Install still failed

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Package name must be formated as 'EPOCH:NAME-VERSION-RELEASE.ARCH' at /etc/puppetlabs/puppet/environments/ontwikkeling/modules/yum/manifests/versionlock.pp:30 on node epclient5.connexys.nl

[2015-06-10 10:28] rfwekker commented on #364
installed ceritsc-yum on puppet server
puppet module install ceritsc-yum
set pinning value
package_pin => true

Install still failed

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Package name must be formated as 'EPOCH:NAME-VERSION-RELEASE.ARCH' at /etc/puppetlabs/puppet/environments/ontwikkeling/modules/yum/manifests/versionlock.pp:30 on node epclient5.connexys.nl

[2015-06-10 10:42] rfwekker commented on #364
Fix repo.pp line 97 for Centos/RedHat package pinning
yum::versionlock { "0:elasticsearch-${elasticsearch::version}.noarch":
I
nsert -RELEASE as -*
yum::versionlock { "0:elasticsearch-${elasticsearch::version}-*.noarch":

[2015-06-10 10:51] electrical commented on #364
Ah, will try to do that. Currently i supply the version as x.y.z-1 for example.

[2015-06-10 10:56] bastelfreak commented on #363
Sounds good so far, restart_service_change will only restart the service if something in the servicefile itself changes and restart_config_change for every other configuration file? I'm not sure if it is needed to have two seperate params for these.

I can't imagine a scenario where I change something in the config file and want to restart ES, but after that change something in the service file an

[2015-06-10 11:04] electrical commented on #364
having the release as * doesn't seem to work at all. just wants to install the latest version now instead of the required version.

[2015-06-10 11:10] electrical commented on #364
I could make the release default to -1 ?

[2015-06-10 11:29] rfwekker commented on #364
Install succeeded with version 1.4.4 release 1 ; Failed to update to version 1.4.4, got version 1.4.4-1 instead

After one successful install a few moments ago, in a second trial failed

Elastico deleted elasticsearch-1.4.4-1.noarch.rpm
Execution of '/usr/bin/yum -d 0 -e 0 -y list elasticsearch' returned 1: Error: No matching Packages to list
Error: /Stage[main]/Elasticsearch::Package/Package[elas

[2015-06-10 12:25] electrical commented on #364
I see it yeah. so in any case for specifying a version of the package for centos/redhat the release version is always required.
To make it work adding the release version to the version string would be needed.
Perhaps i could add something to auto append that release number to the version number if it's not there and then assume '-1' as release version. if some one uses their own repo and has othe

[2015-06-10 13:23] electrical commented on #364
Working on a better solution which should solve the issue completely.

[2015-06-10 13:46] #362 closed

[2015-06-10 15:04] electrical commented on #364
Hi, https://github.com/elastic/puppet-elasticsearch/pull/367 should solve the issue. can you check it out?

[2015-06-10 15:57] s12v opened #368 "Can't install plugin with elasticsearch 1.6.0"
[code]

Seems to be related with this change:  https://github.com/elastic/elasticsearch/commit/862cec5634686ac70f358d0c81f6f79181a1208a - it tries to load the file from the default location, but I have `/etc/default/elasticsearch-esearch-dev-fp` (created by `elasticsearch::instance`, I guess)

[2015-06-10 16:07] electrical commented on #368
Uhg. will find out how to solve this. sorry for the issue :-(

[2015-06-10 17:34] s12v commented on #368
@electrical, maybe something like this: pass file location to the plugin https://github.com/s12v/puppet-elasticsearch/commit/6c48b28bba4764d5ebb045d65679e16614a12b12, also support on the tool side: https://github.com/s12v/elasticsearch/commit/1a210fc89257daa3b9573050c0fe5adb47a56235 ?

But so far no idea how to deal with multiple `$instances` and `$init_defaults_file`

[2015-06-11 07:20] packi opened #369 "Service fails to start on Debian 8"
The reason is that systemd starts ES as the user `elasticsearch` doesn't have write permissions to `/var/run/` and thus can't create the PID-directory and aborts when it can't write its PID-file to the non-existing directory.

Usage in puppet manifest:
[code]

Status after boot:
[code]

Starting it after boot fails as well:
[code]

Adding the following lines to `/lib/systemd/system/elasticsearch-e

[2015-06-11 08:09] electrical commented on #369
weird that none of my tests show this issue so far.
Which version of the module are you using?

[2015-06-11 08:17] bastelfreak commented on #369
@packi which Operating system do you use? it is working fine with systemd on centos7:
[code]

my unit file:
[code]

which is generated by this puppet profile (probably it isn't necessary to set the user/group so often, this once was a bug):
[code]

module version is 0.9.6

[2015-06-11 08:22] philipwigg commented on #369
@packi Are you calling the main class too?

i.e. I would expect to see both:-

[code]
@electrical That's necessary still right?

[2015-06-11 08:22] electrical commented on #369
@philipwigg that's correct :-)

[2015-06-11 09:44] driegel commented on #368
I linked the config file of my first and only instance and so I could run plugin by hand.
[code]

Maybe you could change '/etc/puppet/modules/elasticsearch/manifests/config.pp'
[code]

to something like this:
[code]

[2015-06-11 09:56] electrical commented on #368
@driegel since we never know what the instance name will be, its gonna be a bit hard to do that :-)
I'll come up with some kind of a solution for this.

[2015-06-11 10:15] driegel opened #370 "Repository management paths (new download url)"
When I turn on repo management, I get the following error:
[code]

I believe, that the download site has changed, somehow this would need to be adjusted in 'repo.pp'
(https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html)

[code]

[2015-06-11 10:24] electrical commented on #370
That's weird since the old stuff still works for me and in my acceptance tests.
That said i do need to update it in the repo file :-)
Thanks for reminding me.

[2015-06-11 10:30] electrical commented on #369
it does feel like the main class is missing or something since the main class creates any directories for the systemd / init script to place the pid file.

[2015-06-11 11:50] driegel commented on #370
I believe that 'yum repolist' works.
I believe that 'yum install elasticsearch' doesn't work.

Of course, there is the same problem with the logstash 1.5 repo.

[2015-06-11 12:13] electrical commented on #370
@driegel i do use the repo's as install source so its very weird its not working for you.
In any case i'm changing it now so should be working soon in the master branch.

[2015-06-11 12:48] hskwirblies opened #371 "Add proxy support for package download"
We use some machines that connect to the internet via proxy servers. For these machines I figured out a working solution:
https://github.com/motortalk/puppet-elasticsearch/tree/add-download-proxy-parameter

Setting the proxy via exec{: environment => [] } using shell environment variables works on linux and darwin kernels, i.e. works with wget and curl.

For me it also looks feasible to use the sa

[2015-06-11 13:13] electrical commented on #371
Hi,

I agree that it would be a very nice feature and should be implemented indeed.
Feel free to send a PR with the required changes.
I also agree that the plugin install should utilize the same proxy.

Could you change it to however to proxy_host and proxy_port?
That way we have a generic setting and can use that anywhere that is needed and also provide that to the package + plugin parts.

Thanks

[2015-06-11 15:23] electrical opened #373 "Setup Integration testing with different ES versions"
To make sure the whole module keeps working with different released versions and snapshot builds we need Integration testing.
This test would install an existing release or snapshot and do some simple tests:

* [ ] Service management
* [ ] Plugin installation
* [ ] Plugin removal
* [ ] Template insert
* [ ] Cleanup

This is to catch issues like #368 and any future issues.

Testing with:

* CentOS

[2015-06-11 15:28] philipwigg opened #374 "Puppet 4 comparison operators work differently."
We've recently upgraded to Puppet 4 and I've noticed some issues caused by the changes.

I thought I'd raise an issue now so you can take a look and see what I mean.

Take ```plugins.pp```:-

[code]

For me, this always tries to install from a URL even though I haven't set ```$url```.

Changing the code to this fixed it in Puppet 4, I'm not sure if it then breaks Puppet 3:-

[code]

I'm guess this

[2015-06-11 15:33] electrical commented on #374
Puppet 4 is something i wanted to address with 2.0 of the module, i didn't expect that people would be upgrading so quick :-)
If Puppet 4 is really something important then it might be useful to at least handle some of the things. 2.0 will only support Puppet 4 then.

[2015-06-11 15:39] philipwigg commented on #374
Yeah we are living on the bleeding edge here... :-)

I think some people will be upgrading too... I'm not sure what issues there will be except for the ```($var == undef)``` test?

[2015-06-11 15:46] electrical commented on #374
I'll see if i can replicate the issue with puppet-rspec and puppet4. If so i'll try to solve those issues. with one of the next releases.

[2015-06-11 16:11] darrenhaken commented on #369
I am also facing this problem, any ideas?

[2015-06-11 16:28] #370 closed

[2015-06-11 16:41] electrical commented on #374
I ran puppet-rspec with puppet 4 and didn't see this happening. weird stuff.

[2015-06-12 07:39] hskwirblies commented on #371
I could live with proxy_protocol, proxy_host and proxy_port parameters, but I would prefer a single proxy_url option.

My reasons:
# I already have a proxy_url setting in hiera, using proxy_host/proxy_port would add duplicate data
# proxy_url works seamless if https is used for the client->proxy connection just by using https://
# representation for proxies is also used by yum/apt repos and settin

[2015-06-12 09:19] electrical commented on #371
@hskwirblies i completely understand that. I also prefer a single option.
My thought about it is because the plugin script requires some java parameters for setting the proxy parts.
If the plugin part can work with a single option then I'm more then happy to move to that.

[2015-06-12 09:24] hskwirblies commented on #371
Perfect. I'll look into that later today.

[2015-06-12 09:38] mstock commented on #369
When running Puppet, the directory for the pid file does get created, and Elasticsearch starts. The problem is that when rebooting, the directory gets removed by some init script/systemd service (for SysV init, this is triggered by `/etc/init.d/mountall-bootclean.sh` and done by code in `/lib/init/bootclean.sh`, for systemd, I think `systemd-tmpfiles` is responsible for this). The init script for

[2015-06-12 09:44] electrical commented on #369
Interesting.
What if we just change the location of the pid file to `/var/run/$name.pid` instead of `/var/run/elasticsearch/$name.pid` ?
Would that solve the issue?

[2015-06-12 09:45] #364 closed

[2015-06-12 09:56] darrenhaken commented on #369
Sorry I'm experiencing this issue on Ubuntu not Debian. Looking in /var/run I can see the pid file is in this directory and not in elasticsearch
i.e. /var/run/$name.pid.

I do still see issues with permissions though.

[2015-06-12 09:57] electrical commented on #369
Hmm, interesting.. @darrenhaken could you share your puppet configs for ES?
Thanks!

[2015-06-12 11:27] packi commented on #369
Doesn't work with `/var/run/$name.pid` either and that wouldn't be how all other services do it (since Debian 7). The problem is that `/var/run` links to `/run`. And `/run` has the following permissions:
[code]
So the `elasticsearch` user has no chance of creating a PID file or directory there. I'm a coworker of @mstock btw. so everything he said applies as well.

One solution would be the one I'v

[2015-06-12 11:44] GlenRSmith commented on #369
Related: https://github.com/elastic/elasticsearch/issues/11594

[2015-06-12 13:33] electrical commented on #363
Very good point.
restart_config and restart_package only then and we should be good?

[2015-06-12 13:43] electrical commented on #369
I'm still confused that this is causing issues.
From what i understand directories get removed in the /var/run dir correct?
Why would it cause files not being able to managed in the /var/run dir?

And why wouldn't it show up at startup at all?
All the tests i run with the init scripts and systemd on different systems.

[2015-06-12 14:14] driegel commented on #368
I just looked into it again. It seems that it is sufficient to set 'ES_INCLUDE' when the 'plugin' command is running:

[code]

I assume that setting this environment variable should not kill Elasticsearch < 1.6.0 plugin command.
For now I will work with this workaround since I use only one instance per host. Also, since 'plugin.pp' already knows about ES instances it might not be that difficult to

[2015-06-12 14:19] electrical commented on #368
@driegel yeah, i came to the same conclusion.
the only thing that will cause issues is plugins that write config files.
But since there are not many around anyway it doesn't matter much.
I'll try to find a good solution for single and multiple instances as well.

[2015-06-12 16:06] mstock commented on #369
Maybe I should mention that we're still on Elasticsearch 1.5.2 - as I just noticed, 1.6.0 seems to ship a `/usr/lib/tmpfiles.d/elasticsearch.conf`, which should ensure that this directory gets created by `systemd-tmpfiles` (at least at boot time). So I guess that current(ish) upstream versions of the Puppet module (like c1e5f01531f6a73774ec7e2c4ad0729a262013a1 that we patched locally for now) don'

[2015-06-12 16:22] electrical commented on #369
@mstock I do most of my testing with 1.3.x versions of ES i have to admit. I'm working on getting better integration testing with different versions of ES so i catch weird issues earlier.
Also the puppet module should be creating the pid dir btw, but its possible indeed that the system boots, tries to launch ES while the elasticsearch sub dir is gone and not re-created by the puppet module.

As a

[2015-06-12 16:25] electrical commented on #369
@mstock @packi if this is a viable solution i'll try to get it in before doing a new release next week.

[2015-06-12 19:08] mstock commented on #369
@electrical I think that would be great :). I quickly tried this solution using 10336981e8434cc5d181fa9a75dff74d3912c37f of the Puppet module and by manually putting the file in place, and as far as I tried, it worked reliably: When the file was there, Elasticsearch was started after a reboot, if not, startup failed with the error about the pid file.

[2015-06-12 20:21] electrical commented on #369
@mstock thanks for the quick feedback. I'll get a PR up with the fix, would be great if you could try it out then before merging it just so we can confirm the fix is valid.
Unfortunately its a very specific thing that doesn't show up in any of my acceptance tests.

[2015-06-12 21:04] electrical commented on #369
@mstock @packi Could you guys try out #378 ? thanks!

[2015-06-12 21:16] bastelfreak commented on #363
Yes, this should be sufficient.

[2015-06-13 09:25] electrical commented on #354
#377 added this. Closing.

[2015-06-13 09:25] #354 closed

[2015-06-13 12:03] mstock commented on #369
@electrical I quickly tried it, but it did not work yet, although the config file got created. However, the owner of the created `/var/run/elasticsearch`-directory gets set to `root:root` during reboot, which makes some sense since the config only contains

    d    /var/run/elasticsearch   0755   - -

while the version that would be installed by the 1.6.0 package would contain

    d    /var/run/

[2015-06-13 16:37] electrical commented on #369
Thanks for testing. The user /  group thing is my fault indeed. Stupid mistake. Will fix that soon.

For the second issue perhaps I should create a systemd variable and set it to true if systemd is used there and then place that file ?

[2015-06-15 09:46] mstock commented on #369
@electrical I think that should work, and maybe you can use the `$service_providers` variable that already gets defined in `elasticsearch::params` for this.

[2015-06-15 10:48] electrical commented on #369
@mstock thanks for the tip. Good idea indeed.
I've updated the PR, could you try it again? User/group thing should be fixed as well.
Thanks!

[2015-06-15 12:01] electrical commented on #306
[![Rspec testing](http://build-eu-00.elastic.co/buildStatus/icon?job=Puppet_Elasticsearch_PR_Rspec)](http://build-eu-00.elastic.co/view/Puppet/view/Elasticsearch/job/Puppet_Elasticsearch_PR_Rspec/)

[![Acceptance testing](http://build-eu-00.elastic.co/buildStatus/icon?job=Puppet_Elasticsearch_Acceptance_Commit)](http://build-eu-00.elastic.co/view/Puppet/view/Elasticsearch/job/Puppet_Elasticsearch_

[2015-06-15 13:47] packi commented on #369
@electrical your PR works here, thanks!

[2015-06-15 13:48] mstock commented on #369
@electrical thanks for the update! I quickly tried the latest version of your PR, and as far as I tested it, it looks good. Elasticsearch starts up after a reboot, and the config in `tmpfiles.d` gets created, too, with the expected content.

[2015-06-15 13:49] electrical commented on #369
@packi @mstock great to hear! thanks for the feedback.
Merging it in today and hopefully doing a release this week.

[2015-06-15 14:02] #369 closed

[2015-06-17 11:12] electrical opened #381 "ES 2.0 Security manager blocks files from paths that are not in by default"
Certain paths are in the security manager allowed for access.
Will need to make sure we can use those.

[2015-06-17 12:31] electrical commented on #373
Done with #380

[2015-06-17 12:31] #373 closed

[2015-06-17 12:33] electrical commented on #371
This has now been merged and will be in the next release.
Thank!

[2015-06-17 12:33] #371 closed

[2015-06-18 07:26] electrical commented on #368
Hi guys. #382 should solve the issue. Done some local tests and works. If any of you have the time to do some testing as well would be appreciated.

[2015-06-18 09:36] driegel commented on #368
@electrical I tested it on one of my nodes in the ES cluster and it worked. Thanks.

[2015-06-18 09:37] electrical commented on #368
@driegel thank you very much for the quick feedback, Will do some more testing on my side and merge it in. Planning to do a release today or tomorrow.

[2015-06-18 13:49] electrical commented on #368
fix is merged and will be in next release. I'm currently aiming at tomorrow morning, want to make sure things are correct so letting CI bake it for a while.

[2015-06-19 08:47] electrical opened #383 "Add Windows support to the module"
certain parties have requested for windows support in the module.
This issue will act as a tracker of all the different sub tasks for it.

[2015-06-19 08:50] electrical commented on #383
Packaging wise we are planning to utilize Chocolatey for distribution.
Our windows team is working on the packaging process so it can work with the chocolatey install system.

[2015-06-19 13:44] electrical commented on #383
Possible way of managing windows services.

https://forge.puppetlabs.com/ocastle/win_service/

[2015-06-22 07:12] electrical commented on #368
CI seems to be happy and also integration testing with 1.6.0 and 1.6 snapshot branch seems to work fine.

http://build-eu-00.elastic.co/view/Puppet/view/Elasticsearch/job/Puppet_Elasticsearch_Integration_1x/

Will be doing a release this morning.

[2015-06-22 07:15] #368 closed

[2015-06-22 07:17] electrical commented on #349
This should be fixed now with https://github.com/elastic/puppet-elasticsearch/pull/378 i hope :-)

[2015-06-22 07:17] electrical commented on #349
@AAlvz the issue you found should be solved with https://github.com/elastic/puppet-elasticsearch/pull/366

[2015-06-22 17:25] mcandre opened #386 "yum fails to find elasticsearch"
This module claims to support CentOS, but when I try to install elasticsearch via this puppet module in CentOS (Docker's layerworx/puppet image), yum complains that it cannot find elasticsearch.

For RedHat-based distributions, could this puppet module please add the appropriate yum repositories / RPMs to the OS prior to attempting to install elasticsearch?

See https://www.elastic.co/guide/en/ela

[2015-06-22 17:39] mcandre opened #387 "Enhancement: Automatically install wget when using package_url: ..."
When I try to install elasticsearch with this module, specifying a custom `package_url`, it fails with a complaint about wget as a missing dependency. Could this module please automatically install wget so that the `package_url` key works out of the box?

[2015-06-22 17:47] mcandre opened #388 "Missing dependency: java"
Could elasticsearch offer an optional, on by default, key to install a version of java?

[2015-06-22 17:47] mcandre commented on #388
Ah, I should have RTFM.

[2015-06-22 17:47] #388 closed

[2015-06-22 18:56] electrical commented on #386
Hi please see th readme for repo management since its already included :-)

[2015-06-22 18:58] electrical commented on #387
Hi since its a very optional setting I will not let the module install wget.  There are other ways to install basic things.

[2015-06-22 18:59] #387 closed

[2015-06-22 18:59] #386 closed

[2015-06-23 16:56] trenb opened #389 "Cannot add a plugin to an instance created by this module"
I used this module to create both the cluster and instance "es-01"

[code]

When I attempt to setup a plugin on this cluster:

[code]

it fails due /usr/share/elasticsearch/bin/plugin expecting /etc/sysconfig/elasticsearch. However, the module sets up /etc/sysconfig/elasticsearch-es-01 (instance name) which causes the plugin script to fail.

[code]

What is the proper method of adding a plugin to

[2015-06-23 17:08] #389 closed

[2015-06-23 17:08] trenb commented on #389
Duplicate issue to https://github.com/elastic/puppet-elasticsearch/issues/368

[2015-06-25 13:32] traviscollins opened #393 "Dependency Cycle when installing Plugin"
I'm attempting to install the marvel plugin on our elastic search cluster. Adding the elasticsearch::plugin causes a dependency cycle.  Below is my puppet config and the error

	class { 'elasticsearch' :
		manage_repo  => true,
		repo_version => '1.6',

	}->

	elasticsearch::instance { "elasticsearch":
	  config => {
	  		'node.name' => $hostname,
	  		'cluster.name' => "elasticsearch.${domain}",

[2015-06-25 13:35] electrical commented on #393
Hi,

You can remove the `->` parts since the whole module already takes care of dependencies and sequences out of the box.

[2015-06-25 13:48] traviscollins commented on #393
That worked. Thanks.

[2015-06-25 13:48] #393 closed

[2015-06-26 04:01] AAlvz commented on #349
@electrical I made the necessary tests with the recent changes and there is no issue anymore. I think issue #349 is ready to be closed =)... If more testing is needed before closing this ticket let me know.

[2015-06-26 16:36] jaguth commented on #370
I just downloaded the puppet module this morning.  I get the exact same error when running within vagrant (vagrant provision):
==> default: Wrapped exception:
==> default: Execution of '/usr/bin/yum -d 0 -e 0 -y install elasticsearch-1.6.0-1' returned 1: Error Downloading Packages:
==> default:   elasticsearch-1.6.0-1.noarch: failure: elasticsearch-1.6.0.noarch.rpm from elasticsearch: [Errno 256]

[2015-06-26 16:48] jaguth opened #394 "Yum: No more mirrors to try."
I just downloaded the puppet module this morning. I get this error when running within vagrant (vagrant provision):
==> default: Wrapped exception:
==> default: Execution of '/usr/bin/yum -d 0 -e 0 -y install elasticsearch-1.6.0-1' returned 1: Error Downloading Packages:
==> default: elasticsearch-1.6.0-1.noarch: failure: elasticsearch-1.6.0.noarch.rpm from elasticsearch: [Errno 256] No more mirro

[2015-06-26 18:08] jaguth commented on #394
i discovered that it was yum that would download 99% and then the download would slowly go below 1k/sec, and then yum would error out because it wasn't downloading faster than 1k/sec for 30 seconds.  I updated to using centos7 and the issue has disappeared.  i will close this bug.

[2015-06-26 18:08] #394 closed

[2015-06-29 11:02] electrical commented on #394
Thanks for the report and your findings. I'm afraid its very hard to differentiate between those errors indeed.

[2015-06-29 14:05] electrical opened #396 "Offline plugin installation"
At the moment its already possible to define a plugin installation to use a local file but it requires the user to copy over the plugin somewhere.
It would be nice if we can do that step as well and handle any file changes directly as well by doing an uninstall + install

[2015-06-29 16:07] electrical opened #397 "Setup Puppet 4 testing for rspec and acceptance"
Manual testing shows it all works, but rather have it automated :-)

[2015-06-29 16:15] electrical commented on #374
ran acceptance testing with puppet 4.0/4.1/4.2 and no issues that i've seen.

[2015-06-30 08:40] electrical commented on #381
changes that are required:

* templates_import
* scripts

These are located under the `/etc/elasticsearch` directory but are not allowed to be access by the security manager.
Since `/usr/share/elasticsearch` is shared between instances all of them should have access to that directory.
moving the 2 directories to `/usr/share/elasticsearch` should fix the issue.

[2015-07-01 10:51] electrical opened #399 "Shield integration"
Shield enables authentication for API calls.
Since we do a few of those with the puppet module we need to expose options to support that.

[2015-07-01 15:32] s12v commented on #368
@electrical, works for me too, thanks!

[2015-07-01 15:33] electrical commented on #368
@s12v thank you very much for the confirmation :-)

[2015-07-02 00:32] RJ3000 opened #400 "Plugin installation issues with ES 1.6.0"
Having issues installing plugins with the latest version of ES (currently 1.6.0-1)

Error:
[code]

When run manually, it returns:

[code]

It appears that there has been changes made to the plugin installation script in the latest version.
It now sets default variables which don't match filenames set by this module.

[code]

[2015-07-02 06:29] electrical commented on #400
Hi,

thank you for your report.
Which version of the module are you using?

Cheers.

[2015-07-06 02:56] darkefreet opened #402 "Kibana4 won't start alongside Elasticsearch"
I've installed Ubuntu 14.04 on my VMware, with elasticsearch 1.5.0, OpenJDK 1.7.0_79,  and kibana4.
I've installed both kibana4 and elasticsearch as services and every time elasticsearch is running, kibana4 won't start. When I stop elasticsearch and start kibana4, kibana4 just runs fine. Then I start elasticsearch again and kibana4 just stop by itself. When I use $sudo service kibana4 start, it gi

[2015-07-06 03:20] darkefreet commented on #402
Just downgraded my elasticsearch from version 1.5.0 to 1.4.4. It is odd that it is running fine now.

[2015-07-06 14:45] madAndroid commented on #322
This should be resolved with the latest release of the `puppetlabs-apt` module - see https://github.com/puppetlabs/puppetlabs-apt/blob/master/CHANGELOG.md#summary

[2015-07-09 11:51] RJ3000 commented on #400
Look to be using version 0.9.6
[code]

[2015-07-09 11:53] electrical commented on #400
Hi, version 0.9.7 has the fix for the issue you are having. 0.9.8 is out as well. Best thing is to upgrade :-)

[2015-07-10 10:21] gbirke commented on #262
I had the same problem and was very close to opening another issue for it. Maybe you can add ES_HEAP_SIZE to the defaults example in the readme?

[2015-07-10 12:22] electrical commented on #262
@gbirke good idea, will do that for next release. thanks!

[2015-07-13 12:32] electrical commented on #402
Hi,

Please use our discussion forum for these kind of questions. You can find it at https://discuss.elastic.co/

[2015-07-13 12:32] #402 closed

[2015-07-13 12:35] electrical commented on #349
@zobelhelas can you confirm that with the latest release this issue is solved?
Cheers.

[2015-07-13 12:35] electrical commented on #381
Been solved with #401

[2015-07-13 12:35] #381 closed

[2015-07-13 12:36] electrical commented on #397
Has been implemented with #395 and #398

[2015-07-13 12:36] #397 closed

[2015-07-15 19:48] #400 closed

[2015-07-23 13:23] psychonaut opened #409 "Possibility to edit/create logging.yml"
It would be Nice To Have possibility to generate/edit logging.yml file. For example we'd like to add syslog appender but with current flow it's not really possible.

[2015-07-23 13:30] electrical commented on #409
Hi,

You can supply a custom logging file / template via the following options:

https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/init.pp#L142-L146

Cheers.

[2015-07-23 13:32] psychonaut commented on #409
oh, great! thank you!

[2015-07-23 13:32] #409 closed

[2015-07-23 16:16] electrical opened #412 "Cut down on unit tests"
Current unit test suite contains 2867 tests and takes about 20 minutes to run which is way to long and to much.
Many of this is caused by duplication of tests by using rspec-puppet-facts.
We should only do the loops on OS specific parts and avoid duplicating all the generic stuff.

[2015-07-23 16:17] bashtoni opened #413 "Plugins fail to install with Elasticsearch 1.7"
Plugins fail to install with Elasticsearch 1.7 under CentOS 7

Doing some digging, this seems to be because the plugin script tries to source `/etc/sysconfig/elasticsearch`, but it should be sourcing `/etc/sysconfig/elasticsearch-${instancename}`.

Setting the ES_INCLUDE environment variable will get the plugin script to use the correct file - I ran `ES_INCLUDE=/etc/sysconfig/elasticsearch-es /usr

[2015-07-23 16:20] electrical commented on #413
Hi,

which version of the module are you using?

[2015-07-23 16:22] bashtoni commented on #413
`elasticsearch-elasticsearch (0.9.5)`

[2015-07-23 16:24] electrical commented on #413
Ah okay. in 0.9.7 i fixed that bug. ( latest release is 0.9.8 )
If you upgrade it should be solved.

[2015-07-23 16:31] bashtoni commented on #413
Awesome, thanks :)

[2015-07-23 16:31] #413 closed

[2015-07-27 13:40] craigcarnell opened #414 "How to run more than 1 instance of elastic search on different ports?"
My current config:

[code]

I want to run a second instance on a different port e.g. 9400, how do I do this?

e.g. does puppet allow you to create 2 classes with the same name, and what about the other files e.g. pid, home, data

[code]

Thanks!

[2015-07-27 14:42] electrical commented on #414
Hi,

The instances are created via the `elasticsearch::instance` define.

As an example for you:

[code]

Hope this helps.

[2015-07-27 16:33] DracoBlue commented on #414
@craigcarnell you should `transport.tcp.port`, too. Usually it's 9200 for `http.port` and 9300 for `transport.tcp.port` for one instance. So 9400 + 9500 could work for the next one.

[2015-07-28 20:09] ladshada opened #415 "Centos 7 Invalid resource type yum::versionlock"
I have updated module puppet-elasticsearch for the last version and when I tried to install watcher plugin I've got the next error

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Puppet::Parser::AST::Resource failed with error ArgumentError: Invalid resource type yum::versionlock at ../modules/elasticsearch/manifests/repo.pp:98 on node tmp

I found issue #364, that desc

[2015-07-29 06:56] electrical commented on #415
Hi,

Did you install the module `ceritsc-yum` ?
As far as i can see from the error that should solve it.

[2015-07-29 10:45] ladshada commented on #415
Thanks!
It solved the issue.

[2015-07-29 10:54] electrical commented on #415
great to hear :-)

[2015-07-29 10:54] #415 closed

[2015-07-31 07:47] electrical commented on #325
So, here's an other idea i discussed yesterday on puppet irc channel.
We could write out the custom facts from a template and place it in the facts.d directory which contains the username / password combo.
It will still be plain text but at least its not a separate file.

I know its still stored somewhere plain text but can't think of any other solution besides just failing entirely when using shi

[2015-07-31 07:48] electrical commented on #349
Closing issue due no response.

[2015-07-31 07:48] #349 closed

[2015-07-31 09:30] daks commented on #325
Hello,
i'm running module 0.9.1 and if I look at a client (Puppet 3.4.2 on Debian Wheezy) I have no elasticsearch facts too.
And my master has been restarted since.

[2015-07-31 11:14] electrical commented on #325
@daks do you have the shield plugin installed by any chance?

[2015-07-31 12:35] daks commented on #325
oups sorry I forgot this information, no Shield is not installed. I only use kopf plugin on ES 1.4.4

[2015-08-02 10:52] electrical commented on #325
Okay, could you supply the config you pass on to the instance? My best guess is that you bound it to a specific IP while the custom facts only bind to localhost directly.

[2015-08-02 10:53] electrical commented on #414
@craigcarnell do you need more info on this or can we close this issue? Thanks!

[2015-08-02 11:16] electrical opened #416 "Add documentation for offline plugin installation"
#410 added offline plugin installation but needs documentation on the readme.

[2015-08-02 11:16] electrical commented on #396
Done with #410
#416 is filled for adding docs

[2015-08-02 11:16] #396 closed

[2015-08-04 10:54] #416 closed

[2015-08-06 14:30] BurningTheSky opened #421 "Wrong version of elasticsearch?"
Hi,
I have deployed using the command below but had previously used repo 1.4. I have changed it to 1.7 now but I still seem to be getting the old version? Have I done something wrong? I am new to puppet so if I have done something obvious please forgive me.

       class { 'elasticsearch':
          manage_repo => true,
          repo_version => '1.7',
          autoupgrade => true,
        }

[2015-08-06 14:33] bastelfreak commented on #421
Have you restarted elasticsearch after the upgrade? I think the module doesn't do it by itself.

[2015-08-06 14:39] electrical commented on #421
Hi,

Only when setting the version number it will process the upgrade correctly.
because with the auto upgrade it sets it to latest but never changes the ensure value. Due this it doesn't notify the service.

[2015-08-06 14:45] BurningTheSky commented on #421
Ok, I have changed the config to below, how to I force the update? I tried to stop the service but says it can't find it? Sorry, like I said, new to puppet and ES

      class { 'elasticsearch':
          manage_repo => true,
          repo_version => '1.7',
          version => '1.7.1',
        }
          elasticsearch::instance { 'es-01': }

[2015-08-06 14:46] electrical commented on #421
Hi,

The service would be called 'elasticsearch-es-01'

[2015-08-06 14:49] BurningTheSky commented on #421
Perfect! Thanks for your help!

[2015-08-06 14:53] #421 closed

[2015-08-08 15:04] aman-ttc opened #422 "ES_HEAP_SIZE needs to be parameterised"
Currently, the class provides no way to set `ES_HEAP_SIZE` value.

At the same time, [ES documentation on heap size] (https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html) states:

I can provide a PR if you confirm that this should be fixed.

[2015-08-08 16:09] electrical commented on #422
Hi you can use the init_defaults setting for that.

[2015-08-08 16:13] aman-ttc commented on #422
Ah, right, thanks

[2015-08-08 16:13] #422 closed

[2015-08-09 22:25] schlitzered opened #423 "Plugin Install on centos 7 fails since version 0.9.6"
Hey,

i am running centos 7, with puppet 3.6.2 + hiera.

i have this in a manifest:

[code]

this in a hiera yaml file:

[code]

this is what happens if i run puppet apply:
[code]

as soon as i disable the plugins (comment them out in hiera), the manifests work fine.

i have checked all current version (0.9.8, 0.9.7, 0.9.6), there all have the same issue.

version 0.9.5 is working file.

[2015-08-10 00:06] philipwigg commented on #423
I don't know about the specific error, I think it might be something to do variable scoping or similar.

Using the ```module_name::variable_name``` syntax in Hiera is normally used in combination with automatic parameter lookup (i.e. you want to pass a parameter called ```plugin``` to the ```elasticsearch``` class). But you are not doing that here. You are looking up the variable manually using ``

[2015-08-10 16:01] schlitzered commented on #423
Hey,

i have switched the the method you mentioned. Still the same issue :-/

[2015-08-10 16:12] electrical commented on #423
Weird none of my tests catch this at all. I'll try to do some digging soon.. Could you do a debug run as well?

[2015-08-10 16:43] schlitzered commented on #423
export FACTER_ROLE=dev_vm; puppet apply --debug /etc/puppet/manifests/site.pp &> puppet.log

[code]

[2015-08-10 16:44] philipwigg commented on #423
Actually... is this a bug?

https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/plugin.pp#L110

i.e. ```$proxy_host_from_url``` is set twice?

[2015-08-10 16:48] schlitzered commented on #423
seems like, at least it is not allowed in the Puppet DLS as far as i know

[2015-08-10 17:36] philipwigg commented on #423
Silly me, it is two different variables.

[2015-08-17 08:50] electrical commented on #423
I've setup a hiera acceptance test and running that now to see if i can reproduce it.

[2015-08-17 09:08] electrical commented on #423
I've been unable to reproduce it so far.
@schlitzered would you be able to disable all plugins and enable one by one to see which causes the issue?

[2015-08-17 13:50] electrical commented on #414
Closing this issue due to inactivity.

[2015-08-17 13:50] #414 closed

[2015-08-17 17:43] electrical commented on #423
Finally been able to reproduce. Seems the auto detection function fails for the plugin dir.
Will do some investigation on this.

[2015-08-18 08:28] daks commented on #325
This is the configuration (simplified) for my ES data node:

    class { 'elasticsearch':
        package_url     => 'https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.4.4.deb',
        package_dir     => '/opt/elasticsearch-download',
        datadir         => '/opt/elasticsearch',
    }

    elasticsearch::instance { 'logs':
        init_defaults   => { 'ES_HEAP_SIZ

[2015-08-18 12:46] electrical opened #429 "Override main config options for instance parts"
Some config options can be set in the main config but are not correctly overridden by the instance define.
This mainly involves the path.\* options.
Need to make sure we override them correctly so the instance forces it in to correctly directories.

[2015-08-18 12:49] electrical commented on #325
hi, i think in this case the cors setting blocks it since we do a curl call to localhost.

[2015-08-18 13:01] daks commented on #325
oh, okay, so adding localhost to my cors domain could solve the problem? not sure about the format but i'll try.

[2015-08-18 13:16] electrical commented on #325
I'm not sure about the format either but that should solve it yeah.

[2015-08-21 14:09] babadofar opened #433 "confusing config directories when using the Shield plugin"
I'm not sure whether this issue mostly belongs to Shield or the the puppet-elasticsearch repo.
My problem relates to using the esusers authentication realm, and problem with finding the shield configuration directory. The puppet module creates a directory for each instance, and this seems to come into conflict with esusers auth.

Installing the license and shield plugin without any additional opti

[2015-08-21 14:42] electrical commented on #423
Yay found the issue.
It seems to happen with newer ruby versions and older puppet versions.
I found a fix and will push a PR soon. @schlitzered would you be able to test the PR to see if it solves the issue?

[2015-08-21 14:59] electrical commented on #433
Hi,

There are still some problems with regards to the shield plugin indeed that i am trying to solve.
I'm in the progress of building a separate shield plugin that hopefully will handle all aspects of shield management.
The main problem is that the files need to be shared between the different instances, which is bit of a pain using the esusers binary if only used once.

[2015-08-21 15:15] schlitzered commented on #423
yes, i would be glad to help. just tell me when you are ready.

[2015-08-21 15:16] electrical commented on #423
https://github.com/elastic/puppet-elasticsearch/pull/434 should fix it.

[2015-09-01 12:07] jantman opened #439 "Yum dependency not mentioned in README"
The Readme file has a [section](https://github.com/elastic/puppet-elasticsearch#repository-management) specific to "Repository management" requirements, but this doesn't include ceritsc/yum which is required for the ``yum::versionlock`` define. This is triggered when ``elasticsearch::package_pin`` is true, which is the _default_.

This dependency should be listed in the README.

[2015-09-01 12:08] electrical commented on #439
thank you for reporting this.
I'll add it before doing a release.

In the master branch btw the module is a required dependency so gets pulled in automatically.

[2015-09-01 12:10] jantman commented on #439
cool, thanks.

That only works for people who are modern and using ``pmt`` or something else that includes dependency resolution (i.e. not people who are building a Puppetfile by hand, or maintaing a git repo of modules).

[2015-09-01 12:11] electrical commented on #439
Ah very good point. Will include it.

[2015-09-02 10:41] electrical commented on #439
its included in the 0.9.9 release, hope its better now?

[2015-09-02 10:42] electrical commented on #423
Fixed in 0.9.9 release. Enjoy!

[2015-09-02 10:42] #423 closed

[2015-09-02 11:04] jantman commented on #439
Yes, thanks!

[2015-09-02 11:04] #439 closed

[2015-09-03 10:06] electrical opened #444 "OpenSuse fails package removal"
Error: Parameter ensure failed on Package[elasticsearch]: Provider must have features 'purgeable' to set 'ensure' to 'purged' at /etc/puppet/modules/elasticsearch/manifests/package.pp:184

[2015-09-04 08:05] arkadicolson opened #445 "apt_key warning"
Warning: /Apt_key[Add key: D88E42B4 from Apt::Source elasticsearch]: The id should be a full fingerprint (40 characters), see README.

Change D88E42B4 into 46095ACC8548582C1A2699A9D27D666CD88E42B4 in the repo.pp

Thx!

[2015-09-04 08:26] electrical commented on #445
Hi,

This is a known issue indeed. This is caused by using the short key which is required for some of the older puppet Enterprise versions i'm supporting which are pinned using older apt module versions.
As soon as i can drop support for those i'll update it, but figured a warning is better then dropping support for things :-)

[2015-09-04 08:26] #445 closed

[2015-09-08 08:41] electrical commented on #412
First iteration done by https://github.com/elastic/puppet-elasticsearch/pull/443

[2015-09-10 12:20] schlitzered commented on #423
sry, for the delay. i can confirm that this bug is fixed with 0.9.9

[2015-09-10 13:13] electrical commented on #423
@schlitzered no worries. thank you for the confirmation though, always good to hear its fixed!

[2015-09-11 11:56] daks commented on #278
+1

[2015-09-11 22:28] jsnod opened #449 "Add ability to install entire scripts directory"
I have about 30+ groovy scripts I need to install, and it would be nice to be able to install an entire directory of scripts all at once instead of individually 1-by-1 using `elasticsearch::script`.  It's a maintenance/readability nightmare maintaining them all individually.  Here is how I'm currently doing it outside of the scope of puppet-elasticsearch:

[code]

Ideally we could do something lik

[2015-09-14 09:09] electrical commented on #449
Hi,

This defo makes sense indeed.
I can make some time for it this week. Will ping you here when i got a PR up.

[2015-09-14 14:48] bobstrecansky opened #451 "Puppet Module Build Failing"
Just wanted to open up an issue saying that this puppet module build is failing according to:
https://forge.puppetlabs.com/elasticsearch/elasticsearch

[2015-09-15 06:51] driegel opened #453 "puppetlabs-apt dependency when using puppetlabs-rabbitmq"
This is not really a bug, however, I spent some amount of time finding this. Please see my questions at the bottom.

I am using Puppet to manage Elasticsearch and RabbitMQ. So I am using
[code]

For the elasticsearch module, version 0.9.6 will be installed (instead of version 0.9.9) and normal upgrade will fail because of dependencies.

Dependency reason from metadata.json
[code]
The RabbitMQ modu

[2015-09-15 08:51] electrical commented on #453
Hi @driegel thank you very much for the extensive write-up of the issue.
The limitations of the ES puppet module regarding the apt module dependency are indeed an issue that I would very much like to have solved.

There have been several different PR's for solving different parts which made me feel that not everything might be solved with them.
The other issue is that the ES module has to remain c

[2015-09-15 08:55] electrical commented on #451
Hi, thank you for informing me. I am aware of that yeah. I still need to remove the travis-ci build badge since i don't use it any more.
We are using our own CI infrastructure at http://build-eu-00.elastic.co/view/Puppet/view/Elasticsearch%20New/

[2015-09-15 08:55] #451 closed

[2015-09-15 08:59] bastelfreak commented on #453
What about dropping support for older PE versions and only support the latest APT module version?

[2015-09-15 09:09] philipwigg commented on #453
You could always not depend on the apt module at all and just copy the classes you need from the apt module into your own module.

[2015-09-15 09:10] electrical commented on #453
@philipwigg that would require to much copying and keeping track of changes / fixes. that is something i want to avoid :-)

[2015-09-15 12:09] driegel commented on #453
Hi @electrical,

well, you are the expert ;-)

I feel that your points 1 & 2 would work. I am only using the puppet modules to kick-start Elasticsearch, Logstash, Kibana, RabbitMQ and Curator so that I am having a working system within minutes.

[2015-09-16 12:26] claussni opened #454 "Failed to apply catalog: Duplicate declaration: File[/etc/elasticsearch/logging.yml]"
A duplicate declaration of File[/etc/elasticsearch/logging.yml] breaks catalog compilation.

The problem seems to be in [config.pp](https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/config.pp#L131) where this file is declared absent while in [instance.pp](https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/instance.pp#L234) it's declared present with some cont

[2015-09-16 12:28] claussni opened #455 "Failed to apply catalog: Cannot alias File[/etc/elasticsearch/] to ["/etc/elasticsearch"]"
Some more redeclaring:
[code]

[2015-09-16 12:30] electrical commented on #455
Hi,

How did you define the main class and instance class?

[2015-09-16 12:32] claussni commented on #455
Like that:
[code]

[2015-09-16 12:36] claussni commented on #455
I commented out some `file` declarations in config.pp. But errors like this keep coming up.
Looks like there is a design issue...

[2015-09-16 12:36] electrical commented on #455
I think its caused by $instance being empty, you should use $elasticsearch_instance

[2015-09-16 12:43] claussni commented on #455
Yup, seems to be the problem. Thanks for the swift response!

[2015-09-16 12:43] #455 closed

[2015-09-16 12:44] claussni commented on #454
User error. See #455

Maybe one could introduce a check to print a more useful error message.

[2015-09-16 12:44] #454 closed

[2015-09-16 12:45] electrical commented on #455
No problem, glad its solved :-)

[2015-09-16 15:07] electrical opened #456 "main config and instance config are not deep merged"
See https://github.com/azhurbilo/puppet-elasticsearch/commit/d2be8b55a9dbd643b9bbf27e6c577391970ba929 for details.

[2015-09-16 20:47] bflad commented on #456
This would help DRY up our configurations across various clusters. :+1:

On Wed, Sep 16, 2015, 11:07 Richard Pijnenburg <notifications@github.com>
wrote:

[2015-09-21 00:24] bflad commented on #449
Sort of related - we currently bundle our 100+ scripts into an artifact release (tgz/zip) then deploy them that way since it'd obviously be quite difficult to manage them all in Puppet individually. It'd be awesome if we could point the scripts at an archive URL, much like how plugin operates, although I do understand this might fall outside the "normal" utility for this module.

[2015-09-21 06:57] electrical commented on #449
@bflad i will certainly look at the different options how we can deploy them in the best way.

[2015-09-21 14:50] maxstepanov commented on #453
+1
yeah, this is the only module out of 50 i'm using that still haven't updated the version constraint for apt.
Most of them have apt ">=1.8.0 <3.0.0" and work just fine.

[2015-09-21 14:57] philipwigg commented on #453
:+1:  Updating the dependencies and documenting that it doesn't work with 2.0.0 seems like the least worst option.

[2015-09-21 15:18] ilyash-p commented on #453
+1

[2015-09-25 08:02] madAndroid commented on #453
Totally agree with @maxstepanov - I've forked this module just so that I can set the apt dependency to:
[code]

[2015-09-25 08:37] bitzl commented on #94
Please add support for SUSE Enterprise Linux (`$::operatingsystem` is "SLES").

[2015-09-25 08:54] electrical commented on #94
Hi @bitzl SLES is on our list to add. currently we are working on making our init scripting work with SLES and also have the packages compatible with the V3 signature for signed rpm's.

[2015-09-25 08:56] electrical commented on #453
Hi guys,

Done some more testing and it works fine indeed.
There are several PR's open that indicate there is more functionality required ( regarding apt-get update command execution ) which I am also looking into.

I expect the next release to be compat with pl-apt 2.1.x and higher.

[2015-09-25 09:22] madAndroid commented on #453
Awesome, cheers @electrical :)

[2015-09-28 10:47] driegel commented on #453
@electrical Thank you so much for looking into that.

I guess you can close the issue once everything is done on your side, can't you?
Thanks again!

[2015-09-28 12:29] electrical commented on #453
@driegel yeah, i will close this issue once its solved.

[2015-10-05 14:21] bilsch commented on #433
@electrical how far along are you on this and #399 - I just created a fork and want to create defined types for esusers user/role management in puppet. I don't want to create conflicting work. My plan is to get this going and at least get a prelim pr up today or tomorrow. Also happy to work off of your notes/design ideas

[2015-10-05 23:35] electrical commented on #433
@bilsch i haven't done any solid work yet on the user/role management so far. only on ssl cert generation for shield.
I'm planning to build a separate elasticsearch-shield module for it though.
Do you have the fork somewhere i can check out?

Cheers.

[2015-10-05 23:39] bilsch commented on #433
@electrical I have only begun working on a basic module. I was originally going to create this as an extension to the puppet-elasticsearch module.

I'd be happy to collaborate on a separate shield module if you would be interested. if you want to - create a new empty repo in the elastic org with some design ideas and your key code and I can take a stab at it implementation.

I'm not sure we will b

[2015-10-12 16:05] electrical opened #461 "PL-apt 2.x support ( feedback requested )"
Hi all,

I've seen several different solutions so far to implement PL-apt 2.x support and its very confusing which one is the best solution.

# https://github.com/elastic/puppet-elasticsearch/pull/452
In repo.pp file
[code]

# https://github.com/elastic/puppet-elasticsearch/pull/448
On package resource:
[code]

I would like to try and keep the apt parts confined to the repo.pp so it has the least

[2015-10-13 12:52] electrical commented on #461
@driegel @madAndroid @maxstepanov @philipwigg @pcfens @Pryz @br0ch0n @s12v @liamjbennett  @Tombar
Would love your feedback on this. Thank you!

[2015-10-13 15:36] pcfens commented on #461
Since I wrote #452, I figured a little explanaition of why I added [new relationship line](https://github.com/elastic/puppet-elasticsearch/pull/452/files#diff-bdd716adf278285c0d7f4a1651befad5R36) might help a bit. If I understand correctly, the resulting compiled catalog is the same with both approaches - but I tend to like the approach that keeps all things repo in `repo.pp`. What follows is a li

[2015-10-13 19:47] liamjbennett commented on #461
I have to +1 on the repo.pp method because of both class containment and also for context containment benefits you mentioned.

It's also how we manage apt dependencies internally and how I expect many others do to.

[2015-10-13 19:57] s12v commented on #461
+1 on repo.pp as well

[2015-10-14 12:26] electrical opened #462 "Don't force puppet:// resource only"
I haven't heard any complaints yet but should double check we don't force any resources to `puppet:///` only.

[2015-10-14 12:53] philipwigg commented on #462
I think it's still okay to use `puppet:///` URLs using a masterless setup?

https://github.com/jordansissel/puppet-examples/tree/master/masterless

[2015-10-14 12:56] electrical commented on #462
This issue came from https://discuss.elastic.co/t/use-files-in-source-for-logstash-puppet-submodule/32145 & https://github.com/elastic/puppet-logstash/pull/205

So i'm not 100% sure anymore :-)

[2015-10-14 13:00] philipwigg commented on #462
That first link just redirects back to https://discuss.elastic.co/ for me.

The second one is talking about a ```file://``` resources though, not ```puppet:///``` which I guess is a bit different?

[2015-10-14 13:02] electrical commented on #462
@philipwigg in the case of the PR, i check if the resource given starts with `puppet://` and don't allow anything else like `file://` which is a bad thing it seems :-)
Perhaps i should reword the title :p

[2015-10-14 13:10] philipwigg commented on #462
It might be that has the wrong end of the stick but I think https://github.com/elastic/puppet-logstash/pull/205 is based on a misunderstanding.

AFAIK, ```puppet:///``` URLs work fine using a masterless setup. The puppet agent gets the files from the local copy of the module if you're running ```puppet apply``` instead of fetching it from the master.

[2015-10-14 13:12] electrical commented on #462
Most likely yeah. I think its good not to force puppet only resources anyway and allow for local file resources.

[2015-10-14 13:25] philipwigg commented on #462
Sorry I see what you mean now.

This is for retrieving files that live outside of modules.

Yes, in that case, you should allow a ```file://``` URL which is valid.

[2015-10-14 14:30] Tombar commented on #461
+1  on #452

[2015-10-15 13:59] electrical commented on #461
Thank you for the feedback guys and @pcfens thank you for the extended write up.

Did anyone test the module with others when adding `Class['apt::update'] -> Package[$elasticsearch::package_name]` to the repo part to validate the package stuff works like expected?

Thanks!

[2015-10-20 15:58] electrical opened #466 "Better example for init defaults file"
https://github.com/elastic/puppet-elasticsearch#defaults-file

Use ES_HEAP_SIZE as example instead of the ES_USER/ES_GROUP options.

[2015-10-20 19:21] bastelfreak commented on #466
In my opinion, all three options are heavily used so they all should be mentioned in the docs as examples.

[2015-10-20 20:13] msimos commented on #433
Also need to add documentation about setting -Des.path.conf=/etc/elasticsearch to the plugin command so the Shield install works properly when using RPM or DEB install of Elasticsearch.

[2015-10-21 10:04] electrical commented on #466
@bastelfreak the user/group part is handled via other variables which in turn sets the correct ES_USER/ES_GROUP options.
This makes it a bit confusing to leave it in for this specific example.
I should add an other example how to run it as an other user i guess.

[2015-10-21 10:05] electrical commented on #433
@msimos that specific issue should be solved already with version 0.9.7 and up of the module.

[2015-10-22 21:31] farvour commented on #461
:+1: on #452

[2015-10-26 15:22] MarkSummers commented on #374
I just found the same issue with Puppet 4.2.2

I output the value of $install_cmd and observed that it ended with "-url ".  The use case was as follows:

[code]

[2015-10-26 15:25] electrical commented on #374
Is this still an issue with the latest puppet module version?

[2015-10-26 15:26] MarkSummers commented on #374
I believe so:

[code]

[2015-10-26 15:29] electrical commented on #374
0.9.6 is fairly old. 0.9.9 is out :-)

[2015-10-26 15:33] MarkSummers commented on #374
Thanks.  That also seems to have fixed another issue :)

[2015-10-26 15:34] electrical commented on #374
hehe cool! If this issue is solved i think we can close it?

[2015-10-26 15:38] MarkSummers commented on #374
Working here.

[2015-10-26 17:46] stwomack opened #469 "How can we adjust ES_HEAP_SIZE?"
We would like to up the default ES_HEAP_SIZE, but the template doesn't account for changing it. Is there another way we can configure it using this module? We're getting the defaults, which are not working well for us:

/usr/bin/java -Xms256m -Xmx1g

[2015-10-26 18:21] electrical commented on #469
Hi,

You can use the init_defaults hash like this:

[code]

[2015-10-26 19:18] stwomack commented on #469
Ahh, I missed that. Thank you; it worked great!

[2015-10-26 19:18] #469 closed

[2015-10-28 16:34] devopsprosiva opened #471 "Elasticsearch 2 support"
Hi,

Is this module tested with elastic search 2 and kibana 4?

Siva

[2015-10-28 17:07] electrical commented on #471
Hi,

about 95% of the features work with ES 2.0 yeah.
Only plugin installation via an url doesn't work at the moment and looking for a solution on that.

[2015-10-28 21:49] electrical commented on #471
FYI, i also do integration testing against the 2.0 snapshot packages at http://puppet.ci.elastic.co/view/Elasticsearch/job/puppet-elasticsearch-integration-2x/

If you have any questions around the testing I do don't hesitate to open an issue.

[2015-10-29 11:12] jecnua opened #472 "ES 2.0: es.default.config is no longer supported"
Connected to this issue: https://github.com/elastic/elasticsearch/issues/14347

I am getting the following entry in the log:
[2015-10-29 11:03:04,921][INFO ][bootstrap                ] es.default.config is no longer supported. elasticsearch.yml must be placed in the config directory and cannot be renamed.

Puppet is run with by this module:
-Des.default.config=/my/path/elasticsearch.yml

I am usin

[2015-10-29 11:15] electrical commented on #472
hi,

Yeah this will be fixed in the next version ( 0.9.10 ) which will be compat with ES 2.0
I'm trying to do a release either today or tomorrow, or early next week.

[2015-10-29 11:28] jecnua commented on #472
Thank you! :)

[2015-10-29 19:08] ltutar opened #473 "By default localhost:9200 should be used as host but it is not the case"
According to README.MD:
Host
By default it uses localhost:9200 as host. you can change this with the host and port variables

But when I install elasticsearch with the following yaml:
elasticsearch::java_install: false
elasticsearch::package_url: 'file:/vagrant/salt/states/puppetmaster/files/elk-external-resources/elasticsearch-1.7.3.noarch.rpm'
elasticsearch::instances:
  'es-01':
    'config':

[2015-10-29 19:24] ltutar commented on #473
this is part of kibana.yml

[root@elkagent config]# cat kibana.yml
# Kibana is served by a back end server. This controls which port to use.
port: 5601

# The host to bind the server to.
host: "0.0.0.0"

# The Elasticsearch instance to use for all your queries.
elasticsearch_url: "http://localhost:9200"

# preserve_elasticsearch_host true will send the hostname specified in `elasticsearch`. If you

[2015-10-30 09:56] electrical commented on #473
Hi,

In all the examples i use localhost indeed but the module doesn't change what the defaults are for Elasticsearch it self.
By default for the 1.x releases is bounds to 0.0.0.0
Starting with ES 2.0 its bound to localhost by default.

Hope this clarifies it a bit.

[2015-10-30 09:59] ltutar commented on #473
Definitely. Thank you very much for the explanation.

[2015-10-30 09:59] #473 closed

[2015-10-30 23:11] packplusplus opened #475 "ES 2.0 CentOS repo is 2.x not 2.0"
Documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html)

0.9.9 defaults to the latest 1.7. If you want to use ES2, you have to have different settings for the repo_version. I dunno if to file this as a bug, or just have it here as note to anyone trying to 2.0 working with 0.9.9 on centos. The config that got me there...

[code]

Could be fixed in

[2015-11-02 13:00] electrical commented on #475
Hi,

The 2.x instead of 2.0 naming is caused by the new repo structure.
The Auto upgrade is something i try to avoid. If you do want to have it upgrade to the latest 2.x version then i usually set something like `version => '2.0.0'` which will pin it to that specific version and if you are running a lower version it will do the upgrade.

With autoupgrade it will do an upgrade whenever a new releas

[2015-11-02 15:59] packplusplus commented on #475
I tried pinning the version before opening the issue. Wasn't working
because
http://packages.elastic.co/elasticsearch/2.0/centos/repodata/repomd.xml
wasn't responding. Looks like they must have added an alias, because that
url now works, and auto upgrade brings you to 2.0.

Autoupgrade for the dev cluster that tests out puppet / builds. In prod, I
agree, really bad idea.

On Mon, Nov 2, 2015 at 8:

[2015-11-02 16:05] electrical commented on #475
Hm, if you set repo_version to 2.x and version to 2.0.0 it should upgrade fine.
Can you validate if that works or not?

[2015-11-02 16:16] packplusplus commented on #475
That def works. You can get away with repo_version 2.0 now because the
mirrors respond on that pathing as well.

On Mon, Nov 2, 2015 at 11:05 AM, Richard Pijnenburg <
notifications@github.com> wrote:

--
* Patrick **Flaherty  *|
* w:*      *e:* patrick.flaherty@weather.com

[2015-11-02 19:25] igalic commented on #472
ping @electrical

[2015-11-02 20:17] igalic commented on #471
https://github.com/elastic/puppet-elasticsearch/pull/477

[2015-11-02 22:50] packplusplus commented on #475
I'm going to close this, it was an issue with how ES had the repo setup, but now that 2.0 works, there's no real reason to fix / tweak anything.

[2015-11-02 22:50] #475 closed

[2015-11-02 22:59] packplusplus opened #478 "Inheriting config from class causes duplicate hostname."
Inheriting config from class causes duplicate hostname.

[code]
results in an es yaml with `node.name: hosta-hosta`
[code]
results in an es yaml with `node.name: hosta`

[2015-11-03 12:26] ltutar commented on #472
nice

[2015-11-03 15:15] SteveDevOps opened #479 "how to apply logging.yml change for specific index?"
we have done a change on our live production cluster via api:
[code]
how do I apply via my manifest that invokes your module? I can't find example of this.

[2015-11-03 19:47] igalic commented on #472
https://github.com/elastic/puppet-elasticsearch/pull/477

[2015-11-04 14:44] richardrasu opened #480 "debian repo key too short"
Hi,

We see the following message in our puppet logs: Add key: D88E42B4 from Apt::Source elasticsearch]) The id should be a full fingerprint (40 characters), see README.

In the case of elasticsearch, the full fingerprint should be: 46095ACC8548582C1A2699A9D27D666CD88E42B4

Would it be possible for you to update the manifest (repo.pp), or do you require us to fork & PR?

Cheers

Richard

[2015-11-04 14:47] electrical commented on #480
Hi,

This is a known issue but because I'm still supporting Puppet Enterprise 3.7.x which runs with an older pl-apt version i'm unable to update it to use the longer fingerprint.

[2015-11-04 14:49] richardrasu commented on #480
OK, thanks for the quick response. I understand your predicament :(
Cheers,

R.

[2015-11-04 14:49] #480 closed

[2015-11-04 15:07] electrical commented on #479
Hi,

There is no functionality for this specific option.
You can however put this in an index template to have it applied for every index you create of a specific name.
Otherwise you will have to do this manually indeed.

[2015-11-05 12:12] electrical commented on #478
Hi,

I'll have to dig deeper if this is an actual bug or not.
But for the `node.name` parts:
1. When no `node.name` is specifiedin the instance config we take the following: `hostname-instancename` as the resulting `node.name` part.
2. If a `node.name` is specified in the instance config we use that.

The `node.name` at the class level is ignored so there is no accidental node name conflict.

[2015-11-05 19:49] SteveDevOps opened #482 "new issue - never had before -- centos 6.7 - init.d service not created (using 0.9.8)"
I have a new problem going on I've never experienced before. Stood up some new VMs to create a new cluster using this module. Everything is getting created accept the init.d instance service.

I'm using 0.9.8 module
PE 2015.2
ES 1.4.2
CentOS 6.7 64bit

no /etc/init.d/elasticsearch-[instance name] is getting created.. everything goes fine with puppet run, no visible errors. I've had mirrored setup

[2015-11-05 19:52] SteveDevOps commented on #482
I tried a brief test upgrading to 0.9.9.. no change.

[2015-11-05 21:44] SteveDevOps commented on #482
Ok found the prob.. I had copied over a manifest from another environment and repurposed it. I had left in status => 'unmanaged' in the main ES class -- probably because I was testing something at one point in that other environment. So to those who are unfamiliar, this means don't generate an init.d service! ARGH!!!! Lost a day to that stupid line. Derp!

[2015-11-06 09:15] electrical commented on #482
@SteveDevOps thanks for the issue and great you found it.
I guess the result was unexpected.
Would it be better if the init file did get created but the service would not be enabled & started?