[2015-11-06 13:04] fennnec commented on #472
+1

[2015-11-06 13:09] electrical commented on #472
I'm working with @igalic on #477 to get it in a good state to get it merged and can do a release.

[2015-11-09 10:25] electrical commented on #471
#477 has been merged and will be doing a release this week.

[2015-11-09 10:25] #471 closed

[2015-11-09 10:25] electrical commented on #461
#452 has been merged and bumping the version in metadata file soon and doing a release this week.

[2015-11-09 10:25] #461 closed

[2015-11-09 10:26] electrical commented on #472
#477 has been merged, doing a release this week.

[2015-11-09 10:26] #472 closed

[2015-11-09 10:26] electrical commented on #453
Has been fixed in the master branch. Will be doing a release this week.

[2015-11-09 10:26] #453 closed

[2015-11-09 10:27] #374 closed

[2015-11-09 14:49] SteveDevOps commented on #482
My suggestion would be to leave it be but provide a heads up. What about providing reminders / unmanaged state warnings ?  Especially if new install is occurring?

[2015-11-09 14:51] electrical commented on #482
I'll certainly add some documentation around it yeah. Will have to think about any warnings though.

[2015-11-09 16:30] maxstepanov commented on #453
No it has not. Not on github.

[2015-11-09 18:09] electrical commented on #453
Sorry, just bumped the version dependency in the master branch. forgot to do that part.
Release will be done this week after some more testing.

[2015-11-10 12:16] electrical commented on #475
Hi,

Just a note about this.. the 2.0 folder shouldn't be used as its not being updated and will be removed. Unsure why this was ever created.
You should use the 2.x url.
Sorry for the confusion.

[2015-11-10 22:40] swizzley opened #487 "es_facts.rb timeout"
I had 1 of 10 nodes configured with this module, using the RPM package on EL6.4, where facter -p failed. Stopping the Elasticsearch instance service allowed the fact to finish. I suspect the bug is when the service is running but cannot connect to a master. I'm running the HQ plugin, on ver 1.7.1

/usr/lib/ruby/1.8/timeout.rb:64:in `rbuf_fill': execution expired (Timeout::Error)
	from /usr/lib/rub

[2015-11-10 23:23] electrical commented on #487
Oh, interesting I'll have a look at this asap.

[2015-11-11 12:03] eperdeme opened #488 "Fact - ES version issue"
Hello,

Using this module on 2.0.0 ES RPM RHEL6.x I get the errors below from the facter ES version plugin, which then breaks the install

[root@cxpxelk02dat002 ~]# facter -p elasticsearch_version
Failed to configure logging...
ElasticsearchException[Failed to load logging configuration]; nested: NoSuchFileException[/usr/share/elasticsearch/config];
        at org.elasticsearch.common.logging.log4

[2015-11-11 12:14] electrical commented on #488
Hi,

I'm planning to remove this since there are more issues surrounding ES 2.0 support.
By the looks of it i will be doing a 1.0 release of the module that supports ES 1.x and a 2.0 of the module that supports ES 2.x

[2015-11-11 12:17] eperdeme commented on #488
Oki Doki.

I think maybe a -V instead of a -v would return the value without ES trying to partially run before it is configured correctly.

[2015-11-11 12:17] #488 closed

[2015-11-11 14:54] kraeuschen commented on #488
-V works fine.

[2015-11-13 14:06] thenom opened #492 "ES 2.0 plugin does not use --url to install"
[code]

Manually running the command:

[code]

[2015-11-13 14:10] electrical commented on #492
Hi,

I'm working on making the module work with ES 2.x :-)
The initial try to make it work lacked some logic to handle ES 1.x and 2.x so working on a better implementation.

Hopefully i'll have this solved soon.

[2015-11-13 15:27] ryreitsma opened #493 "Error installing marvel plugin when java is installed in /usr/local/sbin"
I am trying to install the latest marvel plugin:

[code]
and I am getting the error "Error: which: no java in (/bin:/usr/bin:/usr/local/bin)" when running this module. It seems that the puppet module used to install an Oracle java SDK (https://github.com/tylerwalts/puppet-jdk_oracle) creates a link to java in /usr/local/sbin and the plugin code does not include this directory:

[code]

Is it an op

[2015-11-13 15:29] electrical commented on #493
Hi,

If adding that path solves your issue i'm happy to receive a PR for that :-)

Cheers.

[2015-11-13 15:51] thenom commented on #492
Brilliant!  Looking forward to trying it out :)

[2015-11-13 19:32] pickypg opened #495 "Note in docs that Puppet is not ready for ES 2.0"
As Puppet is not quite ready for ES 2.0 (awaiting init.d and plugin changes), it would probably be a good idea to update the documentation (here and at the Forge) to note that it's not yet compatible.

[2015-11-13 22:56] ntent-ashton commented on #492
Came here to open a ticket on this - glad to see it's been raised already.  I've modified the module for now, and I'll subscribe to this issue for resolution.

[2015-11-13 23:05] #495 closed

[2015-11-16 11:17] #493 closed

[2015-11-16 11:19] electrical commented on #478
Did some more digging and its expected behaviour so far.
If no `node.name` is given on the instance config level we automatically default to `$::hostname-$instance_name`
Because of that you get the duplicate name.

[2015-11-16 11:19] #478 closed

[2015-11-16 11:20] electrical commented on #462
Closing since https://github.com/elastic/puppet-elasticsearch/pull/470 is merged.

[2015-11-16 11:20] #462 closed

[2015-11-16 12:33] sloba88 opened #498 "Failing dependency to datacat"
I am using this repo together with Vagrant provisioning to generate environment and it was working until I did update couple of days ago.

The problem I get now is
``` Error: Puppet::Parser::AST::Resource failed with error ArgumentError: Invalid resource type datacat at /tmp/vagrant-puppet/modules-3b4d52a2bc511f3d244fe82c3cf92a80/elasticsearch/manifests/instance.pp:287 ```

Which means that dataca

[2015-11-16 12:44] sloba88 commented on #498
Ok I get that this has to do with Vagrant provision loading order probably, this is not correct place to ask.

[2015-11-16 12:44] #498 closed

[2015-11-16 12:53] philipwigg commented on #498
The Elasticsearch Puppet module requires the datacat module as you say.

You can find a list of the module dependencies in the ```metadata.json``` file in the root directory.

The dependent modules need to be placed in your 'modules' directory (same the Elasticsearch module does).

[2015-11-16 13:01] packplusplus commented on #478
:+1:

Maybe the original purpose make have been to "prefix" or "suffix" all the node names in the cluster. That makes some sense. Thank you!

[2015-11-16 15:13] eperdeme commented on #492
It's also worth noting on V2 plugins you can not specify the version for official plugins.

So in the readme the following is invalid.

https://github.com/elastic/puppet-elasticsearch#plugin-name-could-be
elasticsearch/plugin/version for official elasticsearch plugins (download from download.elasticsearch.org)

[2015-11-17 10:52] VuokkoVuorinnen opened #499 "when using 'unmanaged' for service, the init script is not installed"
Is there a particular reason why the init script isn't installed when using status=unmanaged (I'm using pacemaker to manage the elasticsearch service)?

[2015-11-17 11:26] electrical commented on #499
Hi,

This same issue was reported via https://github.com/elastic/puppet-elasticsearch/issues/482
I think indeed i should install the init script but not enable it.
I hope to have this solved for the next version.

[2015-11-17 11:29] eperdeme commented on #499
Weirdly, I was looking at this today as we have the same issue of wanting
rundeck/jenkins to control the rolling upgrades but still using the init
script/

Glad to see it might be changed in the next release.

On Tue, 17 Nov 2015 at 11:26 Richard Pijnenburg <notifications@github.com>
wrote:

[2015-11-17 11:46] VuokkoVuorinnen commented on #499
in manifests/service/init.pp (and systemd.pp), removing the 'status != unmanaged' from ' if ( $status != 'unmanaged' and $ensure == 'present' )' seems to solve the problem. Not sure if there's anything that might break. Can I run some tests before making a PR?

[2015-11-17 11:48] electrical commented on #499
You can always run `bundle install` and `bundle exec rake spec`
That's for the unit tests.
Don't think i have acceptance tests for the unmanaged part.

The unit tests may fail though but since its a fairly unused feature we can change it without causing to much harm I would think.

[2015-11-24 09:37] walterheck opened #503 "No matching entry for selector parameter with value ''"
Hi,

I'm getting the above error on a centos 7 box with puppet 4.2.1. Here's what I see:

[code]

these are the offending lines from that file:

[code]

which means that $elasticsearch::restart_on_change is actually an empty string
    but in the class definition of elasticsearch class it says:

[code]

    so it defaults to whatever is in the params class
    in the params class then, it says:

[

[2015-11-24 09:42] walterheck commented on #503
I noticed this module is actually employing questionable code patterns: the elasticsearch::instance define is using parameters from the main elasticsearch class, which it can't and shouldn't rely on already being loaded as it can't guarantee that.

[2015-11-24 10:16] electrical commented on #503
If you would change the `include ::elasticsearch` to `class { '::elasticsearch': }` it should work just fine.

For the 'questionable code patterns' its very common to pull variables from the main class in defines so you don't have to define the same variables multiple times everywhere.

[2015-11-24 10:24] walterheck commented on #503
huh? why does that make a difference? I'm a puppetlabs trainer and I know there are subtle differences between the two syntaxes (like include can be used multiple times vs class{} only once, etc. I have never encountered this though?

something being very common doesn't make it proper. In my opinion it is okay for a class to access out of scope variables but for a define I find it better to send t

[2015-11-24 10:33] electrical commented on #503
Even if it was a variable in the define it self you would still run into the same issue.

The include can indeed be done multiple times but doesn't initialize the class it self which has a function on its own like ensuring the sequencing of different defines.
Include is only useful if you want to have access to the variables it has, but in this case you want to initialize the class.

[2015-11-24 10:51] #503 closed

[2015-11-24 10:52] walterheck commented on #503
Thanks for the help, working now.

[2015-11-26 13:20] dcroonen opened #505 "Apt module version dependency"
Hi all

The apt module version dependency for the moment is 1.8.0 while the current apt version is 2.2.0. Is there any progress on this one?

Kind regards

[2015-11-26 13:36] bastelfreak commented on #505
Hi,

please take a look [here](https://github.com/elastic/puppet-elasticsearch/pull/504#issuecomment-159901161).

[2015-11-26 15:25] electrical commented on #505
@dcroonen the new release will support pl-apt 2.x

[2015-11-26 15:30] dcroonen commented on #505
Great! Somebody any idea when this new release will become available?

[2015-11-26 15:36] krzyzakp opened #506 "Custom restart command for Elasticsearch service"
We're using heavily Elasticsearch cluster on production, with many nodes and this code to manage everything via puppet. Sometimes we have to change our configuration, what right now is not possible in automated way without downtime, as nodes are restarted randomly and it often happen on big clusters, that most of nodes is going down at same time, bringing cluster into red status.

We have some ide

[2015-11-26 15:43] electrical commented on #506
Hi,

could you give an example of how you would use that variable?

[2015-11-26 15:44] electrical commented on #505
I'm planning to do a release tomorrow unless anything crops up today.

[2015-11-26 15:55] krzyzakp commented on #506
Idea was quite simple for this case, we would put into restart easy command like: `touch /var/lib/puppet/state/safe_elasticsearch_restart.lock`. Tthan in our puppet code add rule, which would restart node in cluster in safe way, something like:
[code]
Similar exec we use when installing plugins to ES, to make it without downtime.

[2015-11-30 15:58] electrical commented on #492
PR https://github.com/elastic/puppet-elasticsearch/pull/507 should solve the plugin installation issues.
Documentation i'll fix via an other PR.

[2015-12-02 08:04] tobiasschaber opened #509 "repo url wrong"
Hey guys,

For me it seems that the repo url for yum packages which is used by default is not correct.

It seems that the module tries to download the yum repo from "package.elastic.co/.... "

I can get it running if I use "download.elastic.co/..."

Could you please have a look if this may be a bug?

Kind regards,
Tobias

[2015-12-02 09:28] Oyabi commented on #492
Hi,
Have you a release date for the module compatible with elasticsearch 2?
Thank you.

[2015-12-02 12:56] electrical commented on #492
@Oyabi hoping to do the release today or tomorrow.

[2015-12-02 12:59] electrical commented on #509
Hi,

package.elastic.co should work just fine.
Can you show the settings you used for the puppet module and what error you are getting?

[2015-12-02 13:03] Oyabi commented on #492
Ok cool ^^
Thank you.

[2015-12-03 14:03] olliiiver commented on #509
Hi,

the repository URL seems to be dead for a few days now which renders the installation over puppet unusable.

[code]

The latest repository URL works (http://packages.elastic.co/elasticsearch/2.x/debian/dists/stable/main/binary-amd64/Packages) but this version of Elasticsearch is not compatible with the puppet module.

[2015-12-03 14:53] xaniasd commented on #492
+1

[2015-12-04 15:29] BurningTheSky opened #510 "Binding to the wrong IP"
Hi,
I am using the code below to start an instance but it appears to be binding to the 127. loopback IP rather than an external one, how can I change this? When I used 1.7.1 it wasn't doing that but now that I am using 2.1.0 it is, has something changed?

Thanks

        class { 'elasticsearch':
                manage_repo => true,
                repo_version => '2.x',
                version =>

[2015-12-04 16:01] eperdeme commented on #510
elasticsearch::instance { $instance_name:
    config => {
      'network.bind_host'     => '0.0.0.0'
}

Something like that might help, but you'll also want to look
at network.publish_host

https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html

On Fri, 4 Dec 2015 at 15:30 BurningTheSky <notifications@github.com> wrote:

[2015-12-04 16:33] BurningTheSky commented on #510
bind_host worked perfectly! Thanks

[2015-12-04 17:00] #510 closed

[2015-12-04 17:01] BurningTheSky opened #511 "Marvel Install"
Hey,
I'm sure I have done something very obviously wrong here but Marvel won't install, could anyone tell me where I have gone wrong?
Code:
          class { 'elasticsearch':
                 manage_repo => true,
                 repo_version => '2.x',
                 version => '2.1.0',
                 java_install => false,
         }
                 elasticsearch::instance { 'instance1':

[2015-12-05 00:50] aman-ttc opened #512 "Default JAVA_OPTS in elasticsearch.in.sh"
`elasticsearch.in.sh` (`/usr/share/elasticsearch/bin/elasticsearch.in.sh` on Ubuntu 12.04) contains following JAVA_OPTS defaults:

[code]

It seems there is no way to disable them at the moment. This is causing issues when one wants to enable G1GC instead. How about making these defaults conditional?

[2015-12-06 10:03] electrical commented on #509
I'll have a look at this Monday and update you.

[2015-12-06 10:04] electrical commented on #510
Hi. With es 2.x it defaults to local host indeed. It's one of the changes listed.

[2015-12-06 10:09] electrical commented on #511
This is another es 2.x change.  See https://www.elastic.co/guide/en/elasticsearch/reference/2.0/breaking-changes-2.0.html for more details.

[2015-12-06 10:10] electrical commented on #512
Please open an issue in the elasticsearch repo it self since I can't fix this in the puppet module.

[2015-12-06 10:10] #512 closed

[2015-12-07 12:50] BurningTheSky commented on #511
Thanks for the information, I am not very experienced with ES, would you mind explaining in practical terms what this change means for installing marvel through puppet? Thanks

[2015-12-07 13:41] electrical commented on #511
Hi,

The module it self with regards to plugin installations isn't fully ready yet for 2.x
There were several changes that required a large rewrite for that.

I'm hoping to do a release this week to get it all working.

[2015-12-07 13:59] BurningTheSky commented on #511
Ah, ok, for now I will get a manual install done. Thanks for the information, I look forward to the update.

[2015-12-07 14:01] electrical commented on #511
https://github.com/elastic/puppet-elasticsearch/pull/507 will fix the plugin install issue. Hoping to have the tests pass by today.

[2015-12-07 18:39] erikanderson opened #513 "Maintain existing file structure - update from 0.2.4 to 0.9.9"
Our current es cluster is being managed by version 0.2.4 of the plugin. In order to migrate from ES 1.7.1 to 2.1.0 we are updating to the latest version of the plugin.

Our current data structure looks like this:
[code]

Previously we did not name this instance but with the new version of the module I guess we have to. So, I played around with the instance naming a bit. I tried naming the instance

[2015-12-07 20:00] electrical commented on #513
Hmm, when setting the data dir in the instance config it should honour that.
Let me double check tomorrow in my tests and see if there is a bug.

[2015-12-07 20:30] erikanderson commented on #513
Thank you, I am also taking a look at the module itself to see if that can be improved

[2015-12-07 21:33] quixoten commented on #513
It doesn't look like the data directory set on an instance is making it into [the init.d script](https://github.com/elastic/puppet-elasticsearch/blob/master/templates/etc/init.d/elasticsearch.Debian.erb#L83). The `CONF_DIR` is another example of a variable in the `init.d` script that will not honor what is set on the instance.

[2015-12-08 09:24] electrical commented on #513
the init scripts are not changed but the defaults file is at `/etc/sysconfig/elasticsearch-$instancename`
Also the data dir is being set in the elasticsearch.yml file in the instance config dir.

[2015-12-08 09:25] electrical commented on #509
Hi,

I just saw the issue.
If you set the repo_version to 2.x instead of 2.0 it works fine.

[2015-12-08 12:39] olliiiver commented on #509
Hi @electrical, 2.0 installs 2.0.0-beta2, whereas 2.x installs some newer version. I tried this too, but ran into conflicts. The new Kibana version requires Elasticsearch 2.1 or later, so an update for the puppet module would be very helpful.

[2015-12-08 12:40] electrical commented on #509
The module should be able to install 2.0.x and 2.1.x  fine when using 2.x as repo version.
Can you show me the conflicts you are getting?
Please don't use 2.0 as repo version as it shouldn't exist actually :-)

[2015-12-08 16:02] jlyheden commented on #505
Would be great if this version could be uploaded to the Puppet forge

[2015-12-09 10:53] tobiasschaber opened #514 "shield plugin installation fails at the first puppet run"
Hey guys,

I'm currently running into an issue while trying to install the shield plugin.

Environment:

OS: CentOS 7.1 in a vagrant box with virtualbox and puppet 3.8.4.

This is the hiera config I use:

[code]
In every run there is no problem while installing all the other plugins, but the shield plugin always fails after all retries.

If I then login into the machine and run the plugin installe

[2015-12-09 11:47] electrical commented on #514
Hi,

There are some weird things going on with the plugin install indeed which I'm trying to solve with PR #507

[2015-12-09 11:50] tobiasschaber commented on #514
Thanks for you quick reply! Did not see that there was already an issue open.
I will follow this!

Kind regards,
Tobias

[2015-12-09 11:55] electrical commented on #514
No worries :-)

[2015-12-09 11:55] #514 closed

[2015-12-09 15:09] electrical commented on #513
Hi,

The test at https://github.com/elastic/puppet-elasticsearch/blob/master/spec/acceptance/005_datapath_spec.rb#L129-L177 tests your specific situation and should work fine.

Can you check the settings in your elasticsearch.yml file?

Also could you check the content of $init_defaults ?  that you set in your instance config ?

Cheers.

[2015-12-09 16:58] electrical commented on #513
I did find out where the `-Des.default.path.data` comes from but it should be overridden by the values that are in the elasticsearch.yml file.

[2015-12-09 17:05] quixoten commented on #513
I work with @erikanderson here at mx.com and the issue we were having was that we were making the wrong assumptions about how the data path for an instance in puppet translated to the data path that elasticsearch uses. We did not account for elasticsearch using the cluster.name as a sub-directory, so we were ending up with data in `/es/data/instance-name/cluster-name`, but what we wanted is `/es/d

[2015-12-09 17:17] electrical commented on #513
Ahh okay. Yeah, the cluster name is what ES inserts by default, that's something i can't control using the puppet module :-(
Glad its solved.
Let me know if we can close this.

Cheers.

[2015-12-09 17:17] driegel opened #515 "Latest snapshot (pre v0.9.10) and plugin 'royrusso/elasticsearch-HQ'"
Hi,

using the following with Elasticsearch 2.1
[code]
and the latest snapshot of the 'puppet-elasticsearch' puppet module causes the following error:
[code]

The plugin does actually install, however, the problem is uppercase/lowercase in the path '/usr/share/elasticsearch/plugins/HQ'

Priority: low

Thanks!

[2015-12-09 17:19] erikanderson commented on #513
Yes, its good to close, thanks for the help

[2015-12-09 17:19] #513 closed

[2015-12-09 17:21] electrical commented on #515
Hi,

This is something i found as well with my tests.  PR #507 will solve this problem as soon as i get everything working and tested :-)

[2015-12-09 17:25] driegel commented on #515
By the way, the latest snapshot is now working for me with ES 2.1,

There is one problem I need to workaround for now:
'[::1]:9300'

This is beyond the realm of this issue.

[2015-12-09 19:17] kjelle commented on #492
+1

[2015-12-10 07:41] anderssynstad commented on #492
+1

[2015-12-10 10:52] electrical commented on #515
@driegel that is with the pr added that I linked ?

[2015-12-10 13:29] driegel commented on #515
@electrical I tested the plugin with the following commit on branch master (after 'git clone')
[code]
Result: ERROR as written above.

[2015-12-10 13:34] driegel commented on #515
@electrical The IPv6 thing I will test more and open as separate issue if needed. For now I feel we need a working module for ES 2.1 asap.

[2015-12-10 15:23] electrical commented on #515
The current master branch should work fine for ES 2.x indeed except for the plugin install parts which should be solved with #507.
Once that is stable I can make a release.

[2015-12-10 18:48] shreejit13 opened #516 "elasticsearch-elasticsearch.service never wrote its PID file. Failing."
getting following error on CentOS 7:

[root@elasticsearch log]# systemctl status elasticsearch-elasticsearch.service
elasticsearch-elasticsearch.service - Starts and stops a single elasticsearch instance on this system
   Loaded: loaded (/usr/lib/systemd/system/elasticsearch-elasticsearch.service; enabled)
   Active: failed (Result: resources) since Thu 2015-12-10 18:36:29 UTC; 4min 47s ago
     D

[2015-12-10 19:36] walterheck commented on #492
@electrical is that still "today or tomorrow"? Could very much use a working module for 2.x

[2015-12-11 09:34] electrical commented on #492
Sorry for the delay. had some issues with the plugin code which i finally solved. I'm targeting for today if i get everything merged and updated.

[2015-12-11 09:35] electrical commented on #516
Can you paste the puppet code config you use and which version of the puppet module?

Cheers.

[2015-12-11 10:19] electrical commented on #505
@jlyheden I'm trying to do a release today which also includes multiple fixes for ES 2.x

[2015-12-11 10:20] driegel commented on #515
Thank you for doing this, I appreciate that. I thought, PR #507 is an easy patch and I will try it but I was wrong.

[2015-12-11 10:50] electrical commented on #515
Its quite a large change indeed and been working on it for a while now but getting very close.

[2015-12-11 13:22] BurningTheSky commented on #511
Has the plugin changed passed or is this still in progress? Thanks

[2015-12-11 13:33] electrical commented on #511
Its still in progress but finalizing the changes right now.. I'm expecting to merge the PR today

[2015-12-11 13:37] BurningTheSky commented on #511
Cool, thanks for the update

[2015-12-11 13:44] mmarseglia opened #517 "datcat dependency?"
Hi,

  Just wondering why the new dependency on datcat when you could use Puppetlabs concat?  https://forge.puppetlabs.com/puppetlabs/concat

  They look similar in function.

Thank you,

[2015-12-11 13:49] electrical commented on #517
hi,

The datacat allows me to have a different hashes and pass them to the erb template i have.
It looks a little bit like concat but very different :-)

[2015-12-14 09:31] #517 closed

[2015-12-14 09:37] #509 closed

[2015-12-14 12:33] tbarbugli commented on #472
@electrical was a patch released?

[2015-12-14 13:00] electrical commented on #472
@tbarbugli I'm afraid not yet. There were several other issues that needed to be solved like #507 for 2.x
I'm working hard to do a release today.

[2015-12-14 17:27] electrical commented on #472
@tbarbugli just released 0.10.0 with the patch.

[2015-12-14 17:28] electrical commented on #515
0.10.0 is released with a fix for this. Enjoy!

[2015-12-14 17:28] #515 closed

[2015-12-14 17:28] electrical commented on #505
0.10.0 is released with a fix for this. Enjoy!

[2015-12-14 17:28] #505 closed

[2015-12-14 17:28] electrical commented on #492
0.10.0 is released with a fix for this. Enjoy!

[2015-12-14 17:28] #492 closed

[2015-12-14 17:29] electrical commented on #511
0.10.0 is released with a fix for this. Enjoy!

[2015-12-14 19:06] Oyabi commented on #492
Thank you ;)

[2015-12-15 03:58] devopsprosiva opened #521 "Service file not created"
Hi,

I'm trying to configure elasticsearch on centos7. This is how I declared the class. However after a puppet agent run, none of the systemd files are being created from the template. Any idea how to fix it?

    class { 'elasticsearch':
        ensure           => present,
        version          => '2.1.0',
        status           => 'enabled',
        manage_repo      => true,
        repo_

[2015-12-15 12:24] tobiasschaber commented on #514
great, everything is working fine now!

thanks!

[2015-12-15 12:30] electrical commented on #514
@tobiasschaber glad to hear! thank you for the feedback. if you find anything weird don't hesitate to open an issue.

[2015-12-15 13:04] gna582 opened #522 "PRCTL not available for amd64 in debian < jessie"
prctl is not available for amd64 for any debian releases prior to jessie: https://packages.debian.org/wheezy/prctl

Context:
I tried to install ES 2.1.0 with on debian wheezy with puppet-elasticsearch 0.10.0. It does not start. It does not log anything. I tried running the service manually like this:

    sudo -u elasticsearch /usr/share/elasticsearch/bin/elasticsearch -d -p /var/run/elasticsearch

[2015-12-15 13:22] electrical commented on #522
Hi,

I test the module with debian 7 and 8 and haven't seen any of these issues there.
So its a bit weird you are running into this issue.
I'll ask internally and see what we can come up with.

[2015-12-15 14:34] electrical commented on #522
Can you check which kernel version you have when you get this error?

Thanks!

[2015-12-15 14:40] electrical commented on #521
Hi @devopsprosiva this is most likely because you didn't specify an [instance](https://github.com/elastic/puppet-elasticsearch#instances)
Please check the docs for more information.

[2015-12-15 14:47] gna582 commented on #522
Hi electrical,

thank you for your help!

After another hour of poking around I found out what went wrong:

start-stop-daemon is called with the "-b" option in the init script. This prevents errors of the application to reach the user.
Upon running the start-stop-deamon call without that parameter, it started to complain that my ES_HEAP_SIZE value is invalid. It needs to be an integer, not a float

[2015-12-15 14:57] electrical commented on #522
Thank you very much for your reply and the investigation you did!
I'll pass this on internally to our ES team and see if we can improve the user experience.

[2015-12-15 20:49] ntent-ashton opened #523 "Puppet module sees `bin/plugin exception` as a successful run"
I was working on what I *thought* was a clean system, but it turns out java-1.6.0-openjdk was installed.  Because ES doesn't like 1.6.0, bin/plugin fails with this message:

        [root@ca6-06:/usr/share/elasticsearch]# bin/plugin  http://nexus/nexus/content/repositories/releases/ntent/ntent-boilerplate/1.0.0/ntent-boilerplate-1.0.0.zip
    Exception in thread "main" java.lang.UnsupportedClassVe

[2015-12-15 23:26] electrical commented on #523
Hi. I released a new version of the module that should handle this much better.
Could you try that one ?

[2015-12-15 23:34] devopsprosiva commented on #521
@electrical Thanks for pointing that out. It works now.

[2015-12-15 23:34] #521 closed

[2015-12-15 23:49] ntent-ashton commented on #523
Oh yeah I can give the new module a shot.  Stand by.

[2015-12-16 09:39] electrical commented on #521
Great to hear. If you run into other issues please let me know.

[2015-12-16 09:50] #522 closed

[2015-12-16 11:20] thenom opened #524 "plugin install not handling return code 74 for 'Already installed'"
Hi,

Thanks for the update for ES2.  I am just redoing my puppet code and hiera and it seems that the plugin install work fine first time round and then subsequent runs file due to ES returning exit code 74

[code]

Does this exit code need catching or is it just me mis-reading the docs?  This is my code:

[code]

and hiera:

[code]

Thanks again

[2015-12-16 11:32] electrical commented on #524
Oh, interesting... I'll have to take a closer look at this and see if i can fix it.
To confirm you are using version 0.10.0 of the module right?

[2015-12-16 11:40] electrical commented on #524
It seems i have a test for this already which should catch this:

https://github.com/elastic/puppet-elasticsearch/blob/master/spec/acceptance/021_es2x_spec.rb#L214-L231

I'll take a closer look at this.

[2015-12-16 12:27] krjensen opened #525 "Plugin wont install with proxy"
Hi,

Im using this module from forge v 0.10.0 but i can't install plugins for my 2.1.0 ES nodes when i use proxy setting:

[code]

This is my config:

[code]

If i go to the node and run the command  '/usr/share/elasticsearch/bin/plugin  -DproxyPort=3128 -DproxyHost=192.168.33.9 install lmenezes/elasticsearch-kopf/2.0' everything works.

[2015-12-16 12:55] thenom commented on #524
Hi,

Yes, this is 0.10.0:

[code]

Thanks.

[2015-12-16 12:56] electrical commented on #525
Oh, interesting. I must admit i haven't ran the proxy part as an acceptance test yet.
I'll have a closer look at this. Thank you very much for reporting it.

[2015-12-16 12:57] electrical commented on #524
Also the test you did was this on a clean machine or did it already have something installed?

[2015-12-16 12:57] krjensen commented on #525
No problem - let me know if you want me to test anything.

[2015-12-16 13:01] thenom commented on #524
This is a clean machine.  I am redoing my full ES node build with puppet and foreman.

I will trigger a rebuild anyway as i have been tinkering but nothing has been done manually on this build nor has it been built with the older module.

p.s. i might have edited and posted my previous comment after you posted so:

Could this be a multi-instance issue? Doesn't the module only need installing once

[2015-12-16 13:04] electrical commented on #524
The plugin path is shared between instances so that you only need to install it once yeah.
I'll have a closer at this issue today and see if i can find anything weird with it.

[2015-12-16 13:05] electrical commented on #524
Oh an other thing you could do is run with `--debug` flag,
This should expose come debug logging lines in the custom provider to give some idea what its doing.
Could you do that run and paste the whole log?

Thanks.

[2015-12-16 13:16] thenom commented on #524
I am currently rebuilding node01 but node02 has the same issue.  Here is the output of the --debug that i think you need:

[code]

If you need any more info then please let me know.

[2015-12-16 13:19] electrical commented on #524
Interesting. I assume this is the log of the second run?
can you check if that .name file indeed doesn't exist?

[2015-12-16 13:34] electrical commented on #525
I can re-produce the issue, See if i can find a solution. Will update you when i find something.

[2015-12-16 13:42] thenom commented on #524
Arrgggh!  To start with i used the English spelling of Licence (not the American - license :P ) so it was the directory /usr/share/elasticsearch/plugins/licence that didn't exist whereas this one /usr/share/elasticsearch/plugins/license did.

I have corrected this and i am still getting the same error:

[code]

Also the .name file still does not exist:

[code]

Not sure if this is due to an issue

[2015-12-16 13:47] electrical commented on #524
No worries at all! I'm glad its found now.

This is the only 'issue' with the plugin system that I have to use the resource name to know the directory name, which usually works when installing it online :-)

[2015-12-16 13:47] #524 closed

[2015-12-16 13:48] electrical commented on #525
I think i found the solution.
In `manifests/plugin.pp` there are 2 lines that have the proxy options being passed on to the custom type.
At the moment they have a space at the beginning of the line.
If you remove that space it should work as expected.
Could you make the modification and try again?

Thanks!

[2015-12-16 14:04] krjensen commented on #525
I will try that, as it is right now, I'm getting the module direct from forge with librarian puppet, so I need to make some small changes to test that.

[2015-12-16 14:16] krjensen commented on #525
Test:

removed " " in this line:

[code]

That changed the Error, now i'm getting this:

[code]

I know that the proxy works, because if i run the command by hand, it will download and install kopf

[code]

[2015-12-16 14:17] electrical commented on #525
Okay, at least a small step further. Let me dig a bit further on that part.

[2015-12-16 14:22] thenom commented on #524
Sorry, just one last question...  (p.s. esnode01 rebuilt perfectly with no issues and all modules)

I am still having the issue with multi-instance ES not reading the shield users created with:

[code]

Is this still an issue?

Please let me know if you want me to register this elsewhere.

[2015-12-16 14:25] electrical commented on #525
It seems that for some very weird reason its not being picked up correctly when running it via puppet command.
I'll do some more digging.

[2015-12-16 14:29] electrical commented on #525
Found the issue.
Somehow due to how the plugin script handles the parsing it messed up the arguments when run via puppet..
Trying to find a fix now, sorry for the delay.

[2015-12-16 14:31] electrical commented on #525
Found a solution. will send a PR soon for both fixes, if you could try them out it should all work.

[2015-12-16 14:31] krjensen commented on #525
I will do that - thank you!

[2015-12-16 14:33] electrical commented on #525
https://github.com/elastic/puppet-elasticsearch/pull/526 should fix the issue. could you try it out? thanks!

[2015-12-16 14:35] electrical commented on #524
Hi, the shield stuff is still an issue i'm afraid and still looking for a working solution around this.
The main issue is that with the built in security its not allowing me to do symlinking so i'm looking for a better solution.

[2015-12-16 14:45] thenom commented on #524
Ok, is there a thread i can follow for this?

[2015-12-16 14:45] krjensen commented on #525
This works!

[code]

Thank you - what is the time frame for getting this to master and bump forge so i can use Librarian?

[2015-12-16 14:46] electrical commented on #525
Great to hear! There are a few small things i would like to fix and cleanup.
I'll most likely do a release tomorrow or Friday at the latest.
I'll get this merged into the master branch today.

[2015-12-16 14:47] electrical commented on #524
Currently https://github.com/elastic/puppet-elasticsearch/issues/433 is the main issue for it.
I'm working on a shield related module which hopefully will solve this at some point, no eta on it yet though :-(

[2015-12-16 14:47] krjensen commented on #525
Thank you for the quick response!

[2015-12-16 14:47] #525 closed

[2015-12-16 14:48] thenom commented on #524
Great, thanks again for your help and work on this.

[2015-12-16 14:51] electrical commented on #524
No problem at all!

[2015-12-16 14:51] electrical commented on #525
No problem at all!

[2015-12-16 16:59] electrical commented on #523
Did it work as expected?

[2015-12-16 17:05] ntent-ashton commented on #523
Sorry, I got derailed.  I'll test soon.

[2015-12-16 17:06] electrical commented on #523
no worries. thanks!

[2015-12-17 10:12] electrical commented on #525
Hi, Release is out :-)  version 0.10.1  cheers.

[2015-12-17 13:15] jmjansen opened #528 "puppet-elasticsearch freezes with ES 2.1 on CentOS 6"
To determine the version of the installed instance of ES '/usr/share/elasticsearch/bin/elasticsearch -v' is started. On ES 1.7 it returns the version, on ES 2.x it just runs ES and it does not return to puppet.

As a result the puppet run freezes ...

When I remove the line 'version = es('-v') # ES 1.x' (and the 'rescue' line just below it) from the file lib/puppet/provider/elasticsearch_plugin/pl

[2015-12-17 13:31] bilsch opened #529 "log4j config, how to add custom appender"
We are looking to add a modification to the log4j appender type used to get the rolling file appender vs the daily rolling file appender.

http://grokbase.com/t/gg/elasticsearch/14chrn08rj/pruning-logs-how-to-get-maxbackupindex-to-work

From what I see in the [template](https://github.com/elastic/puppet-elasticsearch/blob/master/templates/etc/elasticsearch/logging.yml.erb#L13-L15) the only change

[2015-12-17 13:42] electrical commented on #529
Hi,

The logging file is something that i still want to improve but haven't had the time yet.
This use case will certainly help me with thinking up improvements for it.
more idea's / PR's are always welcome :-)

[2015-12-17 13:43] electrical commented on #528
That's weird since i run tests on both 1.x and 2.x systems without any issues so far.
Can you run with --debug line and paste the output?

Thanks!

[2015-12-17 13:51] electrical commented on #528
Also can you check which puppet, ruby and java versions you have?

[2015-12-17 13:57] jmjansen commented on #528
I did already this morning ... that's how we found out the process froze on the -v

Notice the delays between the '/usr/share/elasticsearch/bin/elasticsearch -v' and '/usr/share/elasticsearch/bin/elasticsearch --version' ... It wasn't until I killed the '/usr/share/elasticsearch/bin/elasticsearch -v' the script would continue and invoke '/usr/share/elasticsearch/bin/elasticsearch --version' ...

T

[2015-12-18 11:31] BurningTheSky commented on #511
Hey, thanks for the update, I am still having an issue though. The error says that it is failing to download the files, but if I do a wget on the url it works fine. Any ideas?

Code:
              elasticsearch::plugin{'elasticsearch/marvel/latest':
                       instances  => 'instance1',
                       url        => 'https://download.elastic.co/elasticsearch/marvel/marvel-1.3.1.

[2015-12-18 12:10] electrical commented on #511
@BurningTheSky when using ES 2.x you can't use that marvel version. You will need to use the one with the exact same version as ES it self.

[2015-12-18 12:27] BurningTheSky commented on #511
Ah ok, I am getting a bit confused of the best config. If I use the code below, which I assume should get the right version, I get another error.

Code:
                elasticsearch::plugin{'elasticsearch/marvel/2.1.0': module_dir => 'marvel', instances  => 'instance1'}

Error:
Error: Execution of '/usr/share/elasticsearch/bin/plugin install elasticsearch/marvel/2.1.0' returned 74: -> Installing

[2015-12-18 12:29] electrical commented on #511
Ah i see now. Can you change the name to 'marvel' ?
They changed how official plugins are handled and only require the short name.
The version is automatically detected based on the ES version.
See https://www.elastic.co/guide/en/elasticsearch/plugins/current/installation.html#_core_elasticsearch_plugins for details.

[2015-12-18 12:39] BurningTheSky commented on #511
Still no joy.

Code:
 elasticsearch::plugin{'elasticsearch/marvel': module_dir => 'marvel', instances  => 'instance1'}

Gives error:
Error: Execution of '/usr/share/elasticsearch/bin/plugin install elasticsearch/marvel' returned 74: -> Installing elasticsearch/marvel...
Trying https://github.com/elasticsearch/marvel/archive/master.zip ...
ERROR: failed to download out of all possible locations...,

[2015-12-18 12:43] BurningTheSky commented on #511
Should it be marvel agent in line with this url?
https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/marvel-agent/2.1.1/marvel-agent-2.1.1.zip

[2015-12-18 12:48] electrical commented on #511
Ah sorry yeah. so many changes :-)

[2015-12-18 14:53] BurningTheSky commented on #511
Making progress! That worked, using the agent parameter. It complained about there not being a license which is fair enough. I have the code below now and puppet ran fine with it but I still cant get to a marvel page using IP:5601/app/marvel, any thoughts?

elasticsearch::plugin{'marvel-agent': module_dir => 'marvel', instances  => 'instance1'}
elasticsearch::plugin{'license': module_dir => 'licen

[2015-12-18 14:56] electrical commented on #511
@BurningTheSky the marvel-agent part is only for the backend process to pull the data and index it. you will need the marvel web UI part for kibana to be able to view it.
Assuming you have installed that ( still working on kibana module btw ) then the kibana UI should work afaik.

[2015-12-18 15:17] BurningTheSky commented on #511
Ah ok, thanks for your continued assistance with my issues @electrical!

[2015-12-18 15:19] electrical commented on #511
You're very welcome. I'm closing this issue then.

[2015-12-18 15:19] #511 closed

[2015-12-18 18:41] ntent-ashton opened #531 "new module causes some plugins to try to reinstall, and fails"
http://fpaste.org/302874/04637661/

I haven't really found anything that would explain this - for some reason it downloads the plugin (why, I'm not sure -- since the specified version is already installed) and fails because the directory exists.

[2015-12-18 19:05] ntent-ashton commented on #523
Under identical circumstances, the new module version does in fact fail as expected, though not very explicitly.
http://fpaste.org/302883/65401145/

Changing Java version back to 1.8 resolved the issue.  Issue resolved - thanks!

[2015-12-18 19:05] #523 closed

[2015-12-19 19:51] mvintila opened #532 "Extremely slow puppet run on machines with lots of indices"
I am running the puppet module on a machine with about ~600G of logstash indices and the run takes upwards of 200seconds everytime. I have straced this to the fact that puppet recurses through the entire datadir, performing stat on evrery file.

The solution is to remove "recurse => true" from $instance_datadir file:
[code]

[2015-12-20 11:15] electrical commented on #523
I'll see if it's possible to get back the output from the command when it fails somehow.

[2015-12-20 15:13] electrical commented on #532
Hi,

I had to add it in case one decides to change the user. But i think it would safe to assume that once its setup the user will never change?
If so we can remove the recursive part indeed.

[2015-12-20 15:14] electrical commented on #531
Hi,

Could you run with --debug flag enabled? This should give some extra output of the provider it self.
thanks!

[2015-12-20 15:18] electrical commented on #528
Hmm, I've been unable to reproduce this so far in any of my tests.
I'll try to do some more debugging next week.

[2015-12-21 16:01] bilsch commented on #226
not sure if this is a separate issue or related. Using the plugins with ensure => latest does not reliably upgrade when elastic has changed. Is there some magic to determine the latest version of a given plugin for the version of elasticsearch running?

[code]

The previous version was 2.0. The rpm package upgraded but the service would not start due to license ( and then shield and others possibl

[2015-12-21 16:02] electrical commented on #226
@bilsch can you show me the puppet part for it?

[2015-12-21 16:03] bilsch commented on #226
@electrical just updated my comment with the hiera. is that what you were looking for? I'm just using the magical hiera plugins hash merge

[2015-12-21 16:43] electrical commented on #226
Ahh okay.
the license, shield and watcher have shorter names these days instead of the long names.
If you remove the 'elasticsearch' and 'latest' parts it should upgrade nicely.

[2015-12-21 23:55] gservat commented on #532
Thanks for reporting this! Not only is it slower, but it also creates massive YAML report files for the Elasticsearch nodes! We have quite a few, and each report is now over 4-5MB (as it recurses into every file in $instance_datadir), and there's a Puppet run every 10 minutes, so disk space fills up quickly. Definitely +1 to remove the recurse line.

[2015-12-22 00:11] gservat commented on #532
With recurse => true:

[code]

... with recurse => false:

[code]

[2015-12-22 08:42] electrical commented on #532
I'll do some tests to make sure it doesn't impact anything but i think it should be safe to remove indeed.

[2015-12-22 09:39] shaharlinial opened #533 "Ubuntu 14.04(Vagrant) - Fails to Install"
Hi,
Using the basic configuration from the documentation:
(I'm using Hiera so this is a wrapper class)
[code]
**Produces:**

    Error: Could not update: Execution of '/usr/bin/apt-get -q -y -o DPkg::Options::=--force-confold --force-   yes install elasticsearch=1.4.2' returned 100: Reading package lists...
    ==> default: Building dependency tree...
    ==> default: Reading state information...

[2015-12-22 09:42] electrical commented on #533
Hi,
By default the repo management is not enabled. See https://github.com/elastic/puppet-elasticsearch#repository

[2015-12-22 09:46] shaharlinial commented on #533
So passing
[code]
Suppose to solve this?

[2015-12-22 09:46] electrical commented on #533
Correct

[2015-12-22 09:47] electrical commented on #533
Oh, and please don't use 1.4.x  we are already at 1.7.x and even 2.1.x :-)

[2015-12-22 09:48] shaharlinial commented on #533
:+1: I'm using 2.0.0 but it was just for the sake of Copy-Paste.

Thanks for the reply,
IMO you should address this issue better, imagine that I've spent 1.5 days on it and nothing came from Google.

[2015-12-22 09:48] #533 closed

[2015-12-22 09:49] electrical commented on #533
ah okay. I thought it was already clear in the documentation :-)  I'll see if i can improve it

[2015-12-22 10:43] jecnua opened #534 "Running puppet cause a 'new' instance of es to start every time"
After upgrading to 0.10.1 from 0.9.9 of this module I noticed that every time I run puppet, a new instance of es is started, LEAVING the old one running.

Ubuntu 14.04
This module version 0.10.1
ElasticSearch version to manage 2.1.1

This is what happens if I run ti twice:

[code]

As you can notice there is the same reference to a pid file:

[code]
That obviously refer to only one of the two.
I t

[2015-12-22 10:46] electrical commented on #534
Hi,

That's very interesting. I run all kinds of acceptance tests on different distro's, including Ubuntu 14.04, and haven't seen this issue.
Can you reproduce the issue by using the init script it self?
The puppet module depends on the init script to send back the status and stuff.

[2015-12-22 11:11] jecnua commented on #534
Hi,

Yes I tried manually all permutation of restart, stop, status I could think of and it looks pretty... erratic.

This is the case of me killing the processes and try to start one manually:

[code]

[2015-12-22 11:13] electrical commented on #534
Hmm, interesting.. Could you kill all instances, remove the pid file(s) and try again?
Not sure if the init script gets confused about something.. I must admit i haven't seen this issue happen on any of my tests.

[2015-12-22 11:21] jecnua commented on #534
I delete the pid file and the wrapper was looking pretty stable...

[code]

But...

[code]

[2015-12-22 11:30] electrical commented on #534
That is very confusing :-( I'll see what i can reproduce with my integration tests against 2.1.1 and let you know.

[2015-12-22 11:32] jecnua commented on #534
Any help is appreciated. I will try to dig into it again. If you cannot reproduce it feel free to close this ticket, maybe it's somehow connected to my specific environment (it happens to all the nodes in the cluster I tried it however).

Regards,
F.

[2015-12-23 11:38] electrical commented on #534
Tried to reproduce it with my integration tests which do a few restarts but no luck so far. Very confusing.

[2015-12-23 11:39] electrical commented on #516
Closing due to no response. Can re-open if needed.

[2015-12-23 11:39] #516 closed

[2015-12-23 11:41] jecnua commented on #534
Thank you for trying. I will try to dig into the code if this module myself, maybe I can find it where this happens. Unfortunately the debug run doesn't help.

[2015-12-23 12:05] jecnua commented on #534
Found it! Is all about time!
If I start elasticsearch in one shell and run a restart in another soon after, I have two instances.
I found it by noticing that in the wrapper if you call:

and soon after

will say 'not-running'.

I you can check it in the code I pasted in this thread yesterday:

[code]

So if you have two calls close together that try a restart (example a restart and a puppet refres

[2015-12-23 12:28] electrical commented on #534
Ahhh okay.
With ES 2.x the plugin versions are directly coupled to the ES version.
I've built in the automatic upgrade but has only been implemented since version 0.10.0 of the puppet module.
So perhaps you could get rid of the custom thing?

Example of the auto upgrade: https://github.com/elastic/puppet-elasticsearch/blob/master/spec/acceptance/021_es2x_spec.rb#L165-L212

[2015-12-23 13:33] jecnua commented on #534
I was using 0.10.1 when I implemented the 'custom thing' (let's call it for what it is... hack).
But I always received this:

[code]
I can try again to see if it does update but I am not so optimist.

PS: I install es via deb option, not repo.

[2015-12-23 13:35] electrical commented on #534
How did you do the plugin puppet parts? I'm guessing there is an error there.

[2015-12-23 13:36] jecnua commented on #534
[code]

[2015-12-23 13:47] electrical commented on #534
Hmm, interesting.. the tests i did with ```elasticsearch::plugin{'cloud-aws': instances => 'es-01' }```
worked fine so far in my tests.
What it does on the puppet run is find out what the elasticsearch version is and if its not correct, uninstall the plugin.
Would you be able to do a --debug run to see what the plugin parts give back? it should say what ES version it found and stuff.

[2015-12-23 14:09] jecnua commented on #534
Sorry for the delay I needed to fix the last node before getting a new one to try the debug: :)
Here:

[code]

[2015-12-23 14:35] electrical commented on #534
Ahh. interesting.. I've only done tests with a single plugin so far, not multiple plugins when doing the upgrade.
Let me do that as well and see if i can reproduce.

[2015-12-23 15:07] electrical commented on #534
I managed to reproduce it reliably with 2 plugins. I've only done tests so far with a single plugin.
I also found out why its behaving this way and now trying to find a decent solution.
Will keep you updated around this.

[2015-12-23 15:12] jecnua commented on #534
Thank you :+1:

[2015-12-28 01:05] cliqrdevops opened #535 "How to configure for multiple elasticsearch nodes"
Hi,

I'm using the roles and profiles framework for puppet. I've a profile for elasticsearch as below:

[code]

This is working fine for one node. Now if I want to add another node `es-02`, how do I do this with the same config?

Thanks,
Siva

[2015-12-28 09:48] bastelfreak commented on #535
just set cluster.name to $::hostname or $::fqdn (I use the first one), than assign the profile to all nodes.

[2015-12-28 11:16] electrical commented on #535
each instance gets the hostname prefixed by default at https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/instance.pp#L124-L134
Since the instance name is unique per node that will be fine.
In your case you would get the following node names:

`es-01-es-01`
`es-02-es-01`

first part is the hostname, second is the instance name.
So you might want to choose a better instance name

[2015-12-28 18:50] devopsprosiva commented on #535
Thanks @bastelfreak @electrical .

@electrical I'm confused. What's the purpose of having an instance name if I can have unique hostnames for the elastic nodes?

[2015-12-28 19:42] electrical commented on #535
The instance name is the instance on that specific machine. That way you can have multiple instances on the same machine.
This can come in handy if you have very heavy machines or have a smaller cluster but want the master instance separate from your data node instance.

[2015-12-30 16:02] psychonaut commented on #532
Also with recent 0.10.1 version it fails with errors like these:

Error: /Stage[main]/Profiles::Elasticsearch/Elasticsearch::Instance[log-es03]/File[/data/elasticsearch]: Failed to generate additional resources using 'eval_generate': No such file or directory - /data/elasticsearch/kibana-logs/nodes/0/indices/heka-2015.12.30/2/index/_jjy.fdx

This is elasticsearch intance for logs so files are freq

[2015-12-31 12:22] nivrozen commented on #243
hi,

i know this is an old thread, but it seems like the issue still exists. getting this error on all my ES nodes:
Error: /Stage[main]/Elasticsearch::Webeyez/Elasticsearch::Instance[webeyez]/File[/data]: Failed to generate additional resources using 'eval_generate': No such file or directory - /data/webeyez/nodes/0/indices/.marvel-2015.12.31/0/index/_m4x.fdx

any clue how to resolve this?
thanks,

[2015-12-31 14:09] psychonaut commented on #532
I'd say: make it configurable, parametrize recurse with default true. Everybody's happy!

[2016-01-04 06:09] donovankim commented on #528
+1

[2016-01-04 10:32] electrical commented on #528
I still haven't been able to reproduce this.
Could you execute the -v and --version commands manually and see what happens? i wonder if it stalls there as well.

[2016-01-04 23:06] electrical opened #537 "init_template is not exposed correctly"
`init_template` is exposed in `init.pp` but its never used anywhere else.
in `instance.pp` we should pull the variable in and ensure we have the sane default in `init.pp`

Reported on IRC by acidrainfall

[2016-01-04 23:07] ntent-ashton commented on #537
+1 Thanks

[2016-01-05 08:29] siliconalchemy commented on #243
+1 started happening since I upgraded to ES 2.1.1 and latest git code for this module

[2016-01-05 08:46] siliconalchemy commented on #243
Changing recurse=>true to recurse=>false on line 214 in instance.pp (in file { $instance_datadir}), but that's probably not a correct fix.

[2016-01-05 10:33] electrical commented on #243
@siliconalchemy it most likely will be a good and i will most likely implement that soon.

[2016-01-05 10:47] jecnua commented on #534
Hi Richard, any update on this? Not to hurry you, just to know if for now I need to hack my way around it since I am getting closer to a deadline. :)

[2016-01-05 11:00] electrical commented on #534
@jecnua no solid solution yet.
So the problem is that the plugin manager code of ES doesn't only looks at the plugin you are trying to manage ( install, remove, etc ) but also to all other installed plugins.
So if you upgrade ES from 2.0.0 to 2.0.1 it requires a removal of all the plugins first before installing any new ones.
This is because if any plugin is still there for 2.0.0 the plugin manage

[2016-01-05 11:19] electrical commented on #535
Closing due to inactivity. If there is still an issue please open a new one. thank you.

[2016-01-05 11:19] #535 closed

[2016-01-05 11:19] electrical commented on #531
Closing due to inactivity. If there is still an issue please open a new one. thank you.

[2016-01-05 11:19] #531 closed

[2016-01-05 11:23] jecnua commented on #534
I understand. I will try to do that then, trying to avoid the double instance problem (it still happens when you restart es in a rapid succession).
I will look forward to remove my hack as soon as this is solved ;)

[2016-01-05 11:37] electrical commented on #479
Closing due to inactivity. If there is still an issue please open a new one. thank you.

[2016-01-05 11:37] #479 closed

[2016-01-05 11:39] #306 closed

[2016-01-05 14:28] gingerwizard commented on #528
Version 2.0 it errors and tries -version.
2.1 it hangs and thus prevents any further actions. Centos 6.5.

[2016-01-05 14:32] electrical commented on #528
Okay, regression bug in ES between 2.0 and 2.1 then :-(

[2016-01-05 14:51] jmjansen commented on #528
On 2.1, -v is a shorthand for --verbose, which does nothing for elasticsearch. The effect is, elasticsearch is started and is never to return unless you kill it manually.
Seems someone didn't care about backwards compatibility ...

[2016-01-05 15:46] electrical commented on #528
This makes it even weirder.. Did 2.0.x and 2.1.x tests on a centos 6 docker container with all my tests and it runs fine :-(
Something somewhere is causing this weird behaviour but i'm unable to reproduce it at all.

[2016-01-05 15:47] electrical commented on #528
for the record, the plugin provider runs elasticsearch as user root.
So -v should fail stating that running as root is not allowed and exit with a non zero exit code.
-version should give the right version.

[2016-01-05 15:48] electrical commented on #528
@jmjansen i assume you run puppet as user root as well right?

[2016-01-05 23:57] ntent-ashton opened #538 "Support GC Logging option"
Elasticsearch contains some logic to properly enable GC logging if ES_GC_LOG_FILE defined.

A "$gc_log_file" option in the module would be nice, that would then add `export ES_GC_LOG_FILE` if defined.

[2016-01-06 12:48] jmjansen commented on #528
@electrical, root is running puppet indeed. (And user elasticsearch is running Elasticsearch.)

[2016-01-06 13:51] electrical commented on #528
it seems that in some weird cases -v actually starts up Elasticsearch with 2.x as user root.
Currently trying out a different approach which might be more stable.

[2016-01-06 14:27] philipwigg commented on #528
Seems like it should always error as root unless ```es.insecure.allow.root``` is set?

https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/bootstrap/Bootstrap.java#L88-L94

[2016-01-06 15:20] electrical commented on #528
@philipwigg with ES 1.x it was allowed to use root, with ES 2.x it breaks indeed but its allowed to return the version number ;-)

[2016-01-06 15:49] philipwigg commented on #528
Yes, but I don't think 2.x will return a version number with ```-v```?
It will just quit with the ```don't run elasticsearch as root``` error and then the provider will retry with ```--version``` to get the version number?

I can reproduce the issue, i.e. get 2.x to hang at...

```Debug: Executing '/usr/share/elasticsearch/bin/elasticsearch -v'```

if I first ```export ES_JAVA_OPTS=-Des.insecure.a

[2016-01-06 19:30] ntent-ashton commented on #538
I'm planning on writing something to address this myself.

[2016-01-06 21:00] electrical commented on #528
@philipwigg that could be the possibility yeah. but we've also seen some other systems without that flag and it continues to run :-(

[2016-01-06 21:21] ntent-ashton commented on #538
Rather than writing it in as an option, it's better to add it into an init_defaults hash.  If `export ES_GC_LOG_FILE` is present in the init file, but has no value, GC logging is not enabled.  Only if there's a definition for the env var does it enable.

[2016-01-06 21:29] #538 closed

[2016-01-06 23:18] gingerwizard opened #540 "Templates fail when network.bind_host doesn't include loopback"
The templates are applied using localhost as the address.  Prior to 1.7 this worked. With changes in 2.0, the user is encouraged to specify the bind and publish host.  This is typically set to the eth interface and a specific IP.  This prevents ES from receiving queries on the loopback interface.  Template application therefore fails.

[2016-01-07 11:39] electrical commented on #540
Exposing a host & Port option would be sufficient with defaulting to fact ipaddress ?

[2016-01-07 11:43] electrical opened #541 "create init script but don't manage service when set to unmanaged"
reported in https://github.com/elastic/puppet-elasticsearch/issues/499 and https://github.com/elastic/puppet-elasticsearch/issues/482
When the module or instance is set to unmanaged it should still create the init scripting but not enable or start it.

[2016-01-07 12:02] electrical commented on #528
Okay. new solution :-)
`/usr/share/elasticsearch/bin/elasticsearch -version` will get the following on the different versions:

1.x:
[code]
The puppet command ignores the getopt stuff because thats via stderr and not stdout.

on 2.x:
[code]

This way there is only a single command to execute and always get the expected result. Until someone decides to change it again :-)

[2016-01-07 12:10] electrical opened #542 "Add retry to plugin installation provider"
Sometimes the installation of the plugin fails because of the internet.
Would be nice to retry it a few times to avoid many errors.

[2016-01-07 12:16] gingerwizard commented on #528
+1 great. thanks.

[2016-01-07 15:16] jmjansen commented on #528
Sounds good :-)

[2016-01-08 09:02] mnothic opened #543 "hiera issue"
I can't make it work with hiera, you have any documentation example of that in some place?

[2016-01-08 09:54] electrical commented on #543
Hi,

There are some small examples at https://github.com/elastic/puppet-elasticsearch/tree/master/spec/fixtures/hiera/hieradata that i use for testing.
This uses the hiera autobinding part.

[2016-01-08 10:49] electrical commented on #532
Created a PR to solve this.
The only reason the recurse option was added was that some tests failed. Should have solved the actual issue :-)

[2016-01-08 12:11] BurningTheSky opened #546 "Upgrading from 1.7 to 2.1"
Hey,

What's the cleanest way to upgrade from 1.7 to 2.1? When I tried using the absent method to uninstall it doesn't seem to work and the service breaks and won't start when I upgrade to 2.1?

Thanks

[2016-01-08 13:17] mnothic commented on #543
thanks a lot

[2016-01-08 13:17] #543 closed

[2016-01-08 20:41] electrical commented on #546
Hi,

When you change the `repo_version` and the `version` variables it should upgrade nicely in place.

[2016-01-11 11:41] driegel commented on #540
@electrical  No, it won't be sufficient to use the fact $ipaddress. My systems have several IP addresses:

public IPv4
(public IPv6)
cluster internal IPv6
localhost - depending on Linux distribution (CentOS 7 or Ubuntu 15.10) it points to IPv6 and/or IPv4!
::1
127.0.0.1

In In the Elasticsearch config it is possible to set 'http.bind' to multiple IP addresses and I usually use
\_local:ipv6\_ or th

[2016-01-11 11:47] electrical commented on #540
@driegel Thank you very much for your insight on this. Its very important to have these kind of details.
What would be to you a sane default for the host value which still can be overwritten of course.

[2016-01-11 11:59] driegel opened #547 "template validation"
This request is a feature enhancement. Template installation may fail as described in issue #540 .

Installing a template like this fails if elasticsearch does'nt use http.bind = ["127.0.0.1", ...]
[code]
The problem is, that puppet marks the template as installed in some internal state and won't fix it in a second run with proper host settings. (unless the template checksum has changed because it

[2016-01-11 12:00] electrical commented on #547
I'm planning to write a custom type & provider for this part as the current implementation is indeed fragile and fails in so many different ways.
Now i have more experience with it after writing the plugin type & provider it should be easier to do this for the other components.

[2016-01-11 12:04] driegel commented on #540
@electrical I feel, the proper way would be: find one IP address and port of (any) Elasticsearch instance on the system as a custom fact. That would be in elasticsearch::instance.

[2016-01-11 13:05] electrical opened #548 "Rewrite template define into custom Type & Provider"
To make things more robust and controllable it would make sense to write it into custom type and provider.

[2016-01-11 16:18] electrical commented on #547
Tracking it via https://github.com/elastic/puppet-elasticsearch/issues/548

[2016-01-11 17:02] crispygoth opened #549 "Installing elasticsearch from packages doesn't automatically install a JRE"
According to https://github.com/elastic/elasticsearch/issues/6163, the elasticsearch .deb packages were amended to not install a JRE by default. Unfortunately this means that trying to install Elasticsearch via puppet fails if you also try to install a plugin at the same time, because puppet tries to run elasticsearch to install the plugin and there's no JRE to run it with.

My puppet config:

[co

[2016-01-11 17:03] electrical commented on #549
Hi,

This is because by default i leave it up to the user. But I do provide a nice way to install java.
Please checkout https://github.com/elastic/puppet-elasticsearch#java-installation

[2016-01-11 17:12] crispygoth commented on #549
Ah, don't know how I missed that section in the docs. Just out of interest, would it be possible for the plugin resource to fail with a better error message if it can't find a JRE? I wasted ages trying to figure out what was causing this error!

[2016-01-11 17:14] electrical commented on #549
I'm afraid I only get an execution failure back which can be caused by different reasons and all i can report back is a failure.
I'll put it on the roadmap though to see if i can improve the failure reporting.

[2016-01-12 09:31] krzyzakp commented on #506
@electrical any update on it?

[2016-01-12 10:47] electrical commented on #506
I've been looking into this a bit closer now. sorry for the delay.
What i don't like is that you are defaulting the restart to null which i think breaks current behaviour.
If you don't want the module to do restarts you can set the `restart_on_change` option to false which doesn't do any restart actions.
Then you are able to implement your own restart method after that.
Would that be sufficient en

[2016-01-12 13:16] mfrancka commented on #532
+1

[2016-01-12 13:57] electrical commented on #549
Did some digging and there is no nice way to detect what is causing the error i'm afraid.
I do have some debug logging in there ( when using --debug flag ) that shows what version of elasticsearch it found.

[2016-01-12 13:57] #549 closed

[2016-01-12 13:58] electrical commented on #542
PR https://github.com/elastic/puppet-elasticsearch/pull/550

[2016-01-12 16:33] #528 closed

[2016-01-12 16:38] electrical commented on #542
merged

[2016-01-12 16:38] #542 closed

[2016-01-12 16:39] electrical commented on #532
Merged #544 which removes the recurse option.
The only reason it was there was to modify owner/group if someone would change user/group after the initial creation, but doubt that will ever happen :-)

[2016-01-12 16:39] #532 closed

[2016-01-13 13:38] #537 closed

[2016-01-14 01:26] alexharv074 opened #553 "should support optionally not managing $datadir"
Some people will be using LVM, mounted SAN storage etc for the ElasticSearch data directory, whereas this module assumes that it can make the data directory.  There needs to be a feature to optionally disable this.

[2016-01-14 01:30] bflad commented on #553
For what its worth, we generally set the elasticsearch data directory one subdirectory below anything we LVM/mount.

[2016-01-14 02:09] alexharv074 commented on #553
While there's nothing wrong with that, I still think the module should support use of a directory that was created outside of the module.

[2016-01-14 10:30] electrical commented on #553
Hi guys,

I've added the discussion label to get more input from others before making a decision on this.

[2016-01-14 13:38] #482 closed

[2016-01-14 13:38] #499 closed

[2016-01-14 13:38] #541 closed

[2016-01-14 13:40] alexharv074 commented on #553
@electrical well to get things moving I already submitted a pull request.

Please note that I am upgrading from both an earlier version of ElasticSearch and an earlier version of this module.  Seems like the earlier version of this module evidently didn't try to manage the $datadir?  Unless my colleague hacked it. :)

To me it's a no-brainer, of course the module should allow people to manage the

[2016-01-14 13:56] electrical commented on #449
Just a heads up.
I'm planning to add the directory option as a source.
having a tar file as source is a step to far at the moment @bflad i'm afraid you'll have to insert your own logic for that.

[2016-01-14 14:30] electrical commented on #456
Been looking into this further and it breaks current behaviour.
Not sure if I just should break it or have a flag for normal or deep merge the config hash?
Any idea's?

[2016-01-14 14:55] krzyzakp commented on #506
Yes, it's more than sufficient for us! We'll simply enable it. and whenever change config files use puppet built-in notify to launch our gracefull restart node by node.
Thanks for suggesting it, I have no idea, why I skipped it when digging in documentation.

[2016-01-14 14:55] #506 closed

[2016-01-14 15:18] electrical commented on #506
@krzyzakp no worries at all :-) shows i need to improve documentation ;-)

[2016-01-15 04:53] alexharv074 opened #557 "start script tries to run ES instance as root"
Am I doing something wrong?

When I try to start the ES 2.0 instance on CentOS, after configuring with the latest version of the Puppet module:

[code]

I see this thread here:
https://github.com/elastic/elasticsearch/issues/14458

[2016-01-15 05:40] alexharv074 opened #558 "dependency on CERIT-SC/puppet-yum"
A decision was made to implement package pinning.

Personally, I do not recommend using Puppet to manage package versions at all, and package pinning is therefore a feature many people will not use.

Unfortunately, it has introduced a dependency on the CERIT-SC/puppet-yum module.

The CERIT-SC/puppet-yum module has a score of only 3.8 on Puppet Forge, so many people will already be using either th

[2016-01-15 05:45] alexharv074 commented on #558
More on this issue http://stackoverflow.com/questions/30254335/how-do-i-deal-with-puppet-modules-with-classes-of-the-same-name

[2016-01-15 07:53] alexharv074 commented on #557
This was my mistake.  An old init template was being passed in and I didn't know.

[2016-01-15 07:53] #557 closed

[2016-01-15 08:30] electrical commented on #558
Hi,

Since the package pinning is enabled by default, not having that dependency will break default behaviour and causes bad initial experience.
If there is a better module that supports package pinning I'm happy to use it.

[2016-01-15 08:39] alexharv074 commented on #558
It's not a question of whether there's a better one; the issue there's no "standard" Puppet Labs yum module available.

For me to use this module, therefore, I would need to refactor large amounts of internal code to remove the yum module we wrote for ourselves.  But that yum module is a good module, doing everything we need it to do.  So I'd have no choice, realistically, but to fork this module

[2016-01-15 08:45] electrical commented on #558
We could copy it, but I'm planning to use the same thing in every module eventually. And what i don't like is having duplicate code everywhere.

[2016-01-15 09:07] alexharv074 commented on #558
I think that forcing anyone who wants to use this module to also use this project's preferred yum module is introducing a massive limitation on the software that far eclipses even loads of duplicated code.  Loads of sites will have written their own yum modules as we have.

How about this then: create a module elastic/elastic-yum with new class names that won't conflict with standard yum classes?

[2016-01-15 09:08] electrical commented on #558
Hmm, that might be possible yeah. Let me think about it.

[2016-01-15 10:09] alexharv074 commented on #558
I am more than happy to do the refactoring if you make a decision.

[2016-01-15 11:53] BurningTheSky commented on #546
Sorry for the delay in replying, what is the best process? Stop the service on the server, update the puppet config on the puppet master then run puppet agent to upgrade config on the server?

[2016-01-15 12:09] electrical commented on #546
Hi,

if you modify the puppet part you can run the agent indeed to upgrade it.

[2016-01-15 12:56] BurningTheSky commented on #546
I tried using the steps I wrote but the service seems to fail:

# service elasticsearch status
elasticsearch dead but subsys locked
# service elasticsearch restart
Stopping elasticsearch:                             [FAILED]
Starting elasticsearch:                             [  OK  ]
# Exception in thread "main" java.lang.IllegalStateException: unable to upgrade the mappings for the index [ds_doc

[2016-01-15 13:09] electrical commented on #546
Okay that is an actual error with your mapping. That's something I can't solve with the puppet module :)

[2016-01-15 13:09] ctrlaltdel commented on #532
This is great news, thanks @electrical for the fix!

[2016-01-15 13:21] BurningTheSky commented on #546
It is something that has been changed by puppet though as the service started before I tried to do the upgrade.

[2016-01-15 13:30] electrical commented on #546
If you upgraded to 2.x that could be the cause since there have been some large changes for the mappings.

[2016-01-15 13:55] BurningTheSky commented on #546
In that case, what is the cleanest way to uninstall ES? When I try the absent method and then put 2.1 on I get the same error as above, it feels like it isn't removing everything properly?

[2016-01-15 13:58] electrical commented on #546
It doesn't remove the data by default which contains the mappings etc. You'll need to set the module to absent and then remove the data directory manually.

[2016-01-15 13:59] BurningTheSky commented on #546
Ok, out of interest, what does setting to absent do?

[2016-01-15 14:05] electrical commented on #546
It should remove the package and service script. it leaves the rest in place.

[2016-01-16 10:37] electrical commented on #546
Closing as its an ES issue and not related to the puppet module.

[2016-01-16 10:37] #546 closed

[2016-01-18 10:29] #466 closed

[2016-01-22 03:18] alexharv074 commented on #558
@electrical  Perhaps there's an easier solution for the same problem in [lesaux/puppet-kibana4](https://github.com/lesaux/puppet-kibana4).  That is,
* remove the explicit dependency on CERIT-SC/puppet-yum
* recommend CERIT-SC/puppet-yum in the README
* also have the module fail with a helpful message if no class 'yum' is available
How does this sound?  Again, happy to implement if you're happy wit

[2016-01-25 08:00] #553 closed

[2016-01-25 10:52] Erikvv commented on #509
Perhaps you can document the "2.x" feature in the Readme or provide a better error message.

[2016-01-25 10:59] olliiiver commented on #509
Hi. Is the puppet module now compatible with ES 2.1.1?

[2016-01-25 11:02] electrical commented on #509
@olliiiver yes it is. make sure you use the latest version ( 0.10.2 )

@Erikvv the repo versioning changes is documented in the Elasticsearch breaking changes document See https://www.elastic.co/guide/en/elasticsearch/reference/2.x/breaking_20_plugin_and_packaging_changes.html#_repository_naming_structure_changes

[2016-01-25 11:07] olliiiver commented on #509
Great! Thank you.

[2016-01-25 18:07] Erikvv commented on #509
@electrical someone who installs elasticsearch with pupppet from scratch is not going to read the breaking changes, they will read the README.md

[2016-01-26 08:17] electrical commented on #509
@Erikvv very true. I'll see what i can do about it.

[2016-01-26 13:42] electrical commented on #534
Hi,

I've implemented a solution at #563 and merged.
This should solve the issue until its decently fixed in ES it self.
I'm planning to do a release next week Monday.

[2016-01-26 16:10] jecnua commented on #534
Thank you very much :)
It will allow me to remove an horrible exec from my module until we have a better solution.

F.

[2016-01-26 18:49] jsnod commented on #558
Just ran into this same problem.  We've rolled our own yum module, so ceritsc-yum won't install because of the naming conflict.  Which means elasticsearch-elasticsearch won't install because it is missing ceritsc-yum.

[2016-01-26 20:02] jsnod opened #565 "Plugins installed with wrong ownership"
I've just upgraded from 0.9.9 to 0.10.2 of this plugin, and it looks like https://github.com/elastic/puppet-elasticsearch/issues/107 has returned.  Plugins are installed/owned by root, which means they can't be read by the elasticsearch user when starting ES.  I was able to get around this by running the following manually:

`chown -R elasticsearch.elasticsearch /usr/share/elasticsearch/plugins/`

[2016-01-26 21:20] electrical commented on #565
Hi. I have some plugin tests and none of them have shown issues loading them in elasticsearch.
They are with the elasticsearch user but they should be readable by the elasticsearch user. Can you check the mode set on the directory and files ?

[2016-01-26 21:29] jsnod commented on #565
`/usr/share/elasticsearch/plugins` is owned by `elasticsearch` as expected, but `/usr/share/elasticsearch/plugins/marvel` is owned by `root` after the plugin installs.  Note, I am still on v1.7 of ES.  Here is the relevant part of my class:

[code]

To reproduce all I need to do is manually remove the plugin (`/usr/share/elasticsearch/bin/plugin -r marvel`) and then run `vagrant provision` to trig

[2016-01-27 08:43] electrical commented on #565
Did a quick check and everything has `-rw-r--r--` as rights. so everything is readable for everyone.

[2016-01-27 10:59] electrical commented on #278
Hi, sorry it took a while but it wasn't high on the priority list.
I've implemented this feature via https://github.com/elastic/puppet-elasticsearch/pull/566
Planning to do a release next monday ( Feb 1 )

[2016-01-27 10:59] #278 closed

[2016-01-27 11:01] electrical commented on #275
Hiya, will you be having time to work on this further? Worst case i'll leave this open for some one else to implement or when i have time.

[2016-01-27 11:06] electrical commented on #286
lost track of this issue. Its been solved upstream and in the module as well a while ago.

[2016-01-27 11:06] #286 closed

[2016-01-28 19:48] pricecarl opened #567 "Shield - key_file"
Hello,
I am trying to setup ElasticSearch via your puppet module.

However I have hit a problem and I'm not sure if it is with puppet or shield.
I have multiple nodes on a single server which puppet can do quite easily. The problem is when I try to install the shield plugin (via puppet) I get this error:

    java.security.AccessControlException: access denied ("java.io.FilePermission" "/etc/elast

[2016-01-28 21:32] electrical commented on #567
Hi. I'm afraid this is a known issue indeed.
I'm still searching for a workable solution. I do have som ideas that I want to try out.
Soon I'll have more time to dig into this.

[2016-01-28 21:59] pricecarl commented on #567
Hey, this works in es 1.7.1 though. What is the point of having the option shield.system_key.file if it just gets ignored?

[2016-01-29 06:53] electrical commented on #567
Hi. This is caused by the security manager that was introduced in 2.x for ensuring only certain paths can be accessed.

[2016-01-29 07:36] pricecarl commented on #567
Is there anything you can think of that I can try please?

[2016-01-29 08:08] electrical commented on #567
The only thing i can think of is symlinking the individual files. If i remember correctly that worked but haven't validated it my self.

[2016-01-29 08:55] pricecarl commented on #567
Ah let me try this, what I did was symlinked the whole shield directory.

[2016-01-29 09:27] pricecarl commented on #567
Nope that doesn't work either

[2016-01-29 09:28] electrical commented on #567
only other solution that might work is hard links instead of soft links. not sure what kind of impact that might have.

[2016-01-29 09:49] pricecarl commented on #567
yes hard links work, thank you very much :)

[2016-01-29 09:59] electrical commented on #567
Cool :-) I'll have to see if i can implement that in the puppet module as well.

[2016-01-29 17:19] pricecarl commented on #567
I've managed to get it working, now I'm no puppet expert (only been working with it a week) so this can probably be tidied up quite a bit. This is what I did:

development_node.pp

    if str2bool($platform::es_shield) {
    # License Plugin needs to be updated when we get an actual license
    profile::app::elasticsearch::license_plugin { 'license plugin install':
      instances => [
        'es

[2016-01-29 19:36] jsnod commented on #565
Just checked, and while the root plugin dir has the expected permissions, the individual plugin dirs do not:

[code]

[2016-01-29 20:42] ssm opened #568 "Instanced are created with insecure permissions"
Elasticsearch instances are installed with insecure file permissions,

A default install contains a possibility for the elasticsearch user to become root.

If someone gains code execution privileges on Elasticsearch, they can write to:

* config
* binaries
* plugins

…to gain persistence on the system.

They can also write to:

* init script
* systemd service

…to gain root privileges. Game over.

[2016-01-30 13:56] electrical commented on #568
Hi. Thank you very much for this detailed report.
The init / systemd file should be root which is a big mistake on my side indeed.
For some of the others I'll look at what the packages do by default and follow that.

[2016-01-31 21:47] Spredzy commented on #275
Heya @electrical, sorry for the lack of activity on this one. Unfortunately I won't have time in the near future to work on that issue, I agree on leaving it open if anyone wants to take it.

[2016-02-01 11:25] electrical commented on #567
hi @pricecarl it looks pretty good after a quick look.
I do see a few things that might cause problems later on.

1. Make sure all resources that are in defines utilize the `$title` variable so they are all unique. Otherwise you can get duplicate resource names.

2. In exec resources its best to add a check if the file already exists or not to avoid it being executed all the time.
Have a look at t

[2016-02-01 11:34] pricecarl commented on #567
Good points I will add these in now. Also need to add in links to the rest of the files, so role_mapping.yml etc.

I'll keep you posted.

[2016-02-01 11:36] electrical commented on #565
Hi,

I'll do some more digging into it this week.

[2016-02-01 14:15] LyndonArmitage opened #570 "Offline install of plugin doesn't seem to work as intended when specifying source"
When I try to perform an offline install of a plugin (on a CentOS 7 machine) using the `$source` parameter it fails to copy the given file to the swdl directory.

I think this could potentially be fixed by adding a [Before relationship](https://docs.puppetlabs.com/puppet/latest/reference/lang_relationships.html) to this [file resource](https://github.com/elastic/puppet-elasticsearch/blob/ff3ccb4e9

[2016-02-01 14:28] vide opened #571 "Recursion in the $instance_datadir makes puppet painfully slow"
Given a big instance datadir (one of ours for example is about 2.5TB), puppet spends a LOT of time (more than 5 minutes) just doing `stat()`/`lstat()` on all the instance's files.
Why is this needed? Do we really need to force ownership on this directory's files every time?

Do you need a PR? All you need to do is just delete one single line.

[2016-02-01 14:53] electrical commented on #571
Hi, this has been solved in version 0.10.2
Which version are you using?

[2016-02-01 14:54] electrical commented on #570
Ah, i must completely missed that when refactoring it. sorry about that. Will fix it for the next release.

[2016-02-01 15:39] vide commented on #571
Ooops, sorry, we are using an older one, I will upgrade right now. Thanks and sorry for the noise!

[2016-02-01 15:39] #571 closed

[2016-02-01 15:59] electrical commented on #571
No worries at all. I'm happy with any issue reports :-)

[2016-02-01 16:08] vide commented on #571
Ok, just for the record, now it works smoothly; before: 350 seconds, now: 11 seconds :)

[2016-02-01 16:11] electrical commented on #571
Nice! glad to hear the improvements.

[2016-02-02 02:45] chad-upton opened #572 "Just started to get this error. no parameter named 'ensure'"
[code]

elasticsearch.pp file
[code]

[2016-02-02 02:56] chad-upton opened #573 "Just started to get this error."
puppet agent version: 4.3.2
puppet server version: 2.2.1

[code]

elasticsearch.pp file
[code]

This seems to be an issue with the `file` type but can't find any reason why.

[2016-02-02 08:44] electrical commented on #573
Ah, interesting. Must be one of those puppet 4 changes i missed.

[2016-02-02 08:47] electrical commented on #573
Can you also tell me which version of the puppet module you are using?

[2016-02-02 09:04] electrical commented on #572
Duplicate of https://github.com/elastic/puppet-elasticsearch/issues/573

[2016-02-02 09:04] #572 closed

[2016-02-02 14:28] chad-upton commented on #573
The one from the forge.  The latest.  Oddly I only get this error on CentOS 6, my Amazon Linux distribution it doesn't happen.

[2016-02-02 14:38] drewhemm opened #575 "Invalid parameter install_options on Elasticsearch_plugin"
Started seeing this error message:

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Invalid parameter install_options on Elasticsearch_plugin[cloud-aws] at /etc/puppet/environments/prod/modules/elasticsearch/manifests/plugin.pp:138 on node search-es...

Seemingly as a result of this commit:

https://github.com/elastic/puppet-elasticsearch/commit/1dcdb39d2c9c28c66d4e09434

[2016-02-02 14:46] electrical commented on #575
Hmm, I'll have to take a look at this. I guess you are living on the edge and are using the master branch? :-)

[2016-02-02 14:49] electrical commented on #573
that's weird indeed. Could you rebuild your centos 6 vm?

[2016-02-02 14:53] drewhemm commented on #575
We were, although I have just updated our r10k Puppetfile to refer to the latest available tag (0.10.2) instead.

[2016-02-02 14:53] chad-upton commented on #573
I've rebuilt it 3 times, it's a vagrant box so easy to replicate.

Would you like me to make it public so you can try it?

[2016-02-02 14:54] electrical commented on #575
Okay. Ill run some local tests to see if i can find the culprit. As far as i can see its all correctly assigned.
Its possible that the custom type & provider isn't correctly synced to the clients, or that the master decided to cache the older version of the type.
Restarting the puppet master should solve that.

[2016-02-02 15:24] electrical commented on #575
ran local tests with the master branch and no problems so far. I guess its caching of the puppet master :-(

[2016-02-02 15:34] #570 closed

[2016-02-02 16:10] philipwigg commented on #573
Is it something to do with the quotes around 'directory' here?

https://github.com/elastic/puppet-elasticsearch/blob/0.10.2/manifests/package.pp#L49

Maybe you could try manually removing the quotes and seeing if that works? Seems like a Puppet bug though...

[2016-02-02 17:25] chad-upton commented on #573
So now I feel silly.  I fixed it by rebuilding my puppet server vagrant.

It seems somewhere along the way something didn't get mounted or wasn't available like it should have been after my laptop was put to sleep.

Thanks for the quick responses phillip!

[2016-02-02 23:09] electrical commented on #573
No problem at all. I'm glad you found the issue.  Always happy to help.

[2016-02-02 23:09] #573 closed

[2016-02-03 03:38] rmallah opened #576 "does not work with elastic search 2.1 or 2.2 in debian-8"
The manifest code below fails to  configure es-2.2 correctly.

[code]

Above produces following

[code]

On running the ExecStart as userid elasticsearch below error comes.

[code]

[2016-02-03 09:32] electrical commented on #576
Hi,

Which version of the module are you using?

[2016-02-06 11:21] alexharv074 commented on #558
@electrical ping

[2016-02-06 11:23] alexharv074 opened #580 "Exec timeout should default to undef"
The Exec timeout is defaulting to 600 whereas a user behind a slow network connection is likely to want to set an Exec timeout globally via

[code]

etc

[2016-02-06 11:33] alexharv074 commented on #580
Conversely, without this fixed up it means that to change the Exec timeout for all of these Elastic.co modules:

[code]

I hope that makes the motivation for this change a bit clearer.

[2016-02-08 17:35] electrical commented on #580
Hi,

I understand the reasoning but the Exec is used in multiple places and makes little sense to have a single overriding setting for all of them.
Having the variable makes it cleaner to set it per module.

[2016-02-08 17:35] electrical commented on #576
Closing after no activity.

[2016-02-08 17:35] #576 closed

[2016-02-08 17:35] electrical commented on #575
Closing after no activity.

[2016-02-08 17:35] #575 closed

[2016-02-08 17:37] electrical commented on #534
Hi,

This fix has been released today in version 0.10.3 Can you try it out and see if it solves your problem?
Thanks!

[2016-02-09 06:15] alexharv074 commented on #580
It does in fact make sense to disable the Exec timeout everywhere, even if, as you say, it disables Execs that have nothing to do with downloading software.

If a user ever hits an Exec timeout, in any context, their puppet apply will fail.  However, a puppet apply should never fail, ever.  If there's any real issue in the code, whether a slow software download or other slow command, it should be

[2016-02-10 17:30] jecnua commented on #534
I just went through a 2.2 update, so at the moment I have nothing to update to test it. Feel free to close this ticket, in case the problem is still there or present in another form I can open new one. Thank you for going all the way to solve this problem. :)

F.

[2016-02-11 05:02] thekad opened #584 "default DATA_DIR + path.data merging"
Using ES 1.4.2, this is very likely related to #280, briefly:

1. You have an instance, say, ``es01``, single non-default data directory i.e. ``/mnt/data/elasticsearch`` (automatically appends the ``es01`` as per instance)
2. You pass the above setting via ``config`` parameter to the ``elasticsearch::instance`` resource
3. You start your node
4. You check your node's FS stats and it turns out it's

[2016-02-15 01:12] alexharv074 commented on #580
Anyhow, probably best to close this if there's no interest in the feature.

[2016-02-15 01:12] #580 closed

[2016-02-17 23:45] ravinaik1312 opened #586 "java_install => true does not work as expected."
I am using the **latest version** of the module.

Below is my configuration file to set up a node with elasticsearch. The node does not have 'java' installed so as per the documentation I used the 'java_install' attribute, but the puppet run errors out.

**Config file:**
---
classes:
 -elasticsearch

elasticsearch::instances:
&nbsp;es-01:
&nbsp;&nbsp;config:
&nbsp;&nbsp;&nbsp;node.name: 'es-01'
&n

[2016-02-18 01:16] electrical commented on #586
hi, java_install is part of the main class, not of the instances part.

[2016-02-18 05:19] ravinaik1312 commented on #586
Yeah, that's what I thought and tried in the first place.

elasticsearch:
&nbsp;package_url: 'https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.2.noarch.rpm'
&nbsp;java_install: true

But since this doesn't work, I tried to incorporate that part in the instances part.

[2016-02-18 20:51] ravinaik1312 commented on #586
classes:
 - elasticsearch

elasticsearch::java_install: true
elasticsearch::package_url: 'https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.2.noarch.rpm'

elasticsearch::instances:
&nbsp;es-01:
&nbsp;&nbsp;config:
&nbsp;&nbsp;&nbsp;node.name: 'es-01'

Tried this, but getting an error

Error 400 on SERVER: Puppet::Parser::AST::Resource failed with error ArgumentError: Could

[2016-02-19 09:56] electrical commented on #586
Ahh. Seems you are missing the puppetlabs-java module for dependency. I wonder why its not installed. How did you install the elasticsearch puppet module?

[2016-02-19 17:35] ravinaik1312 commented on #586
So, it seems that if we were to include the java_install => true attribute, we got to have some puppet module that will have java installed on that machine. When I explicitly specify the puppetlabs-java module , java becomes available on that machine and there is no need to specify 'java_install => true'.

It is confusing because, reading the documentation I thought that if the machine does not ha

[2016-02-19 18:19] electrical commented on #586
Hi. You are partially right indeed. If you explicitly state that the java module is included for a node then it installs it and you don't need the java_install flag. But not everyone does or wants that so I added the flag to reduce the number of classes required to define.
Hope this makes sense.

[2016-02-19 18:26] ravinaik1312 commented on #586
Correct, but what if I do not specify the java (puppet)module? Initially, it was failing because I did not include a java (puppet)module and added the java_install => true attribute giving the above errors.

[2016-02-20 20:58] philipwigg commented on #586
I've added this to the requirements section of the README

[2016-02-21 21:55] joshuar commented on #586
Thanks @ravinaik1312 for the report and @philipwigg for the quick PR.  Merged.

[2016-02-21 21:55] #586 closed

[2016-02-23 12:09] jeanleonov commented on #182
I also experienced this issue on Ubuntu 12.04.
In my case **the problem was related to user rights**. When I start ES using `/usr/share/elasticsearch/bin/elasticsearch` it runs with privileges of my user. But script `/etc/init.d/elasticsearch` runs it as elasticsearch user which in my case hadn't rights to data folder.
**To find it out I ran**
`sudo start-stop-daemon --start --user elasticsearch -

[2016-02-24 17:16] simon77 opened #588 "class elasticsearch::package fails with strict_variables = true"
When running puppet apply with strict_variables = true class elasticsearch::package fails because $exec_environment is undef when not using a proxy.

`if $elasticsearch::proxy_url != undef {
            $exec_environment = [
              'use_proxy=yes',
              "http_proxy=${elasticsearch::proxy_url}",
              "https_proxy=${elasticsearch::proxy_url}",
            ]
          }`

The

[2016-02-25 00:24] bhuto opened #589 "Custom ES_MIN_MEM and ES_MAX_MEM values not propagating properly"
I am testing this module using a CentOS 6 Vagrant box and in my hiera file I have the following code:
[code]
This leads to the following default file for the 'master' instance, as expected:
[code]
However, on starting the service using `sudo /etc/init.d/elasticsearch-master start`, it starts with the default  '256m' and '1g' values.
[code]
My understanding is that this is because the script in /et

[2016-02-25 08:42] electrical commented on #589
Hi,

Best to use ES_HEAP_SIZE which should work fine, you don't need to use any of the other memory related settings.

[2016-02-26 05:38] jcochard commented on #567
Here's what I'm using to get around this currently.
[code]

[code]

[2016-02-29 16:16] RehanSaeed opened #591 "Template Fails with 'Parameter Source Failed...'"
I'm trying to add an elastic search template for filebeat:

[code]

However, I get the following error, any ideas what I'm doing wrong?

[code]

[2016-02-29 22:09] bhuto commented on #589
Sounds good. I asked around in our team and that meets our requirement too. Closing this.

[2016-02-29 22:09] #589 closed

[2016-03-01 11:38] RehanSaeed commented on #591
Answer [here](https://ask.puppetlabs.com/question/24528/installing-templates-with-puppet-elasticsearch-errors/).

[2016-03-01 11:38] #591 closed

[2016-03-01 22:50] cdenneen commented on #399
@electrical any update?

[2016-03-01 23:41] electrical commented on #399
@cdenneen I'm afraid I left the company a few weeks ago and someone else is taking over.

[2016-03-02 02:47] cdenneen commented on #399
@electrical thanks.

Do we know who this will be? Anyway we can get even the basics of these modules for shield and kibana published and public contribution help to work on them?(even if not a published module right away)
Problem right now with little insight into logstash 2.x support, beats, kibana, shield, etc people are left fending for themselves and hacking forks of these modules that majorly

[2016-03-03 16:23] tylerjl commented on #399
Hi @cdenneen, sorry for the delayed response here. The short story here is that @jarpy and I will be helping to further the excellent work @electrical has already done. As a prerequisite to diving into the guts of the module, we'd really like to give the CI/testing environment some love to get it back up to speed running through the thorough test suite for some confidence moving forward.

Once tha

[2016-03-03 22:25] cpitzak opened #592 "When putting Network.host in Config it Doesn't Show up in Elasticsearch.yml"
What am I doing wrong? I added network.host in the config but when running puppet on the client machine the network.host is not in the elasticsearch.yml

class { 'elasticsearch':
        version => '2.2.0-1',
}
elasticsearch::es01":
         config => {
           'http.cors.allow-origin'                  => '/.*/',
           'http.cors.enabled'                       => 'true',
           'http.c

[2016-03-04 17:33] tylerjl commented on #592
Hi @cpitzak, could you re-open this question on the [Elasticsearch Discourse forums](https://discuss.elastic.co/c/elasticsearch)? We can open an issue if we happen to find an actual bug in the module.

On the topic you create, could you also include the configuration files puppet creates in addition to your puppet manifest? You can tag me directly on the topic under the same handle (@tylerjl) to p

[2016-03-04 17:51] cpitzak commented on #592
Thanks for the quick response.

I resolved the issue I was having. It was on my side, the elasticsearch puppet module had no problems. My puppet master was failing and falling back on a cache copy of the last known working version of the manifest. I fixed the error and also ran with no caching on fail.

Thanks.

[2016-03-04 17:51] #592 closed

[2016-03-04 20:42] cpitzak opened #593 "Error Retrieving Facts"
Hi,

I'm having the following issue below. Note that I'm running puppet 3.x, I bring that up because I'm modifying a hash in the code below. I'm doing that because of time constraints, we are demoing at the end of this month. That part (line 2 below) will be updated later so please don't focus on that.

Thanks!
[code]

[2016-03-04 20:53] tylerjl commented on #593
Hi @cpitzak,

If you could move this question to the [Elasticsearch Discourse forum](https://discuss.elastic.co/c/elasticsearch) that would be useful to keep the issues here strictly for bug reports.

You can pull me into the new topic over at the forums by tagging my handle there (@tylerjl).

[2016-03-04 20:55] cpitzak commented on #593
k

[2016-03-04 20:57] cpitzak commented on #593
@tylerjl

I moved it here: https://discuss.elastic.co/t/elasticsearch-puppet-error/43554

Thanks

[2016-03-04 21:03] tylerjl commented on #593
Thanks!

[2016-03-04 21:03] #593 closed

[2016-03-05 00:01] cdenneen commented on #399
@tylerjl thanks for the update
I think as far as modules waiting for:
* shield
* kibana
* logstash 2.x and up support

(Put shield at top because figured would be quick win to get initial release out)

I left filebeats off this list for now because @pcfens has done great job of creating one and maintaining. So think besides the above list of missing modules the backlog of issues would b next of im

[2016-03-07 17:55] tylerjl commented on #399
@cdenneen yep, that aligns pretty closely to the pulse I've gotten from others as well. Hopefully we can pick up the shield work efficiently to keep it moving.

I'm currently knee-deep in CI environment work, but hopefully we'll have a fully functioning CI pipeline Soon™.

[2016-03-07 20:00] ssanden opened #594 "service for debian 8 with initV"
hi,

we use lxc with debian8 and that means the init system provider is "init" - not systemd!
i have trouble to set this up with the puppet-elasticsearch module in version 0.10.3. i tried to enforce the init provider or better yet to completely deactivate the service:

    class { 'elasticsearch':
        java_install      => false,
        package_url       => $elasticsearch_deb,
        status

[2016-03-07 22:43] tylerjl commented on #594
If you take a look at the lines around [defining the `service_provider`](https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/init.pp#L280), you'll see that the module is restricting the service module based upon what type of services the distribution supports (based on `params.pp`.) Debian 8 only supports systemd at the moment.

Right now, using init in place of systemd in Debian

[2016-03-07 23:37] ssanden commented on #594
thank you, for the quick response, @tylerjl
changing the params.pp did the trick - it now runs without errors. the (init) service also works out of the box when i tried manually. i therefore consider this issue as closed.

still, i would expect the service not to be touched - and especially not to fail - when configured as 'unmanaged'. since that may be of interest, you may want to consider adding

[2016-03-07 23:37] #594 closed

[2016-03-07 23:51] thekad commented on #584
Not sure why this is still open

[2016-03-07 23:52] thekad commented on #584
... because I got confused and this is the upstream issue, duh.

[2016-03-08 14:04] jecnua commented on #575
This problem just happened to me when using version 0.10.3.
Rolling back to 0.10.2 solved the problem.

[code]

F.

[2016-03-08 16:16] bflad commented on #575
In our environment, this wound up being caching on the Puppet master, which a restart fixed.

[2016-03-09 10:04] J-Zet commented on #182
Had the same problem, in my case JAVA wasnt able to allocate enough memory for itself.

[2016-03-09 11:43] joanmarcriera commented on #152
Same problem here .

[2016-03-09 12:59] muelli commented on #152
the problem is that the elastic people seem to be unwilling to respect that GNU/Linux hosts are indeed a platform that people run their ES instances on. At least they deem it not important enough to support the proxy use case as can be seen in the other bug report https://github.com/elastic/elasticsearch/issues/16633 which might also contain a workaround.

[2016-03-09 15:51] tylerjl commented on #152
What's unclear to me is whether the java property needs the `http.` prepended. According to [our docs](https://www.elastic.co/guide/en/elasticsearch/plugins/2.2/_other_command_line_parameters.html#_proxy_settings), the option is `-DproxyHost` for `bin/plugin`, but the [Java 7](http://docs.oracle.com/javase/7/docs/technotes/guides/net/proxies.html) and [Java 8](https://docs.oracle.com/javase/8/docs

[2016-03-10 15:16] mzhaase commented on #576
I have the same issue with the same exact configuration under 0.10.3

[2016-03-10 16:57] rmallah commented on #576
Really sorry for the late reply , at that time i was using the latest one .

On Wed, Feb 3, 2016 at 3:02 PM, Richard Pijnenburg <notifications@github.com

[2016-03-10 18:57] mzhaase opened #596 "Elasticsearch custom facts take extremely long"
[code]
Here is the config:

[code]

[2016-03-10 19:29] tylerjl commented on #596
The elasticsearch facts just talk to elasticsearch - the slowness may be coming from Elasticsearch itself.

On this same setup, what does the following look like?

    time curl localhost:9200{,/_nodes/es-01}

[2016-03-11 09:45] mzhaase commented on #596
That returns immediately:

[code]

[2016-03-11 12:09] alexharv074 commented on #558
@tylerjl Could I get an update here?  I looked into using CERIT-SC/yum as a replacement of evenup/yum module but the CERIT-SC/yum doesn't manage Yumrepo's, only provides helper functions.  So this module, basically, makes it impossible to have a class called yum that manages yumrepos.

[2016-03-11 12:42] gakhov opened #597 "Empty elasticsearch.yml"
After puppet deployment I constantly receiving empty `elasticsearch.yml` with the text:

[code]

At the beginning, I suspected the `datacat` module, but generated `logger.yml` (that also suppose to use datacat) looked fine, as well as generated  `/etc/default/elasticsearch-node`. Directory structure looks good too.

Any suggestions?

I use fresh Debian 7 on the target machine and my puppetmaster h

[2016-03-11 21:20] tylerjl commented on #596
Hmm, I'm kind of at a loss there, the elasticsearch facts are fairly straightforward and the only potentially long/IO dependent operations are just REST calls. I'd suggesting using `strace` to possibly track the execution of facter to find where it seems to be stalled on your system.

[2016-03-11 21:48] tylerjl commented on #558
I've been mulling it over and don't have a clear answer yet either. I do agree, though, that polluting the `yum` module namespace probably shouldn't happen for the reasons you've described.

Forking into `elastic-yum` isn't really ideal since it just compounds the complexity of keeping up with upstream, and removing the hard dependency would make it really obnoxious for new users when the module f

[2016-03-11 22:01] tylerjl commented on #597
Well, that's pretty weird. When I get a chance I'll try and do a puppet run with your manifest, in the mean time, is there any useful output from the datacat module if you run puppet with `--debug`?

[2016-03-12 00:30] cdenneen commented on #558
I think best solution is to approach the 2 upstream modules and work on merging them. Namespace conflicts are inevitable until we can pair down many many modules into the "approved" ones.

I don't see why either module maintainer wouldn't take a PR to combine the functionality.

[2016-03-12 13:56] alexharv074 opened #598 "versioncmp calls failing with Puppet 4 in CI system"
In params.pp we have some calls to `versioncmp`:

[code]

In Puppet 4 this is an issue as we have strictly typed variables and results in:

[code]

According to this thread [here](https://github.com/voxpupuli/puppet-mcollective/issues/266) we ought to fix this by forcing the fact to a string, since the versioncmp expects a string.

i.e.

[code]

[2016-03-12 14:18] alexharv074 commented on #598
PR raised https://github.com/elastic/puppet-elasticsearch/pull/599

[2016-03-12 15:02] #598 closed

[2016-03-12 16:30] alexharv074 commented on #558
Ok, for anyone else in a similar situation, here's what I've done, although requires Puppet 4.

- Create a profile::base::yum:

[code]

- Include that in profile::base

This allows us to define a Hash of Yumrepos in Hiera, ensure that purging is taken care of, and then CERIT-SC/yum can happily take over the yum namespace.

I feel a little uncomfortable about plagiarising the content of a very good

[2016-03-13 19:29] cdenneen commented on #558
@tylerjl Question... if I'm following this correctly the example42/yum actually has the versionlock support which is the only reason you were using cerit-sc/yum correct? So theoretically couldn't the dependency be switched and we no longer have namespace conflicts?

[2016-03-14 03:00] alexharv074 commented on #558
@cdenneen That might be a solution although it's still a backwards-compatibility breaking change, and still doesn't avoid the issue that we're forcing people to use a specific yum module, and most people will have a yum module that they're already using.

I still think the best solution is to remove the dependency altogether and make it clear in the docs that to use the version lock feature you ne

[2016-03-14 09:17] gakhov commented on #597
There is no errors from the puppet logs.

If I just re-run one more time the puppet agent it looks something like this:

[code]

If I remove the `/etc/elasticsearch/node/elasticsearch.yml` to force puppet to "fix" it, then before the output above there are also messages from datacat:

[code]

[2016-03-14 15:57] tylerjl commented on #597
I tried to reproduce the error and ran your manifest on a Debian 7 machine with the exact version matches for the modules you listed but didn't see the same behavior, unfortunately.

It's worth noting that `logging.yml` [does not use datacat to create the file](https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/instance.pp#L274), so it's likely that something is just broken with

[2016-03-14 16:03] gakhov commented on #597
Thank you. I will try to dig into datacat ...

I use Puppet `3.7.4` and Elasticsearch is installing from the official Elasticsearch repos (I don't use `manage_repo`, because I have another receipt to manage my apt sources, but these are exactly same repos)

[2016-03-14 22:17] jarpy commented on #596
There's a nasty trick that might be happening here. Even if you only ask Facter for one fact, it still runs them all. Example:
[code]

If you're running Facter 2, you could try `facter --timing` to see how long each fact takes.

Facter 3 doesn't have that option (curses!). If you're on version 3, it might be worth temporarily installing Facter 2 just to do the profiling, assuming that the problem

[2016-03-15 10:21] mzhaase commented on #596
I think I found the issue:

sudo strace -o ./facter_strace /opt/puppetlabs/bin/facter -p elasticsearch_9200_cluster_name

[...]
socket(PF_INET6, SOCK_STREAM|SOCK_CLOEXEC, IPPROTO_TCP) = 8
fcntl(8, F_GETFD)                       = 0x1 (flags FD_CLOEXEC)
fstat(8, {st_mode=S_IFSOCK|0777, st_size=0, ...}) = 0
fstat(8, {st_mode=S_IFSOCK|0777, st_size=0, ...}) = 0
connect(8, {sa_family=AF_INET6, sin6_po

[2016-03-15 13:18] tylerjl commented on #596
Excellent debug work, @mzhaase. Thank you for reporting your findings - hopefully this issue can help someone down the road if they run into a similar problem.

There's a question of whether to resolve this problem at the fact layer since we're making REST calls, possibly by fast-failing on unresolvable addresses, but I think that's best left at the OS level. Closing.

[2016-03-15 13:18] #596 closed

[2016-03-17 13:45] gakhov commented on #597
Finally, i figured out the problem (or the solution). The issue isn't related to elasticsearch module, but datacat somehow is affected.

In my case I just had outdated `puppet` client  `2.7.23` on the target machine (that came from the default `wheezy/main`):
[code]

So, I upgraded it from the `wheezy-backports/main` to version `3.7.2` and now everything seems to work!

[code]

[2016-03-17 13:45] #597 closed

[2016-03-18 00:25] ravinaik1312 opened #602 "Acceptance Test to check for idempotency with catch_changes"
Hi,

I am trying to run acceptance test for idempotency on a module that wraps around this puppet-elasticsearch module and failing to get them running.

[code]

Was looking to find examples on this repository but couldn't find tests with 'catch_changes' feature. Here is the order of execution

install --> instance --> plugin

The two runs produce different outputs for some reason.

## First Run
In

[2016-03-18 04:42] #602 closed

[2016-03-18 11:46] tobiasschaber opened #603 "empty elasticsearch.yml on ubuntu 14.04"
Hey guys,

I'm currenty trying to install elasticsearch with this great module on Ubuntu 14.04.
Before that, I've install it on CentOS 7.1, everything works fine and elasticsearch is installed and running without problems.

Now I tried to perform this installation on Ubuntu 14.04.
The installation process finishes completely without any errors, and elasticsearch is installed on the machine. But th

[2016-03-18 11:59] fennnec commented on #603
to update to puppet 3.8.6 you could use the official puppetlabs repository

deb http://apt.puppetlabs.com trusty main

[2016-03-18 12:58] tobiasschaber commented on #603
Hey!

wouldn't it be better if the installer fails if the installation can not be completed due to a missing or not correctly working software?

[2016-03-18 13:53] tylerjl commented on #603
Hey @tobiasschaber,

Yeah, it looks like a puppet version issue. For what it's worth, I'm running tests against 14.04 on puppet 3.8.6 and things work correctly.

Regarding installer failure, I agree with you, but the minimum required puppet version probably belongs in the [datacat module](https://github.com/richardc/puppet-datacat)'s metadata file to more accurately reflect what modules are compat

[2016-03-21 09:17] tobiasschaber commented on #603
Thanks @tylerjl and @fennnec  I got it running with puppet 3.8.6, and opened a ticket at the datacat project concerning the dependencies.

Kind regards,

Tobias

[2016-03-21 09:17] #603 closed

[2016-03-25 20:31] #534 closed

[2016-03-25 20:45] onibox opened #606 "Use 40 char repository key fingerprint."
Hi,

i know that this has already been requested in #445 and #480, but what about using the is_pe fact from puppetlabs/stdlib to differenciate between Puppet and Puppet Enterprise? You could even use pe_version, pe_major_version, pe_minor_version and pe_patch_version to decide when to use the short key fingerprint.

Would that be an option for you?

Cheers,
Fabian

[2016-04-08 08:48] eperdeme commented on #565
Same problem here after upgrading ES versions. Perms seemed fine prior to upgrading ES and all I did was tell it a new verison of the plugin + es.

[root@cxpxelk02mas001 ~]# ls -al /usr/share/elasticsearch/plugins/
total 16
drwx------. 4 root          root          4096 Apr  8 09:41 .
drwxr-xr-x. 8 elasticsearch elasticsearch 4096 Apr  8 09:41 ..
drwx------. 2 root          root          4096 Apr

[2016-04-11 23:15] ntent-ashton opened #610 "Inconsistent error: "invalid parameter install_options""
`Could not retrieve catalog from remote server: Error 400 on SERVER: Invalid parameter install_options on Elasticsearch_plugin[lmenezes/elasticsearch-kopf] at /etc/puppet/environments/development/modules/elasticsearch/manifests/plugin.pp:142 on node es-02-dev`

I really have no idea what is even causing this, or why it's only happening 1-4 times a day.  Line 142 in plugins.pp doesn't seem to actua

[2016-04-12 15:26] tylerjl commented on #610
Hey @ntent-ashton, I haven't run across this before, and the only reference to it in Puppet docs is in [reference to development and pluginsync](https://docs.puppet.com/guides/troubleshooting.html#err-could-not-retrieve-catalog-invalid-parameter-foo-for-type-bar).

In order to reproduce I'd need your distro (and distro version), puppet version, module version, whether you're on standalone puppet o

[2016-04-12 15:34] ntent-ashton commented on #610
Sorry, bad form on my part.

OS: CentOS 6.7
Puppet: 3.8.7, open-source
Module: 0.10.2
Elasticsearch: 2.3.1

We have an agent-master setup, with the additions of Hiera and Foreman.
The manifest itself is sizeable, but this is the code that installs the offending module:

[code]

There are other modules installed as well, but for some odd reason only elasticsearch-kopf is causing the issue.  And aga

[2016-04-12 15:37] ntent-ashton commented on #610
I searched for install_options in my entire puppet repo, only the apt, mysql, chocolatey, reboot, docker, types, and nrpe modules contain the string.

[2016-04-12 18:05] ravinaik1312 opened #611 "instance.pp fails to remove scripts directory"
I have a wrapper that wraps this elasticsearch puppet module. My module then calls the classes, functions of this module. Facing an issue where I am calling elasticsearch::instance, getting the following error

[code]

looking at [the code](https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/instance.pp#L284) and looking up what that error means and [documentation](https://docs.p

[2016-04-12 19:23] tylerjl commented on #610
I stood up a test environment with the specs you noted (aside from puppet 3.8.7, I used 3.8.6 as I don't think 3.8.7 exists yet :smile: ) but couldn't get the behavior to exhibit (tried several times after various combinations of server stopping/starting, moving manifests/modules around, and so on.)

As it stands I can't find a way to get it to reproduce, but if you can find some steps to get the

[2016-04-12 19:28] ntent-ashton commented on #610
Haha sorry, typo. I can't reproduce it myself, and I'm completely baffled as to why it's happening in the first place. I guess mark this closed for now and I'll just try redeploying the environment.

Sent from my Android phone using Symantec TouchDown (www.symantec.com)

-----Original Message-----
From: Tyler Langlois [notifications@github.com]
Received: Tuesday, 12 Apr 2016, 12:24
To: elastic/pup

[2016-04-12 19:29] #610 closed

[2016-04-12 19:39] tylerjl commented on #611
It sounds like your wrapper may be creating the `scripts` directory for some reason outside the scope of this module. `elasticsearch::instance` then sees the directory already there and doesn't remove it.

I'd prefer to avoid adding `force` to the `file { ensure => link }` resource in `elasticsearch::instance` since there's the potential for data loss here if someone is storing scripts in the dire

[2016-04-12 20:29] ravinaik1312 commented on #611
This makes sense, actually. I'm going to try to find the root cause for this and try your suggestion of prefacing the call with ```force => true```

Thanks!

[2016-04-12 23:21] jsnod commented on #588
Seeing the same with `$file_source` in `manifests/plugin.pp`.  The var only gets set `if ($source != undef)` but gets referenced in the `elasticsearch_plugin` call below.

[2016-04-13 20:29] #588 closed

[2016-04-14 18:17] ravinaik1312 commented on #611
Ok, I've tried some ways around with no success. Here is the order of execution for my module

Install ES -> Install plugins from RPM(it is directly a package install, so just extract the rpm and put it in plugins directory of elasticsearch) -> Configure instance(by calling instance.pp) which triggers the service restart.

Prefacing the call with ```file``` resource with ```force => true``` gives

[2016-04-14 18:46] philipwigg commented on #611
How about using a resource collector on that specific resource to add the ```force => true```?

Something like...

[code]

I haven't tested that though so it's syntax might be wrong. But something along those lines.

[2016-04-14 19:05] philipwigg commented on #611
In fact, a resource reference would probably work too. See https://docs.puppet.com/puppet/latest/reference/lang_resources_advanced.html#amending-attributes-with-a-resource-reference

[2016-04-15 10:53] MEPhoenyx commented on #565
Same with puppetmodule for elasticsearch v10.3 and Elasticsearch 2.3

Plugin Folder Owner is root not elasticsearch.

Result is:```
 Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Resource Statement, Could not autoload puppet/type/elasticsearch_plugin: Could not aut

[2016-04-21 16:04] cdenneen commented on #399
@tylerjl Any luck in releasing the beta for puppet-shield plugin?

[2016-04-21 16:30] tylerjl commented on #399
@cdenneen I'm happy to report I've been making lots of progress on Shield integration. I still need to put some work in on TLS management, but if anyone wants to offer feedback regarding design choices, please to check out the [branch diff](https://github.com/elastic/puppet-elasticsearch/compare/master...tylerjl:feature/shield-esusers) and let me know if the design pattern looks good from and end-

[2016-04-21 16:42] cdenneen commented on #399
@tylerjl awesome. Can you add realm support to that fork as well?
(http://blog.comperiosearch.com/blog/2015/08/21/elasticsearch-security-shield/)

[2016-04-21 20:17] tylerjl commented on #399
@cdenneen assuming you mean Active Directory realms, standing up a Windows test environments is obviously less straightforward than a Linux one. That said, I think at the very least managing the role mappings yaml file should be very doable now that I've written the native puppet provider for the yaml roles file. Again, I'm not sure what the most preferable way would be for people to define those

[2016-04-21 20:55] cregev commented on #399
Any update when the PR is going to be merged ?

[2016-04-21 22:46] tylerjl commented on #399
No ETA yet, but I'll be pushing updates regularly if anyone is anxious to watch progress.

[2016-04-22 13:41] dcroonen opened #616 "Error while evaluating a Resource Statement"
Hi

Since we upgraded our Elasticsearch Puppet module from version 10.0.1 to version 10.0.3 we are experiencing multiple times a day failed Puppet runs on our Elasticsearch servers. The failed message is always the same:

Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Reso

[2016-04-22 14:10] philipwigg commented on #616
At a guess, this was fixed in https://github.com/elastic/puppet-elasticsearch/commit/61a52fb740f930c003f2cc13be3e6ab29a2569fe but there's been no release since then.

Maybe you could try the latest master?

[2016-04-22 15:35] cdenneen commented on #399
@tylerjl sort of... the AD is just one option of a realm, you could use just about anything (LDAP, AD, OAuth, SAML, etc)... it's basically because of the custom realms (https://www.elastic.co/guide/en/shield/current/custom-realms.html) so esusers is just one realm...
In your fork if you can define type the realm it could handle esusers for the basic use case but then just about any other provider

[2016-04-24 13:14] vchepkov opened #617 "repo_version atribute doesn't work"
it doesn't look like repo_version attribute works for version 2.3.1
you have to set repo_version to '2.x' for this version to work

[2016-04-25 14:56] #617 closed

[2016-04-25 14:58] tylerjl commented on #617
I've clarified this parameter in b3d1bba. The change is an upstream decision, so the puppet module just respects the repository behavior.

[2016-04-26 23:22] mathiasaerts opened #618 "Config hash can't contain array of hashes"
I'm installing an ES plugin via puppet that uses a couple of parameters in the `elasticsearch.yml` file. Some of these parameters are supposed to be made up out of an array of hashes, like this:
[code]
This should result in the following yaml snippet:
[code]

However, when I added these parameters to the `config` hash that is passed to the `elasticsearch::instance` define, puppet threw me the foll

[2016-04-27 13:22] dcroonen commented on #616
I applied the fix manually and I can confirm this will solve the error. Looking forward to a next release. Thanks for pointing us in the right direction.

[2016-04-27 13:39] tylerjl commented on #616
Thank you for reporting back @dcroonen - I'll make sure to make note that the changeset fixes this bug in the release changelog. 👍

[2016-04-27 13:39] #616 closed

[2016-04-27 15:12] tylerjl commented on #618
I'd definitely prefer to have the erb template spit out the yaml without the newlines if possible. If you can get a PR together that has your change plus some tests for hashes in config arrays and everything is green, that's good enough for me. 👍  Thanks for taking the time to fix it!

[2016-04-28 15:05] mathiasaerts commented on #618
Fixing the newlines would take some more time. The problem is that only the first item of the hash should use different spacing. The hash inside the array is passed to the function again recursively, and there is no way of knowing if it was originally inside an array or not (unless we add an extra parameter to the method).

However, I've looked up the Yaml spec and found the example below:
http://

[2016-04-28 22:19] dforste opened #619 "elasticsearch plugin resource does not allow for JAVA_HOME to be set"
There is not a way to install a plugin when using a java install not in the path.

[code]

If I run `export JAVA_HOME=/path/java` before puppet the run completes without issue.

If I source the init defaults file like this it seems to work as well:

[code]

[2016-04-29 16:25] hanej commented on #619
Probably the best way to do this would be to source the /etc/sysconfig/elasticsearch defaults file before installing the plugin.

[2016-05-01 23:12] fgimian commented on #433
@electrical Hey there Richard, I'm afraid that we are still having an issue with this.

[code]

However, when I run the esusers command that ships with Shield, it creates configuration under `/etc/elasticsearch/shield` instead of `/etc/elasticsearch/client-node/shield`.

Any help would be greatly appreciated :smile:
Fotis

[2016-05-02 01:38] fgimian commented on #399
Would love to see this too, so that we can easily manage local Shield users and LDAP configuration with Puppet :smile:

For now, I'll write my own little module to manage these files.

Keep up the great work guys!
Fotis

[2016-05-02 02:24] fgimian opened #620 "Also clean up /etc/sysconfig/elasticsearch"
Hello there, I don't have my dev workstation setup to submit a pull request, but can you please also remove the default sysconfig configuration:

[code]

This helps avoid confusion and also resolves a problem with shield whereby it attempts to use the default instance when running the esusers command.

Thanks
Fotis

[2016-05-02 13:14] tylerjl commented on #433
Hi @fgimian, Richard has moved on from this module so I (along with other Elastic employees) are working on this.

Fully supported Shield resources are in progress in my [feaure branch](https://github.com/elastic/puppet-elasticsearch/compare/master...tylerjl:feature/shield-esusers) which you can preview. The **tl;dr** for Shield esusers operations is that I've altered the plugin resource to manage

[2016-05-03 19:41] dforste opened #622 "Cannot collect thread dumps when running under systemd"
I was unsuccessful at collecting thread dumps due to stdout being directed to /dev/null. This can be fixed by adding the latest systemd startup script. I created https://github.com/elastic/puppet-elasticsearch/pull/621 with the required changes.

[2016-05-03 23:15] fgimian commented on #620
I can see that this has other flow-on effects which are negative.  I'l close this for now but this particular Puppet module doesn't deal well with Shield which is a rather big problem.

[2016-05-03 23:15] #620 closed

[2016-05-03 23:17] fgimian commented on #567
The app desperately needs to support symlinks for this, hard links are prone to many issues.  Running the esusers command for instance (and manipulating users) creates a new inode and breaks hard links.

Symlinks would be a significantly more elegant solution here.

[2016-05-03 23:20] tylerjl commented on #567
@fgimian unfortunately symlinks just plain won't work with Elasticsearch's security manager; that's a matter for Elasticsearch upstream. See the [comment on this issue](https://github.com/elastic/puppet-elasticsearch/issues/433#issuecomment-216231207) for the approach I'm trying, which is to manage the roles/users in `/usr` and leveraging puppet to keep everything in sync.

[2016-05-03 23:23] fgimian commented on #567
Thanks @tylerjl, was just reading that thread actually 😄

Seems like a tricky problem to solve.  Symlinking ability would have made my and your life a lot easier, hehe.

Thanks a lot for your help!!
Fotis

[2016-05-03 23:24] fgimian commented on #433
Thank you so much for the tip about `--default.path.conf`!! I was trying to figure out how to override the config directory for esusers and couldn't find anything.  😄

[2016-05-04 16:33] cdenneen commented on #399
@tylerjl I see the mapping support in your fork... I think once the realm support is added to the elasticsearch.yml.erb this should be working, right?

[2016-05-04 16:40] tylerjl commented on #399
@cdenneen from what I understand, configuring realms is just a matter of defining the configuration in `elasticsearch.yml.erb`. If that's the case, you'd just need to set the `config =>` parameter in puppet as needed, so there isn't anything realm-specific the module needs (other than the mappings support.) Does that sound right? (this is helpful, I haven't done anything with AD in the past.)

[2016-05-04 16:54] cdenneen commented on #399
Yeah I'm guessing custom config block would work and result should look something like this:

[code]

Otherwise maybe an if condition and loop in the erb to do hiera lookup for all `shield::authc::realms` similar to https://github.com/jfryman/puppet-nginx/blob/master/templates/vhost/location_header.erb#L31-L45?

[2016-05-04 18:36] tylerjl commented on #399
I'd prefer to avoid hiera lookups in the erb [per Puppet Lab's recommendation](https://docs.puppet.com/hiera/3.1/puppet.html#dont-use-the-lookup-functions-from-templates), but defining realm configuration in hiera should be as simple as something like the following in a hiera yaml config:

[code]

The config on the `elasticsearch` class gets merged with instance configs so there's no need for hier

[2016-05-04 18:47] cdenneen commented on #399
Understood... makes sense... so what's left before your fork gets merged? Documentation updates?

[2016-05-04 20:42] tylerjl commented on #399
Just getting the tests clear, still some failures on different OS/puppet combinations... close, though!  😅

[2016-05-04 21:48] tylerjl commented on #325
Closing after inactivity.

[2016-05-04 21:48] #325 closed

[2016-05-04 21:55] tylerjl commented on #444
Closed in 3dd631455 - unfortunately, can't purge on OpenSuse due to no providers exposing that feature.

[2016-05-04 21:55] #444 closed

[2016-05-05 13:14] tylerjl opened #623 "Elasticsearch 5.x Support"
This issue serves as a central spot to enumerate compatibility fixes that need to be done to support the breaking changes in the 5.x series.
- [x] `bin/plugin` [changes](https://www.elastic.co/guide/en/elasticsearch/plugins/master/installation.html) (now under `bin/elasticsearch-plugin`)
- [x] Several tests use the `"string"` field mapping; `string` [has been replaced](https://www.elastic.co/guide

[2016-05-05 19:41] tylerjl commented on #399
PR open at #624, do provide feedback if there are any parts that need changing.

[2016-05-11 12:42] Exus opened #626 "Debian 8 'init' service provider"
Debian 8 is shipped with systemd, but it's possible to replace it by installing sysvinit-core package.
It's documented on https://wiki.debian.org/systemd page.

I'm not 100% sure, but it looks that systemd is hardcoded in params.pp, so there is no option to change it:

`    'Debian': {
...
      if versioncmp($::operatingsystemmajrelease, '8') >= 0 {
        $init_template        = 'elasticsearch.

[2016-05-12 15:54] AbrohamLincoln opened #629 "Shield ssl settings."
I'm attempting to add shield configurations to elasticsearch.yml that allow for client cert auth and I've been running into an issue.

From the docs I've determined I need two settings to meet my goals:
[code]

What gets written to elasticsearch.yml using this module looks like this:
[code]

From what I can tell both are valid yaml, but the second results in ES starting without ssl support.  I've

[2016-05-12 16:57] tylerjl commented on #629
Hmmm, I think this makes sense given that the erb attempts to break apart the configuration into a nested hash (i.e. `foo.bar: baz` becomes `{ foo: { bar: 'baz' } }`. The later config option pushes out the `ssl: true` key in that case since the hash key for `ssl` gets appended later.

There's two options here, since we can no longer assume that config file hash options are limited to leafs in the

[2016-05-13 19:05] tylerjl commented on #629
@AbrohamLincoln I've got a tentative fix in PR #630, any feedback?

[2016-05-13 19:31] tylerjl commented on #626
While I do think this would work, the default `$service_provider` parameter on `init.pp` is set to `init`, so making this change would mean **all** Debian 8 users would be forcibly moved to init. Making the change would therefore require some other fixes as well to default to systemd but provide init as an option.

[2016-05-14 09:55] rameshmimit opened #631 "Multinode cluster"
Seems like module lacking the setting up multinode cluster with different node names assigned to different instances on different servers.
Eg.

Server-1
Instance: es-01
nodename: hostname

Server-2
Instance: es-02
nodename: hostname

Current module does not have provision to assign instances names to different nodes. Below is my hiera yaml

[code]

In any cluster one might want to keep all the jav

[2016-05-14 13:08] fgimian opened #632 "Unable to set shield options when using SSL"
Hey guys, hope everyone is well.

@tylerjl was kind enough to implement initial Shield support, but sadly I'm encountering one rather important problem.

In our setup, we use LDAP authentication, so I set the following config in my instance:

[code]

However, as soon as I enable SSL like this:

[code]

My Shield settings are overwritten and I no longer have the ability to setup my LDAP authenticat

[2016-05-14 16:11] tylerjl commented on #631
Hi @rameshmimit, the ability to assign instances to nodes is outside the ability of the module to control, but you *should* be able to control that with hiera. You'd just need to define a hierarchy with whatever variables you're able to differentiate your nodes by (parts of the domain, a fact, etc.) and then either 1) create `elasticsearch::instance` resources on your nodes with `create_resources`

[2016-05-14 16:20] tylerjl commented on #632
Ah yep, this is a problem I overlooked, thanks for finding it @fgimian . For reference, I define the SSL/TLS configuration hash [here](https://github.com/elastic/puppet-elasticsearch/blob/995c1a9e92ead8cb33e5031e0a67cde8a5c49eb1/manifests/instance.pp#L284), then include it in the instance's config [in a merge function](https://github.com/elastic/puppet-elasticsearch/blob/995c1a9e92ead8cb33e5031e0a

[2016-05-14 16:26] tylerjl commented on #618
@mathiasaerts I don't know if you're still looking at this, but I've been considering replacing the [template yaml function](https://github.com/elastic/puppet-elasticsearch/blob/995c1a9e92ead8cb33e5031e0a67cde8a5c49eb1/templates/etc/elasticsearch/elasticsearch.yml.erb#L4) just entirely with puppet's native `to_yaml`, since other steps in the template already handle breaking up the dots in the conf

[2016-05-15 09:58] fgimian commented on #632
@tylerjl Thanks mate, you might also be able to use the [`deep_merge` function in puppetlabs-stdlib](https://github.com/puppetlabs/puppetlabs-stdlib/blob/master/lib/puppet/parser/functions/deep_merge.rb).

I think the manual approach is good too, and perhaps you could throw a `fail` if these keys have already been set by the user, so it's clear that you only do one or the other 😄

I'll be here to

[2016-05-16 16:24] 1n commented on #618
I'm also interested in resolving this issue.

I've spent some time to replace template yaml function with native to_yaml.
https://github.com/tylerjl/puppet-elasticsearch/compare/feature/merge_qualified_configs...1n:bug/array_of_hashes?expand=1

It works for puppet 3.8.0 and tests are passing.
But puppet > 4.0.0 has different YAML implementation.
While both versions render a valid YAML.

[code]
Wha

[2016-05-16 16:34] tylerjl commented on #618
@1n thanks for doing the work on that, the differences between 3/4 are especially annoying.

Honestly, as long as it's valid yaml, that's really all that matters, really. My gut feeling on this is that we should probably try and handle subtle differences in the erb template, and let the rspec tests stay the same to confirm our yaml rendering is taking care of whatever oddities Puppet comes up with

[2016-05-16 18:04] tylerjl commented on #632
@fgimian I think I've worked around this temporarily in 8f425f9, which I've added to an existing PR (#630) since that fixes some other shield config problems as well.

Fully-qualifying the tls config in the manifest isn't perfect, but I'm hoping to get some time to fix the root cause of these types of problems by controlling the configuration hash much more carefully so the behavior isn't as ambig

[2016-05-16 18:44] tylerjl opened #633 "RFC: Flattening Configuration YAML"
The module currently accepts configuration hashes of the form (for example) `{ 'path.data' => '/mnt' }` or `{'path' => { 'data' => '/mnt' } }`. This is good, since it allows for either fully-qualifying configuration options or passing in structured configs that could come from hiera, for example.

Because of the way Elasticsearch can consume configuration options, a yaml key can be be fully qualif

[2016-05-16 21:50] fgimian commented on #632
Great job @tylerjl, just checked out the PR and that should do the trick for now I think. I'm on leave this week so I won't get to really play with it until Monday mate, but feel free to merge if you're comfortable with it. 😄

Thanks so much for your help and support
Fotis

[2016-05-17 04:25] laf-rge opened #634 "Certificate Chain with Shield configuration"
My root CA has an intermediate CA that signs certificates. I would like the option to configure the shield store. I can see two alternatives to perform this based on some light reading of the java_ks documentation:
1. Allow the ca certificate to be a bundle (and have the shield module process each certificate in the PEM, it currently only looks at the first one in my testing)
2. Allow an array to

[2016-05-17 11:34] AbrohamLincoln commented on #629
@tylerjl Works for me.  Thanks!

[2016-05-17 13:07] tylerjl commented on #629
Fixed in #630 (merged)

[2016-05-17 13:07] #629 closed

[2016-05-17 16:24] tylerjl commented on #634
Based upon my reading [in the java_ks provider](https://github.com/puppetlabs/puppetlabs-java_ks/blob/master/lib/puppet/provider/java_ks/keytool.rb#L15), it's already attempting to read a chain from the certificate PEM, so this may be an upstream issue if java_ks isn't reading chains correctly. Have you tried re-ording the chain of certs in the PEM file? It sounds dumb but I've seen tools consume

[2016-05-18 01:10] laf-rge commented on #634
I tried different orders and they didn't seem to work. Looking at the debug statements it appears that only the first one was processed. This could be environment specific though.

I have configured things manually for now by creating a file resource for all instances and manually building the host specific keystore and copying them to the server manually. Then I apply the settings in a config sta

[2016-05-18 05:02] laf-rge opened #636 "shield role producing invalid YAML"
I could be doing something wrong but here is what I have:
puppet manifest:

[code]

This produces the following roles.yml:

[code]

Which doesn't parse and causes the following log in my elasticsearch.log:

[code]

[2016-05-18 05:10] laf-rge commented on #636
If I manually change the roles.yml to:
[code]

Things work as expected but of course my changes are overwritten at the next puppet run.

[2016-05-18 08:03] rameshmimit commented on #631
Hi @tylerjl

yeah kind of... However I have ditched the idea to use different instances for different nodes. I have used single instance name for different hosts. I have configured master and datanodes using hiera. Below are the related yaml files, may be useful for someone:

elasticsearchmaster.yaml
`classes:
  - elasticsearch
  - kibana
  - system
  - wget

# System Facts
system::facts:
  role:

[2016-05-18 13:14] #631 closed

[2016-05-18 13:29] tylerjl commented on #636
Yeah, this is the unfortunate ambiguity of yaml. In your case you want an array of hashes for `indices`, so wrapping the value for `indices` in brackets forms the yaml you want:

[code]
Creates:
[code]
Let me know if this fixes it.

[2016-05-18 15:18] tylerjl commented on #632
Closing with the merge of #630, the root cause of this (messy hash handling) will be tracked in #633

[2016-05-18 15:18] #632 closed

[2016-05-18 20:23] laf-rge commented on #636
Here is the result:

[code]

which does not work.

[2016-05-18 20:32] tylerjl commented on #636
Gotcha. Could you share what version of Puppet, Elasticsearch, and Shield you're working with?

[2016-05-18 20:35] laf-rge commented on #636
Elasticsearch 2.3.2
Shield 2.3.2
Puppet 3.7.2

[2016-05-18 22:07] tylerjl commented on #636
Just wanted to follow-up quickly that I did reproduce this, apparently Shield doesn't parse valid yaml and expects `name` to be the first key in the list of hashes in the roles yaml file. It's pretty annoying behavior, and because ZAML (yaml library in use in Puppet < 4) doesn't dump hashes in sorted form, the problem can be intermittent.

Given some of the other obnoxious behaviors of ZAML, I'll

[2016-05-19 08:08] mathiasaerts commented on #618
I did try this at some point before I changed the function in the erb template. However, the output wasn't what I expected, adding quotes around values if I remember correctly. Elasticsearch wasn't very happy with the generated yaml, so I decided to revert those changes. Maybe it was only a small issue, I didn't really look into it at that point.

I also think using `to_yaml` would be better, and

[2016-05-19 22:01] tylerjl commented on #636
@laf-rge alright, this was kind of a hairy problem but for your case it should be fixed in [my bugfix branch](https://github.com/elastic/puppet-elasticsearch/compare/master...tylerjl:bugfix/shield-roles-yaml-order), feel free to test it out if you want to try it. **tl;dr** yaml order matters for some shield `.yml` files, the patch monkey patches `each_pair` so ZAML gets key/value pairs returned in

[2016-05-20 04:11] laf-rge commented on #636
Great! Now:

[code]
produces:
[code]

Also we should update the Readme to reflect the proper way to encode the role (is it [{}]?).

I notice it takes two puppet runs for a config change to actually cause the roles.yml to write out. That could be peculiar to my environment.

[2016-05-20 10:24] mzhaase opened #637 "es.default.config remains in start script when upgrading from 1.x to 2.x on Ubuntu 14.04"
We had 1.7.5 installed on Ubuntu Server 14.04 with the following puppet conf:

[code]

There are more instances, which look pretty much identical so I omitted them.

Now we upgraded by changing the config like this:

[code]

This does not work however, the logs show:

`[2016-05-20 12:03:17,652][INFO ][bootstrap                ] es.default.config is no longer supported. elasticsearch.yml must be pl

[2016-05-20 16:53] tylerjl commented on #637
Thanks for the report, can I get what version of Puppet and version of this module you're running?

[2016-05-21 21:42] #636 closed

[2016-05-23 17:42] tylerjl commented on #433
This should be resolved with the 0.11.0 release; **tl;dr** the `/usr/share/elasticsearch/shield` directory is synced between instances since symlinking is unsupported in the java security manager.

[2016-05-23 17:42] #433 closed

[2016-05-24 01:40] fgimian commented on #433
Thanks mate 😄

[2016-05-24 08:05] mzhaase commented on #637
Hello,

puppet: 4.3.2
elasticsearch-elasticsearch: 0.10.3

[2016-05-24 14:36] tylerjl commented on #637
It looks like this was solved back in commit 194a2af:

[code]
According to git this should be solved in all versions since `0.10.0` - the string `default.config` doesn't exist in the module as of `0.10.3` so I can't figure out how it got in your init script. Did the module version change at some point, or maybe caching somewhere on the puppetmaster?

[2016-05-24 18:13] #618 closed

[2016-05-24 20:03] tylerjl commented on #487
Tried to reproduce this on CentOS 6 but couldn't get it to stall - if this is still acting up, please do attach steps to reproduce and I'll be happy to take a look and try to resolve it. Otherwise I think the timeout settings in the GET should be working.

[2016-05-24 20:03] #487 closed

[2016-05-24 21:05] tylerjl commented on #619
Just so I have a better understanding of the use case here, are you setting `JAVA_HOME` in via the `init_defaults` parameter on the elasticsearch class? It should be possible to set the environment variables in the provider when calling the `plugin` command by finding the right file that has the `JAVA_HOME` setting, I just want to be sure we're centralizing that information in the right place (I d

[2016-05-26 10:43] mzhaase commented on #637
Hello,

yes it was indeed an old cached version. Apologies.

[2016-05-26 10:43] #637 closed

[2016-05-31 21:07] drnr53 commented on #633
Currently running into this issue myself with the ssl example cited above, no objections here as our current non-controlled yml configs are in dot-notated form. Also, any temporary fix recommendations are welcome.

[2016-06-01 15:35] awegmann commented on #610
Hat the same issue here after updating from 0.10.1 to 0.11.0. (puppet 3.8.7, CentOS 6.7 on master, RedHat 6.7 on agent). Because I had the intuition, that this may be a caching problem I restarted the master (complete reboot of machine).
After reboot the problem disappears.
I know, this is not an explanation for the root cause, but maybe a hint for other people having the same problem. It looks li

[2016-06-01 15:36] AshtonDavis commented on #610
We tried that multiple times here, it unfortunately isn't a panacea

Sent from my Android phone using Symantec TouchDown (www.symantec.com)

-----Original Message-----
From: Andreas Wegmann [notifications@github.com]
Received: Wednesday, 01 Jun 2016, 8:36
To: elastic/puppet-elasticsearch [puppet-elasticsearch@noreply.github.com]
CC: Ashton Davis [adavis@ntent.com]; Mention [mention@noreply.github.

[2016-06-02 15:53] cdenneen commented on #399
@tylerjl using 0.11.0 and getting
[code]

[2016-06-02 15:56] tylerjl commented on #399
@cdenneen those types of errors crop up when the requirements for a provider haven't been met - my guess is that it comes from [this line](https://github.com/elastic/puppet-elasticsearch/blob/0.11.0/lib/puppet/provider/elasticsearch_shield_user_roles/parsed.rb#L17) which checks for the existense of the `users_roles` file.

Is `/usr/share/elasticsearch/shield/users_roles` on the target system? (ass

[2016-06-02 16:12] cdenneen commented on #399
@tylerjl no it doesn't exist there:

[code]
but does here:
[code]

[2016-06-02 16:56] cdenneen commented on #399
@tylerjl this is a fresh vagrant box (so cruft there).
Is there something in config hash I need to add in order for this users_roles to be created under /usr/share/elasticsearch/shield? This is 2.3.3 centos rpm install from managed repo

[2016-06-02 18:30] tylerjl commented on #399
So, my guess is that the `shield` directory exists there in `/etc` because the plugin was either installed 1) by hand or 2) by an earlier version of the module.

In version 0.11.0 of the module, any plugin installations should drop configuration files into `/usr/share/elasticsearch`, which helps to centralize the shield config files - earlier versions or running `plugin` by hand assumes your elast

[2016-06-06 21:04] bflad commented on #399
@tylerjl thanks for that last comment. In our environment we installed the shield plugin with an older version of this Puppet module and we needed to run this before running Puppet with the newer module: `cp -R /etc/elasticsearch/es-01/shield /usr/share/elasticsearch/`. Worked like a charm afterwards!

[2016-06-06 22:02] cdenneen commented on #399
@bflad thanks, I haven't had time to test.
@tylerjl guess my concern here is you can't always assume that this will be on a fresh install so I would suggest there be some method of cleaning up old shield plugin prior to new plugin install so this works if it's added to already built system? Maybe one running 1.7.3 and 0.10.0 of the module.

[2016-06-07 13:52] fgimian opened #640 "Perhaps offer the ability to manage the SSL cert for the Marvel agent exporter?"
Hello there, unless I'm mistaken, this module doesn't offer the ability to create and manage the SSL keystore for you in relation to Marvel exporting:

i.e.

[code]

(from [Configuring Marvel](https://www.elastic.co/guide/en/marvel/current/configuration.html))

I guess it's tough to really cater for all these scenarios, but I assume that most commercial customers like us will be using Marvel.

Wha

[2016-06-07 13:54] fgimian opened #641 "Ability to manage multiple CAs?"
Allo again, sorry for creating two issues in one day 😄

In certain circumstances (such as ours), we require 2 CAs to be placed into the truststore for us.  This is because we have:

* 1 CA we created ourselves for Elasticsearch and communication among nodes
* 1 CA provided to us for authenticating against our LDAP server

Is this something that could be supported or would it be a huge task?

Thank

[2016-06-07 14:17] tylerjl commented on #640
This is probably doable, all the module is really doing is wrapping some parameters around some java_ks resources using the [java keystore module](https://github.com/puppetlabs/puppetlabs-java_ks): https://github.com/elastic/puppet-elasticsearch/blob/9e8dd9c752a9064082f3cbbc510c089d7cbcfabd/manifests/instance.pp#L291-L307

The main reason this is useful for Elasticsearch instances is that the modu

[2016-06-07 14:21] tylerjl commented on #641
This should be possible, as the [module seems to indicate](https://github.com/puppetlabs/puppetlabs-java_ks#namevars) you just need to define multiple certificates for the keystore in question.

This will probably involve turning the `elasticsearch::instance::ca_certificate` into an array and then adding all those certificate paths to the keystore that gets built up for the instance.

[2016-06-07 14:25] fgimian commented on #640
Thanks so much for the reply Tyler 😄

Yea I'm not completely sure.  I do believe that this is at a per-instance level, however in our case at least, the Marvel hosts are all the same anyway and therefore have the same cert to use.

I will give it a go manually tomorrow and let you know how it goes 😄

[2016-06-07 14:27] fgimian commented on #641
Cool, I can give that a go and see if passing an array does the trick with the current codebase.  I'll keep you posted on this and perhaps we can add a note about it to the docs if it works 😄

[2016-06-08 11:40] fgimian commented on #641
Hey buddy, sadly this doesn't work for me:

e.g.

[code]

Output:

[code]

Any ideas?
Fotis

[2016-06-08 12:28] fgimian commented on #641
Looks like this won't work mate, you need multiple `java_ks` definitions, one per CA or cert.  As such, I think it's best if I just manage my own keystore due to my more complex requirements.  This also allows me to share the ks with my Marvel instance since the certs are the same.

Huge thanks for your help.  If you have nothing else to add, feel free to close this one off 😄

[2016-06-08 13:52] tylerjl commented on #641
Sorry, I wasn't clear - I meant we'd have to modify the module to accept multiple certificate PEM files, but if you're happy just managing the keystore files manually, then that's totally fine as well. Given that `java_ks` is a dependency of this module now, using it should be pretty straightforward since it gets pulled in already.

Let me know if the situation changes for you (or anyone else foll

[2016-06-08 13:52] #641 closed

[2016-06-08 20:01] sasskinn12 commented on #634
As i understand you want to add "many" CA certs into keystore? I suggest it doint as i do. So in module use intermidiate Ca cert and you can add toplevel certificates after that using java_ks (copy them on server as files beforoe): eg.
       java_ks { 'puppetca:keystore':
          ensure       => 'latest',
          certificate  => '/etc/pki/tls/certs/ca_certs/CA',
          target       => '/et

[2016-06-09 14:34] brettswift opened #642 "Remove hiera_hash in favour of lookup()"
Any hiera functions prevent you from moving to the new puppet lookup() function.

When moving to the hierarchy in modules,  you have to turn off 'classic hiera'.

Classic hiera uses:  hiera(),  hiera_array(),  hiera_hash().

The new version uses lookup().

This would change

`hiera_hash('elasticsearch::plugins', $::elasticsearch::plugins)`
to:
[code]

Happy to submit a PR on this - unless anyone k

[2016-06-09 15:01] cdenneen commented on #399
@tylerjl There must still be a ordering issue here.
I rebuilt fresh box using 0.11.0 and it worked... made some modifications, destroyed my vagrant boxes, went to rebuild and got the same
`==> eslogmd: Error: Could not find a suitable provider for elasticsearch_shield_user_roles`

Here is the output of those directories as before:

[code]

Only large difference is I changed the default `elasticsea

[2016-06-09 15:26] tylerjl commented on #642
Hey @brettswift, I don't think this is underway in any issues or PRs, so feel free to take a crack at it if you'd like. I haven't played around with `lookup()` vs. `hiera*()` before, but as long as it's supported across the versions the module supports and tests pass, I'm  👍. Thanks for the help!

[2016-06-09 16:03] cdenneen commented on #399
From the clean run here are the errors in order received:

[code]

Only other thing I can think of is the $es_instances APL for the profiles?
Anything you'd like me to try next?

[2016-06-09 16:37] brettswift commented on #642
It seems like this was introduced into puppet 4.3.

According to the metadata.json file here,  the module still supports 3.2 on PE. (which I think was puppet 3.6 or something).

Is there a version / timeline to leave puppet 3 behind?

[2016-06-09 17:25] tylerjl commented on #642
No timeline right now. In the meantime one option could be handling lookup()/hiera() calls based upon the puppet version fact - it's definitely uglier than just deprecating 3.x but it'd be immediately doable.

[2016-06-09 17:30] tylerjl commented on #399
Ah, so the plugins aren't getting installed. That'll definitely cause problems. The specific error comes from [this `scan` call](https://github.com/elastic/puppet-elasticsearch/blob/0.11.0/lib/puppet/provider/elasticsearch_plugin/plugin.rb#L146) which is scanning the string looking for the [ES version](https://github.com/elastic/puppet-elasticsearch/blob/0.11.0/lib/puppet/provider/elasticsearch_pl

[2016-06-09 19:31] brettswift commented on #642
Good idea,   I thought the compiler would see the function and fail if it wasn't available, even if it wasn't going to execute it in that run.. however a quick test proves me wrong!

I am currently doing inventory of all the things we'd have to refactor to get to the next version of hiera.. so you may not see this PR immediately.   I'll see what I can do.   Thanks!

[2016-06-09 20:41] cdenneen commented on #399
@tylerjl I think the issue might be i have some class parameters in `profile::elasticsearch` for elasticsearch and some in hiera like `elasticsearch::java_install: true`.
Can you not mix parameters like this?
I have deep_merge on in hiera.yaml if that helps.

[2016-06-09 21:45] cdenneen commented on #399
@tylerjl merging wasn't happening because of a typo... so that is fixed and now java is installing so rest is working... just getting odd start error and nothing getting logged to any logs:

[code]

[2016-06-10 01:05] tylerjl commented on #399
Progress! 🏁

What shows up in the Elasticsearch instance's logs in `/var/log`? If the systemd status output doesn't have anything, there's bound to be something in some of the separate instance logs...

[2016-06-10 05:42] peske opened #643 "Plugin install fails with "No such file...""
I've tried installing [dejaVu](https://github.com/appbaseio/dejaVu) plugin by using `elasticsearch::plugin` class, but it has ended with the error:

[code]

At first I've thought that it is about the plugin itself, and wanted to report the problem there, but when I've tried to install the plugin directly, without puppet, it was successful:

[code]

So obviously the problem is with puppet-elasticse

[2016-06-10 13:29] cdenneen commented on #399
All the logs are 0 bytes. Need to manually execute to debug I'm afraid.
On Thu, Jun 9, 2016 at 9:06 PM Tyler Langlois <notifications@github.com>
wrote:

[2016-06-10 17:43] cdenneen commented on #399
@tylerjl looks like it's this init_defaults parameter:

MAX_LOCKED_MEMORY: 'unlimited'

Any idea why?

[2016-06-10 17:51] tylerjl commented on #399
I found some [discussion about this in the past](https://github.com/elastic/elasticsearch/issues/9357#issuecomment-187133623). It looks like the [unit file itself explains what you need to set](https://github.com/elastic/puppet-elasticsearch/blob/0.11.0/templates/etc/init.d/elasticsearch.systemd.erb#L14) if you've configured mlockall to be true and instruct ES to lock all memory - basically, you n

[2016-06-10 18:05] tylerjl commented on #643
Interesting issue! Thanks for reporting.

I actually think I know what the problem is - when puppet manages the plugin, it creates the `.name` file to track the plugin metadata for puppet to use later. Based upon what I'm seeing, it may actually be trying to read it in the `dejavu` directory (note the case) but the plugin is installed within a directory with the fancy `dejaVu` case you're seeing.

[2016-06-10 23:09] peske commented on #643
You've probably right that it is about the case. Regarding my environment: pretty much newest in everything:

- ElasticSearch 2.3 (or 2.3.3? the latest definitely since I've installed it yesterday)
- ElasticSearch Module 0.11.0
- Puppet Agent 4.5.1
- Puppet Master 4.5.1
- Both ElasticSearch and Puppet server are running on Ubuntu 14.04.4
- dejaVu Module - the latest again

My manifest:

[code]

`$

[2016-06-11 13:20] cdenneen commented on #399
@tylerjl are you sure?
It says if set to 'unlimited', as I do, it will write out 'infinity' in the unit file.
Am I reading that condition correctly?
Maybe worth checking with ES team that 'infinity' actually works?

[2016-06-13 20:10] tylerjl commented on #399
@cdenneen do you have a distro and version so I can try and emulate what you're seeing? I tried setting up an instance with the same mlockall and MAX_LOCKED_MEMORY settings in CentOS 7 but didn't see the same behavior.

[2016-06-14 09:16] laurikari commented on #34
I know this issue is long closed, but just ran into this three years later.

Due to a flurry of errors being logged, one of the servers in our cluster had generated several gigabytes of logs, nearly filling the disk.  Now, 3 months later, the disk actually did run out of space, resulting in a failure of the node.  Fortunately, the cluster survived, and the node recovered after freeing up space.

M

[2016-06-14 13:56] tylerjl commented on #34
Sorry about the rotation issues, @laurikari. Like electrical mentioned, the module does have logging.yml management in it now, although rotation in the sense of a file for `logrotate.d` isn't.

The [upstream elasticsearch repo](https://github.com/elastic/elasticsearch) is the place to discuss packaging (look under the `:Packaging` label for related issues). Based upon what I've read to get some co

[2016-06-14 15:51] cdenneen commented on #399
@tylerjl `CentOS Linux release 7.2.1511 (Core)`

sysconfig
[code]

systemd
[code]

Looks like it's doing what it needs to but when the MAX_LOCKED_MEMORY is set in the init_defaults the systemctl status shows:
[code]

and the logs are all 0 bytes:

[code]

I've created a gist with all puppet and hieradata if it helps: https://gist.github.com/cdenneen/e43be80ed3c429c94e2f30767ef603b0

[2016-06-14 18:44] tylerjl commented on #399
I got an instance up and running with the sysconfig and yaml config you've got, so I'm not really sure what could be happening. I'd suggest maybe bumping up the logging verbosity level to see if you can get Elasticsearch to spit out any additional information, as from the Puppet side everything seems to be writing configurations correctly.

[2016-06-14 21:50] cdenneen commented on #399
Setting instance to DEBUG leaves me with these in the log file:

[code]

[2016-06-14 22:25] tylerjl commented on #399
I doubt it - maybe try disabling it across the board and seeing if that fixes things; if so, we can try and determine which access violations are hindering service startup.

[2016-06-15 14:20] laurikari commented on #34
Thanks @tylerjl!  I'll take this upstream.

[2016-06-15 20:32] cdenneen commented on #399
I've narrowed down the issue to the following lines:
[code]
These are what cause
[code]

If I leave everything else but remove those 2 lines... it works fine.
MAX_LOCKED_MEMORY=unlimited is still in the defaults... the infinity in the systemd is still there...

[2016-06-15 21:15] tylerjl commented on #399
@cdenneen this is probably outside the scope of this ticket at this point - if you want to post a summary of what you've got so far on https://discuss.elastic.co/c/elasticsearch, we can probably get more eyes on it and pull in some ES devs if we need to.

[2016-06-15 21:21] cdenneen commented on #399
@tylerjl thanks... opened support case

[2016-06-16 15:44] cdenneen opened #647 "License file install"
Do you have any WIP for installing license file with install?

[2016-06-16 15:56] tylerjl commented on #647
No plans currently.

My understanding is that the installation process is [one REST call](https://www.elastic.co/guide/en/shield/current/license-management.html#installing-license), which could be contained within a single `exec` resource. It's one of those weird cases where the resource you're defining in Puppet controls something that isn't host-specific, so every time the resource runs on `n` h

[2016-06-16 16:27] cdenneen commented on #647
I think it's useful and I understand it's not host specific but neither is templates in that case.

so the `@license.json` would need to be reference to the license parameter passed to the type no?
Seem like a pretty simple addition I would think based on your description above.

[2016-06-16 17:35] tylerjl commented on #647
It would probably take the form of a custom type/provider to cleanly handle the REST/JSON aspects of the API, but yes, it would be a pretty simple resource.

I'll add the feature tag for now so we can track the request. Understand that there are some other pressing items that need to get resolved in them module (the yaml config and conflicting keys, etc.) but I'm happy to add it to the backlog.

T

[2016-06-21 01:53] lfacchinelli opened #648 "Manage Shield with Hiera"
Hi guys !
I've using your module at work a couple of days ago and seems like you cannot use shield with hiera.
So I made a few tweaks on the code to be able to use hiera.

May I create a pull request to solve this issue ?

[2016-06-21 02:31] tylerjl commented on #648
Certainly! Just check out [CONTRIBUTING.md](https://github.com/elastic/puppet-elasticsearch/blob/master/CONTRIBUTING.md) to help get you started. Any tests you write to help validate the functionality you're adding would be a great help as well.

Thank you for your willingness to contribute! 👍

[2016-06-21 10:14] chris1879 opened #649 "No support for path.repo for managing snapshots"
Hi!

There is no puppet support for the "path.repo" setting. We would need it for creating
ES snapshots. It should be part of the elasticsearch.yaml (like data, or logs) or as a parameter for the daimon process.

https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html

best regards
Christian

[2016-06-21 11:16] cdenneen commented on #648
@lfacchinelli I'd be interested to know what you mean. I'm using hiera for almost everything.

[2016-06-21 12:15] lfacchinelli commented on #648
@cbuescher And are you using hiera to set shield user and roles ? Without touching anything in the module ?

[2016-06-21 12:20] cbuescher commented on #648
@lfacchinelli just got mentioned by you, maybe by mistake? Not sure what this discussion is about really, sorry.

[2016-06-21 12:24] lfacchinelli commented on #648
@cbuescher UPS! my bad !

@cdenneen The original post was for you :-)

[2016-06-21 13:17] tylerjl commented on #649
Hi @chris1879,

Every setting in the `elasticsearch.yml` config should be settable with the `config` parameter, so controlling `path.repo` would be a matter of:

[code]

Or as a parameter on an  `elasticsearch::instance`, depending on how you're configuring instances.

Does that meet the requirement you're outlining here, or am I misunderstanding the feature you're describing?

[2016-06-21 14:07] cdenneen commented on #648
@lfacchinelli yes in my profile::elasticsearch I'm just creating those resources from hiera.

[2016-06-21 14:15] lfacchinelli commented on #648
@cdenneen Can you show me an example ? Probably i'm doing it wrong

[2016-06-21 14:18] chris1879 commented on #649
Hi tylerjl,

I think this is it, what I have ment. Thanks for your explaining.

best regards

[2016-06-21 14:22] #649 closed

[2016-06-21 15:15] brettswift commented on #642
There is a nicer workaround here:

https://tickets.puppetlabs.com/browse/HI-518

If that doesn't work I'll send in a PR to use the new lookup function if it's available.

I'll leave the state of this ticket up to you if you want to close it or keep it for tracking etc..

[2016-06-21 15:26] cdenneen commented on #648
[code]
[code]

That's probably the quickest example...
I usually use naming like:
[code]
for cleaner naming but you should get the general idea.

[2016-06-21 15:49] lfacchinelli commented on #648
@cdenneen Well , in that example you are coding in order to support hiera.
My post was about including hiera support by default, without coding anything else.

[2016-06-21 16:03] cdenneen commented on #648
I do hash lookups in order to merge across hierarchy, which doesn't work with APL.
If you use:
[code]
it does it without the additional hiera_hash lookup because its explicit in the APL.
You are going to have to include the class and types somewhere in code (hopefully a profile) so this is where it gets done.
if your suggesting adding `elasticsearch/manifests/shield/users.pp` which contains basica

[2016-06-21 19:56] tylerjl commented on #642
If the workaround ends up working for you and you're happy with the solution, feel free to close this issue. If you need to PR something, go ahead and we can close this out once that's done. 👍

[2016-06-21 22:08] brettswift commented on #642
Will do. Thanks
On Tue, Jun 21, 2016 at 13:56 Tyler Langlois <notifications@github.com>
wrote:

[2016-06-22 08:22] hansmi opened #650 "Network host of "::" leads to invalid YAML"
Setting `network.host` to `::` (the IPv6 bind-all address) causes `elasticsearch.yml.erb` to write YAML in a format Elasticsearch can't parse.

Puppet configuration:
[code]

Result in configuration file:
[code]

Error message:
[code]

[2016-06-22 08:35] hansmi commented on #650
For my specific case I could work around the issue by double-quoting:

[code]

[2016-06-22 13:28] tylerjl commented on #650
Thanks for the report @hansmi, that's a little unexpected but makes sense.

I don't think there's a bug anywhere in the elasticsearch.yml template or in the to_yaml code, but I agree that the behavior is unexpected from a user perspective.

We could probably try and catch odd yaml formatting, though it'd be a very case-by-case basis and the code would have to look pretty specifically for tokens ha

[2016-06-22 22:02] tylerjl commented on #584
Hey @thekad, I'm in the process of cleaning up the acceptance test suite and in fixing up the tests, this bug actually resurfaced on all the Debian operating systems that still use SysV init. Your bug sniffing was way ahead of the automated test suite. 😉

What's interesting to me is that [the SysV script for Debian defines `DATA_DIR`](https://github.com/elastic/puppet-elasticsearch/blob/master/tem

[2016-06-23 12:39] hansmi commented on #650
@tylerjl, wouldn't it be more sensible to serialize strings per the YAML specification rather than including them raw?

See, for example, what Python does:
[code]

[2016-06-23 13:31] tylerjl commented on #650
@hansmi yes, though I forgot to take into account what version of the module you're using. The changes in #635 change the template to use the native `to_yaml` rather than the custom yaml generation code, which should actually quote special values like `::` (at least it did so in the test I ran).

The updated yaml template code hasn't been released yet, but it's on `master` so feel free to verify w

[2016-06-24 16:00] tylerjl commented on #648
As @cdenneen has noted, making a call to `create_resources` is similar to how I've consumed hiera structures in the past for defined types. Thanks for the clarification, btw. 👍

@lfacchinelli do you have an example of what you're proposing would look like is the `create_resources` approach doesn't work for you? There's always the option to add a parameter to the elasticsearch class like `elasticse

[2016-06-24 21:58] thekad commented on #584
Hi @tylerjl,

Yeah I think that sounds fine, having them both behave consistently seems like a good idea to me :)

[2016-06-24 22:01] tylerjl commented on #584
One issue that came up in testing this change is that since the `/var/lib` directory isn't being appended to the list of data paths, there's the potential here for the change to happen, peoples' ES gets restarted, and shards are missing part of their data path since `/var/lib` isn't being appended to Debian configs any more.

Is a big disclaimer in the release notes sufficient notice for people, o

[2016-06-27 07:23] hansmi commented on #650
@tylerjl, we're using version 0.11.0, the latest release as of this writing. I can confirm that current master (revision `ccb59c6`) quotes the string properly:

[code]

As far as I can tell this issue can be considered fixed once this changed quoting behaviour is part of a release.

[2016-06-27 21:03] tylerjl commented on #305
Closing as the original `ensure => absent` issue regarding repo version downgrading will be resolved in #652, and there's not a clear ask regarding `ensure => absent` as it relates to defined types since, by definition, we don't know the define/instance names to remove unless `absent` is set on the instance (as opposed to a global `absent` on the class).

[2016-06-27 21:03] #305 closed

[2016-06-28 12:38] #584 closed

[2016-06-29 15:52] trevor-vaughan opened #653 "elasticsearch::config has a non functional path"
This line https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/config.pp#L42 is invalid since elasticsearch::service is now a define.

I'm not sure if you meant to actually make it a define as it makes it *extremely* difficult to trigger service restarts.

Also, the elasticsearch::service class (if it should be that) should `contain` the subclasses so that any external notificatio

[2016-06-29 16:10] trevor-vaughan commented on #650
You might also want to try adding square brackets around your entry and testing that. This is the standard method for identifying ipv6 addresses and will also generate invalid YAML. The suggested patch should fix the issue but both scenarios should be tested.

[2016-06-29 18:57] tylerjl commented on #653
Good catch; I actually came across this while refactoring `restart_on_change` in a feature branch I'm getting ready to merge. I [fixed it in there](https://github.com/tylerjl/puppet-elasticsearch/commit/45bf57db4cd0378b5888b46ad22b921c09118379) so it should be landing in master once it's ready.

In regards to the second item regarding notifying instance services, do you have an example of what you

[2016-06-29 19:06] trevor-vaughan commented on #653
If I'm making changes that require ES to be restarted, say something like updates to SELinux contexts on  relocated data directories, I need some way to restart *all* of my instances without knowing what they are (i.e. if you're generating them via Hiera).

[2016-06-29 19:09] tylerjl commented on #650
Agree with the comments here; FYI I've added a small test to the template unit tests to verify that the template to_yaml code properly quotes IPv6 values in fa88347a4.

[2016-06-29 19:14] tylerjl commented on #653
Would the above example using resource default statements

[code]

Work in that case? Defining the resource default doesn't require knowledge of the instance names beforehand and should let you subscribe to any arbitrary resource you want to watch (I don't _think_ the plussignment operator needs to be used here). It may need to be defined somewhere early in the manifests before `create_resources`

[2016-06-29 19:16] trevor-vaughan opened #654 "Instance hash merges are non-deterministic on EL6 systems"
On line https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/instance.pp#L377 using puppetlabs-stdlib 4.8.0, the merge of the passed hashes are non-deterministic.

This is using the latest system Ruby 1.8.7.

With this, the results of /etc/elasticsearch/simp/elasticsearch.yml based on the simple call to elasticsearch::instance { 'simp': } causes the following output to flip at ran

[2016-06-29 19:19] trevor-vaughan commented on #653
No, this would not work because the Elasticsearch::Service defines don't propagate to the internally called defines.

So, for instance, you have Elasticsearch::Service::Systemd. This would not get a notification based on the suggested code and this is what *actually* needs to get the notification.

[2016-06-29 19:34] tylerjl commented on #653
Hmm, so I tested this on CentOS 7 and Ubuntu 14.04 (systemd and SysV init, respectively). The following manifest:

[code]

Properly restarted the elasticsearch service with each `puppet apply` (not just the top-level defines but the actual system service and ES process). I could understand if it wasn't notifying if the defines were including classes at any point, but it's `define`s all the way dow

[2016-06-29 19:59] tylerjl commented on #654
Eugh, that's a gross bug. I reproduced this on `master` on CentOS 6 with the following:

[code]

It flips basically every time. I'll probably work this into the configuration hash refactor as a part of #633 when I change `elasticsearch.yml` to be flattened.

If anyone needs a workaround in the interim, note that defining configs without different hash structures makes the keys consistent, i.e. rep

[2016-06-29 23:51] trevor-vaughan commented on #653
My fault, I had a bug that was causing an issue. Wrong and loud on the Internet points +1!

Thanks

[2016-06-30 00:14] trevor-vaughan commented on #654
Your workaround is functional but is probably going to mess up people using Hiera stacks to push their data in.

Will look for the upcoming fix.

Thanks for being so responsive!

[2016-06-30 21:23] tylerjl commented on #633
For all those interested, I've got a branch cooking in CI for this, [you can see the diff here](https://github.com/tylerjl/puppet-elasticsearch/compare/master...fully-qualified-config-yml). The user-facing side of this (for Puppet) should be the same - the only change is how the configuration hashes are transformed internally and written in the configuration file. Behavior in regards to merging ar

[2016-07-01 22:03] tylerjl commented on #540
I played around with this a little bit, and I think the current state is ok given that `elasticsearch::template` has parameters for `host` and `port`. While having the resource "autodiscover" a listening IP/port combination to talk to is nice in theory, there's even more potential for chaos down that route since 1) the resource doesn't know which instance to talk to on multi-instance machines (unl

[2016-07-01 22:07] #226 closed

[2016-07-03 18:25] #365 closed

[2016-07-04 09:06] driegel commented on #540
@tylerjl I would agree with you on this. The default behavior is documented, go ahead and close this issue.

**HOWEVER**, I wonder if it would be possible to have the host/port default documentation earlier in the template section, because it is so easy to miss it at the bottom. Maybe we could have something like this:
[code]

Thanks!

[2016-07-04 19:34] #540 closed

[2016-07-04 19:35] tylerjl commented on #540
Thanks for the input, I've added clearer documentation in 338e5c0. Cheers! 👍

[2016-07-05 14:58] tylerjl commented on #363
Completed as of #655, will be part of the 1.0.0 release.

[2016-07-05 14:58] #363 closed

[2016-07-05 14:59] tylerjl commented on #336
Changed all default restart_* parameters to `false` in #655, changes will be part of the next release (1.0.0).

[2016-07-05 14:59] #336 closed

[2016-07-05 15:13] tylerjl commented on #653
Relevant dead line removed as of #655

[2016-07-05 15:13] #653 closed

[2016-07-06 18:02] tylerjl commented on #456
Should be functional as of #656.

[2016-07-06 18:02] #456 closed

[2016-07-06 18:04] tylerjl commented on #633
Change implemented in #656.

Note that the only difference to the aforementioned ^ comment is that I pulled the `concat_merge` call that concatenated arrays together, as this wasn't the way it behaved before, so I'm erring on the side of old behavior for now. If it ever becomes a need for people, we can always just change the `merge` call if needed (the puppet function is still there).

[2016-07-06 18:04] #633 closed

[2016-07-13 10:15] sysgen commented on #152
For reference, it appears to work fine with the protocol prefix (https in this case) and an authenticating proxy:

[code]

[2016-07-14 17:01] cdenneen opened #659 "Multi instance broken?"
@tylerjl Just curious, as I thought I had this working, but it seems that multiple instances isn't working on same server anymore.
When I start "service elasticsearch-master start" elasticsearch-data dies (and vice versa).
ES version is `2.3.3-1`
OS is `CentOS Linux release 7.2.1511 (Core)`
puppet module is `0.11.0`
puppet version is `4.3.2`

Here are my configs, it might be stupid mistake on my p

[2016-07-14 17:20] tylerjl commented on #659
I'm somewhat out of office at the moment, but I can think of a few places to look. As far as I remember, I've done 2.3.3 on CentOS 7 successfully in the past. Puppet should be managing the service via systemd units, so what are you seeing under `systemctl status $service` or the instances' logs?

[2016-07-14 17:54] cdenneen commented on #659
Yeah it worked for me too at one point so that's why I'm not sure what happened recently.
Yeah the "service" just redirects to systemctl.
Logs don't show anything because when you start the "other" the current one just gets killed so nothing logs... which seems true with the systemctl status `failed (Result: signal)`. So I originally thought maybe they were sharing same pid file... but the init_de

[2016-07-14 21:25] tylerjl commented on #659
Indeed; the `KILL` is weird there. Anything in the ES logs?

[2016-07-15 01:09] cdenneen commented on #659
No since it is a KILL 9 it doesn't log anything.
On Thu, Jul 14, 2016 at 5:25 PM Tyler Langlois <notifications@github.com>
wrote:

[2016-07-15 03:51] bisscuitt commented on #643
I'm having this same issue, but with a differetn module. It seems that the module dir is not being correctly auot detected.

[code]

The plugin is `org.wikimedia.elasticsearch.swift/swift-repository-plugin`
[code]

Based on the name of the plugin, the puppet module is expecting the module dir to be `swift-repository-plugin` however, the dir created after the install is `swift-repository`:

[code]

[2016-07-15 08:58] skade commented on #648
I'm not sure how much benefit that would add. e.g. we have automated password management on top of all that, so we will load from both hiera and a password store. I see no issue with having retrieval from hiera and create_resources be two lines. The approach of speaking directly to hiera also means a hidden interaction in the background.

[2016-07-18 08:17] shine60vn opened #661 "File mode error with puppet 4.5.2"
Hi guys, I got an error when trying to run `puppet apply`

I guess there are many people here who tested `puppet-elasticsearch` with puppet 4.5.2. Anyone faced this issue before?
Below is my manifest, very simple and basic ;)
[code]

[2016-07-18 12:48] tylerjl commented on #661
Thanks for the report, @shine60vn. What OS/version are you on, and what version of the module is this occurring with?

[2016-07-18 12:58] shine60vn commented on #661
Thanks for your reply, @tylerjl . I'm using Ubuntu 14.04 Trusty and latest version of module 0.11.0. I faced with this problem on every module which use `file` resource type and without explicit `mode` attribute not only `elasticsearch` module.

[2016-07-18 13:06] tylerjl commented on #661
Thanks. The error messages makes sense, but within the context of this module I'm confused why it's being raised. 0.11.0 doesn't pass any explicit calls to `mode =>` with integers, strings are used everywhere already, so I don't even know where in the code a changed to quoted numbers would be necessary. Do you perhaps have a resource default somewhere in your manifest (like `File { mode => 755 }`)

[2016-07-18 13:22] shine60vn commented on #661
I have the same thinking with you, the error should not be thrown because I did not define any resource default parameters like you mentioned. I've also tried to add `File { mode => "0644"}`, it did not work, too. Which version of Puppet 4 have you tested?

[2016-07-18 18:38] tylerjl commented on #661
I just ran a test on Ubuntu 14.04, using version 0.11.0 of the module on puppet 4.5.2 and your manifest worked successfully for me in a VM environment.

At this point I'm not really sure where the problem may lie. Unless there's some reliable way to reproduce what you're seeing, it may be some part of your environment that's configured in some odd way?

[2016-07-18 19:30] tylerjl commented on #659
I reproduced your environment in a VM and got things to work. The only things I had to tweak a little were the network settings: since you're binding to an ethernet interface (`_enp0_`), I had to add the IP that address was listening under to `/etc/hosts` (since the service won't respond over 127). Otherwise, I'm able to manage the services fine; start/stop them independently, etc.

The only other

[2016-07-18 23:14] jarpy commented on #661
Maybe a quick:

[code]

will turn up something odd?

[2016-07-19 00:31] cdenneen commented on #659
Can you share your profile with this working. I'd like to compare because
as you said the OOM error wouldn't be showing as KILL -9.
On Mon, Jul 18, 2016 at 3:30 PM Tyler Langlois <notifications@github.com>
wrote:

[2016-07-19 03:01] shine60vn commented on #661
As @tylerjl commented and a tip from @jarpy, the root cause come from a line in my manifest file which was copied from dev env using puppet 3. Many thanks to you guys 👍 !

[2016-07-19 03:01] #661 closed

[2016-07-19 11:05] cdenneen commented on #659
@tylerjl I switched out the _enp0s8_ with _local_,_site_ and same issue happened... I tried to swap out network.host with "10.0.2.15" (local IP of the vm) and same issue.
I'm not sure what the differences are between my and your setup are. Opposite service still dying with KILL -9 so don't think it's an OOM thing. It's almost like they are trying to lock on to same resource (port, pid, lock, etc)

[2016-07-19 15:13] tylerjl commented on #659
Sure, here's a quick setup I put together that works (the nodes don't cluster for some reason, but that's beside the point, they start up in parallel just fine. It's just a weird issue with listening addresses I didn't have the time to debug).

[code]

`Vagrantfile`:

[code]

`default.pp`:

[code]

[2016-07-19 18:47] tylerjl commented on #152
It does seem to appear that the actual Elasticsearch docs have been wrong all along; I've submitted a PR (see above) and if that seems to be the case this should be a simple case of just changing the Java properties that we're passing into the `plugin` command.

[2016-07-20 11:46] cdenneen commented on #659
@tylerlj ok so it turns out to be a memory thing.
If I disabled MAX_LOCKED_MEMORY=unlimited from init_config both instances come up.
If I increase the vm memory to 1g both instances come up.
Only change I made here was adding transport.port to both instances otherwise it seemed to sometimes crisscross 9200 with 9301.

So for single instance on vm with `bootstrap.mlockall: true` and `MAX_LOCKED_MEM

[2016-07-20 12:53] cdenneen commented on #399
@tylerlj ticket yielded memory issue was the cause. Need at least 512mb. Logging should be corrected to show something.

[2016-07-20 13:38] tylerjl commented on #659
Closing since this isn't an issue with the puppet module.

While I do agree that the logging isn't very intuitive, there's really not much that Elasticsearch can do to highlight the root cause of the problem (and the puppet module can't do anything). If one instance attempts to lock 512M of memory, and another instance starts up with a similar request to the OS to lock the remaining memory of the

[2016-07-20 13:38] #659 closed

[2016-07-20 14:26] cdenneen commented on #659
@tylerlj the heap was set to 128m for each on a 512 machine.
Setting to 256 each on a 1gb vm is fine but so should be the latter...

On Wed, Jul 20, 2016 at 9:38 AM, Tyler Langlois <notifications@github.com>
wrote:

[2016-07-20 15:58] tylerjl commented on #654
Latest version release has the fix. Happy puppeting!

[2016-07-20 15:58] #654 closed

[2016-07-20 15:58] tylerjl commented on #650
Latest released version has the fix.

[2016-07-20 15:58] #650 closed

[2016-07-22 13:07] pietervogelaar opened #662 "Elasticsearch::config doesn't support Hiera merge_behaviour: deeper"
At the moment there is no support for the Hiera setting "merge_behaviour: deeper" when using the property "elasticsearch::config".

Please support this just like "elasticsearch::instances" and "elasticsearch::plugins" that DO have deeper support.

[2016-07-25 18:37] sherry-ger opened #664 "Add ability to set priority"
## Feature Description
Add the ability to set priority level in the elasticsearch.repo file created by the puppet module

[2016-07-26 19:21] #662 closed

[2016-07-26 21:39] cdenneen opened #667 "File function for elasticsearch::template - relative URLs error"
Module: 0.11.0
Puppet: 4.3.2
OS: Centos 7

[code]

https://docs.puppet.com/puppet/latest/reference/function.html#file

[code]

changing to:

[code]

yields file with that as actual content (but oddly doesn't yield error with `insert_template_logstash` even though it's not valid json)

[code]

Reason for using the file function is to remove the dependency on puppet fileserver, allows for cached run

[2016-07-26 22:04] tylerjl commented on #667
So if I'm understanding correctly, you just want to set the template's content based upon the file contents of `logstash.json` without passing a `puppet:///` URL to `elasticsearch::template` which it'll fetch.

Based upon the assumption that you're keeping `logstash.json` on the machine you're running puppet under (or the puppetmaster) under a file path like `/path/to/puppet/modules/profile/files/

[2016-07-27 14:14] craigcarnell opened #668 "Error: Could not set 'present' on ensure: Failed to install plugin"
Puppet config:

[code]

[code]

It throws this error every time, plugin is active and working

[2016-07-27 14:46] tylerjl commented on #643
With the fix in #660 from @bisscuitt and original fix in #646, these issues should be resolved and, at the very least, overrideable via the `module_dir` option again. Should be a part of the 0.13.0 release. Thanks for the PRs and feedback, y'all! 👍

[2016-07-27 14:46] #643 closed

[2016-07-27 14:48] tylerjl commented on #668
Thanks for the report - we just merged #660, which should permit the use of the `module_dir` parameter again (the current state is deprecated and doesn't actually do anything). The fix is in `master` and should be a part of the next release.

[2016-07-27 14:48] #668 closed

[2016-07-27 14:54] tylerjl commented on #664
Merged as of #666. Is in `master` and should be a part of next release.

[2016-07-27 14:54] #664 closed

[2016-07-27 16:23] tylerjl commented on #667
The way templates work is about to change significantly once #663 is merged, which has much more granular controls regarding API access with a ruby-native REST API client rather than plain `curl` commands. I (hope!) the improvements there will fix those types of ambiguous problems; if you want to verify that's the case, please do feel free to try it out or, alternatively, give me an example manife

[2016-07-27 16:26] tylerjl commented on #152
Verified that this is [a documentation error](https://github.com/elastic/elasticsearch/pull/19503), so I'll be making a simple fix in this module to reflect the correct options (for both HTTP and HTTPS).

[2016-07-27 19:03] #667 closed

[2016-07-28 14:53] #548 closed

[2016-07-28 14:59] tylerjl commented on #399
AFAIK, the only API access that requires username/password auth credentials is template management, and with the merge of #663 the top-level parameters `api_*` expose SSL, username, and password options for people using shield. As per normal practices, `elasticsearch::template` will inherit those top-level settings but they can be set explicitly on template resources if needed.

If there are addit

[2016-07-28 14:59] #399 closed

[2016-07-28 15:37] tylerjl commented on #547
Fully-featured native type and provider for `elasticsearch::template` implemented in #663, should be in the next release. 👍

[2016-07-28 15:37] #547 closed

[2016-07-29 13:30] muelli commented on #152
How does it work with a proxy requiring authentication?

[2016-07-29 13:39] tylerjl commented on #152
@muelli Ah, I missed that someone had confirmed those Java properties work. I'll implement those parameters as well.

[2016-08-01 15:30] tylerjl commented on #152
Implemented in #670, should be in the next release. I refactored how proxy parameters are passed in quite a bit, it should be much more predictable now that we're parsing things via `URL()` rather than a regex.

[2016-08-01 15:30] #152 closed

[2016-08-01 20:38] #412 closed

[2016-08-01 21:45] edestecd opened #672 "Plugin / Instance Ordering not working"
https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/init.pp#L607

This ordering sequence seems to have no effect.
I get instances executed before plugins which means that sometimes the instance services are started before the plugins are installed.

I'm not sure why this ordering does not work, but I suspect the arrow placement.
[code]

When I place this on my profile it works:
[

[2016-08-01 21:49] tylerjl commented on #672
Thanks for the report, @edestecd. I'll look into this and add some tests to explicitly check for ordering to see if I can get failures for the behavior you're describing. 👍

[2016-08-02 16:04] tylerjl commented on #672
I wrote some tests that confirm this is the case; it's actually an [upstream Puppet bug that's already been reported](https://tickets.puppetlabs.com/browse/PUP-1410). For users that don't use any shield users or roles, the chaining arrows won't actually get their relationships defined.

It's a little strange that you're having issues with ordering in this case since the `elasticsearch::plugin` typ

[2016-08-02 16:24] edestecd commented on #672
The code you are referring to is here?
https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/plugin.pp#L98

In that case, there is no relationship between plugin and service, if ```$restart_plugin_change``` is false, which it is by default now.
Maybe we ought to just set ```require``` here instead of nothing...  That was one of my thoughts.

[2016-08-03 04:11] mattyindustries opened #673 "Module 0.13.0 not supported with Puppet 3.4.3"
* Module version: 0.13.0
* Puppet version: 3.4.3
* OS and version: RHEL 6

## Bug description

I've recently updated the Puppet Forge module for elasticsearch to 0.13.0.

If I run my elasticsearch node against this version I get the Puppet error:

Error: Failed to apply catalog: undefined method `environment_instance' for #<Puppet::Resource::Catalog:0x7fea5163e618>

Searching through the module co

[2016-08-03 04:28] mattyindustries commented on #673
I've gone through the commit history and this code was added in at commit 8051033 which was after release 0.12.0.

[2016-08-03 10:31] mookie- opened #675 "Default datadir for Linux"
## Feature Description

Why do you use `/usr/share/elasticsearch/data` as default datadir for Linux? I think this is the wrong directory. It should be `/var/lib/elasticsearch/data`.

From: http://www.tldp.org/LDP/Linux-Filesystem-Hierarchy/html/usr.html

[code]

Also https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-dir-layout.html:

[code]

[2016-08-03 13:45] #606 closed

[2016-08-03 15:35] tylerjl commented on #673
Thanks for looking into this - if there's an easy workaround to keep supporting older versions I'll drop that in; otherwise, agreed that updating the min supported version looks like the right way to go. 👍

[2016-08-03 16:01] tylerjl commented on #675
I tend to agree here; keeping data in `/var/lib` is the de facto location that most people would expect to find it.

I tried to look into why this was changed in the module in commit 72c4c76 but didn't find anything obvious. If @electrical is listening in, maybe he can offer some insight into why the defaults are set to `/usr/share` rather than `/var/lib`? There's probably a good reason here that

[2016-08-04 09:44] danieloa opened #677 "Could not back up files of type characterSpecial when masking '/etc/systemd/system/elasticsearch.service'"
* Module version: "0.12.0"
* Puppet version: 3.8.6
* OS and version: CentOS 7.1 && CentOS 7.2

## Bug description
after initial installation, every puppet run fails in
    if ($elasticsearch::service_providers == 'systemd') {
      # Mask default unit (from package)
      file { '/etc/systemd/system/elasticsearch.service':
        ensure => link,
        target => '/dev/null',
      }
    }
with
E

[2016-08-04 13:46] tylerjl commented on #677
Interesting - just to help with debugging this, do you have any details on the file `/etc/systemd/system/elasticsearch.service` from one of your systems? As in, what the contents are, what `file` says it is, `ls -la` for the file, etc.

[2016-08-04 14:56] danieloa commented on #677
Hi,
its just a normal simlink to /dev/null... nothing special on it.

[root@hostname ~]# ls -la /etc/systemd/system/elasticsearch.service
lrwxrwxrwx. 1 root root 9 Aug  4 13:14 /etc/systemd/system/elasticsearch.service -> /dev/null

I also been thinking that could be a problem of the puppet agent itself not 'understanding' the link to /dev/null. Might be worth to just 'ensure => absent' instead of

[2016-08-04 15:14] tylerjl commented on #677
Changing `ensure` from `absent` to `link` was done as part of #644 since masking the unit 1) maintains the integrity of the distribution's package manager database and 2) opens up possibilities to reference the unit when creating instances instead of doing so via hard-coded templates in the puppet code (plus it's the recommended way to do it in systemd). I'll keep digging and see if I can figure o

[2016-08-04 15:17] bmeekhof opened #678 "Template module re-writes template every run"
* Module version: 0.13.0
* Elasticsearch version: 2.3.5
* Puppet version: 3.8.7
* OS and version: RHEL 7

## Bug description

Module is re-writing identical elastic template every run even though no changes are required.  As you can see below there are slight differences in between what the module reads from elastic and what it then puts as update but the template settings are identical.   The pup

[2016-08-04 15:24] tylerjl commented on #678
Thanks for the report - I actually stumbled across this yesterday and know what's happening; I'm working on a fix and will roll this into a bugfix release of the module. Sorry for the issues!  🐛

Note that one issue I'm still trying to figure out is how to reconcile the fact that you can define settings as `"settings":{"number_of_replicas":2}` but the API returns settings in the form `"settings":{

[2016-08-05 12:59] #567 closed

[2016-08-05 13:15] #677 closed

[2016-08-05 13:16] tylerjl commented on #677
This is in as of 4c687d1. Instead of doing the manual work of symlinking to `/dev/null`, which apparently makes puppet choke in some cases, we'll use an `exec` cal to `systemctl` to mask the unit, which should be more reliable. 👍  Thanks again for the report!

[2016-08-05 13:29] danieloa commented on #677
Thanks to you! very much appreciated :)

[2016-08-05 20:55] tylerjl opened #681 "Major Point Release Breaking Changes"
## Executive Summary

This module is probably overdue for a 1.x release - it's used in production by lots of people, and a major point release means that people can finally start relying on the assurances that [semver](http://semver.org/) offers them (that is, they can move around within a major version number without fear of breaking changes or incompatible code in their manifests). We'll use thi

[2016-08-06 22:02] #673 closed

[2016-08-06 22:05] #678 closed

[2016-08-07 15:02] tylerjl commented on #678
@bmeekhof I've merged a fix in #679 that _should_ work. I tested your specific case to get the fix right, but if you get a chance, it would be helpful to know whether the change fixes your case in the field as well before calling this definitively fixed. Otherwise I'll just release this as part of the next bugfix release and assume things look good. 👍

[2016-08-07 18:29] #672 closed

[2016-08-08 14:28] bmeekhof commented on #678
@tylerjl The fix resolves the issue for me, thanks!

[2016-08-09 05:35] siliconalchemy opened #683 "Deprecated warning"
* Module version: 0.13.0
* Puppet version: 4.5.3
* OS and version: CentOS 7.2.1511

## Bug description
When using es_instance_conn_validator, I get a deprecated warning on the console every time puppet is run:

[code]

This is the relevant manifest:
[code]

[2016-08-16 09:33] RogierSchuring commented on #565
Same problem here with the kopf plugin. (using offline installation)
worked around this issue by adding the next block of code to our profile, but it would be ideal if the module would take care of this:
`  if ($ensure=='present') {
    file { $path_plugins:
      ensure  => directory,
      owner   => $es_user,
      group   => $es_group,
      recurse => true,
    }
  }`
ES 2.3.3
Kopf 2.1.2
Pupp